.padding
  %h1 PPF Talking Points for #{@talking_pointable}

  %table
    %tr
      %th Talking point
      %th
      %th

    - @talking_points.each do |talking_point|
      %tr
        %td= talking_point.talking_point
        %td= link_to 'Edit', edit_admin_talking_point_path(talking_point)
        %td= link_to 'Destroy', admin_talking_point_path(talking_point), :confirm => 'Are you sure?', :method => :delete

  %br

  = link_to 'New Talking Point', {:action => 'new', :talking_pointable_type => @talking_pointable.class.name, :talking_pointable_id => @talking_pointable.id }, :class => "silver button small"
  %br
  %br
    - if @talking_pointable.class.name == 'Bill'
      = link_to "Return to #{@talking_pointable.typenumber}", bill_path(@talking_pointable)
    - elsif  @talking_pointable.class.name == 'Subject'
      = link_to "Return to #{@talking_pointable.term}", :controller => "/issue", :action => 'show', :id => @talking_pointable