<h1>Listing political_notebooks</h1>

<table>
  <tr>
    <th>User</th>
  </tr>

<% for political_notebook in @political_notebooks %>
  <tr>
    <td><%=h political_notebook.user_id %></td>
    <td><%= link_to 'Show', political_notebook %></td>
    <td><%= link_to 'Edit', edit_political_notebook_path(political_notebook) %></td>
    <td><%= link_to 'Destroy', political_notebook, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New political_notebook', new_political_notebook_path %>
