<p>This is a list of all the different types of "meta" content available from OpenCongress.org -- for example, the most-viewed bills on the site -- and RSS feeds for each type. When people use OpenCongress, they create a valuable window onto what issues they care about, what they're searching for, and what interests them. One of the primary goals of OpenCongress is to harness this social wisdom as a tool for tracking what's really happening in Congress.</p>

<p>Anyone is free to re-publish this "meta" data, subscribe to RSS feeds for it, and display it on her website using the free and easy <a href="/resources/syndicator">syndication panel</a>. Just copy-and-paste the HTML code, styled according to your choosing. We encourage you to share this social wisdom as another way of building public knowledge about Congress.</p>

<ul class="blue-arrow">

	<li><a href="/bill/most/viewed">Bills most-viewed</a>&nbsp;<a href="/bill/atom/most/viewed"><%= image_tag 'feed.jpg', :class => 'feed-button' %></a></li>
	
	<li><a href="/bill/most/news">Bills most in news</a>&nbsp;<a href="/bill/atom/most/news"><%= image_tag 'feed.jpg', :class => 'feed-button' %></a></li>
	
	<li><a href="/bill/most/blog">Bills most on blogs</a>&nbsp;<a href="/bill/atom/most/blog"><%= image_tag 'feed.jpg', :class => 'feed-button' %></a></li>
	
	<li><a href="/people/senators?sort=popular">Senators most viewed</a>&nbsp;<a href="/people/atom_top20?type=sen">
	<%= image_tag 'feed.jpg', :class => 'feed-button' %>
	</a></li>
	
	<li><a href="/people/senators/most/news/">Senators most in news</a>&nbsp;<a href="/people/senators/atom/most/news">
	<%= image_tag 'feed.jpg', :class => 'feed-button' %>
	</a></li>
	
	<li><a href="/people/senators/most/blogs/">Senators most in blogs</a>&nbsp;<a href="/people/senators/atom/most/blog">
	<%= image_tag 'feed.jpg', :class => 'feed-button' %>
	</a></li>
	
	<li><a href="/people/representatives?sort=popular">Representatives most viewed</a>&nbsp;<a href="/people/atom_top20?type=sen">
	<%= image_tag 'feed.jpg', :class => 'feed-button' %>
	</a></li>
	
	<li><a href="/people/representatives/most/news/">Representatives most in news</a>&nbsp;<a href="/people/representatives/atom/most/news">
	<%= image_tag 'feed.jpg', :class => 'feed-button' %>
	</a></li>
	
	<li><a href="/people/representatives/most/blogs/">Representatives most in blogs</a>&nbsp;<a href="/people/representatives/atom/most/blog">
	<%= image_tag 'feed.jpg', :class => 'feed-button' %>
	</a></li>
	
	<li><a href="/committee/by_most_viewed">Committees most viewed</a>&nbsp;<a href="/committee/atom_top20">
	<%= image_tag 'feed.jpg', :class => 'feed-button' %>
	</a></li>

	<li><a href="/issue/by_most_viewed">Issues most viewed</a>&nbsp;<a href="/issue/atom_top20">
	<%= image_tag 'feed.jpg', :class => 'feed-button' %>
	</a></li>
	
	<li><a href="/industry/by_most_viewed">Industries most viewed</a></li>
	
	<li><a href="/search/popular">Top Search Terms</a></li> 
	
	<li><a href="/resources/syndicator">Syndicate This!</a></li>

</ul>

