<div id="the-people">
<% @show_article_count ||= false %>
<% hide_help ||= false %>
<ul id="people_list" class="listed">
	<% unless hide_help %>
	<a id="top" style="visibility:hidden;"></a>
	<% end %>
	<% curr_state = '' %>
  <% curr_letter = '' %>
  <% people.each_with_index do |person, i| %>
  
    <% if @sort == :state %>
      <% if person.roles.first.state != curr_state %>
        <% curr_state = person.roles.first.state %>
				<hr id="<%= curr_state[0,1] %>"/>
        <li class="state"><div class="label" id="<%= curr_state %>"><b><%= State.for_abbrev(curr_state) %></b><a href="#top">top</a></div></li>
      <% end %>
    <% end %>                                      

		<% if @sort == :name %>
				<% if person.lastname.to_s[0,1] != curr_letter %>
    			<% curr_letter = person.lastname.to_s[0,1] %>
					<li class="state"><div class="label" id="<%= curr_letter %>"><b><%= curr_letter %></b><a href="#top">top</a></div></li>
				<% end %>
			<% end %>
    <li id="p<%= person.id.to_s %>" class="person">
      <%= "<span class='date'>#{(i + 1)}</span>" unless (@sort == :name or @sort == :state or controller.action_name = 'zipcodelookup') %>  
			<%= link_to("<img src='/images/photos/thumbs_125/" + person.id.to_s + ".jpeg'>", {:controller => "people", :action => "show", :id => person.to_param}) %>
      
			<div class="left details">
				<a class="name" href="/people/show/<%= person.to_param %>"><%= person.name %> <span><%= person.party %></span></a>
      
			<% if @show_tracked_list %>
         <%= render :partial => "shared/track_link", :locals => {:object => person, :title => person.title_long} %>
      <% end %>
      
			<!-- #TODO 
			<%# if person.is_hot? %>
				<div class="temp hot">HOT</div>
			<%# elsif person.is_cooling? %>
			<div class="temp cooling">Cooling</div>
			<%# end %>
			-->
		
			<% if @sort == :popular %>
        (<%= person.views(DEFAULT_COUNT_TIME) %> views)
      <% end %>
      <% if @show_article_count %>
        (<%= person.commentary_count %> articles)
      <% end %>
		</div>

			<ul class="left stats">
				<% if person.person_approvals.size > 0 %>
				<li class="rating"><%= (person.person_approvals.average(:rating) * 10.0).round %>% User Approval</li>
				<% else %>
				<li class="no_rating">Rate this Senator</li>
				<% end %>
				<li class="bill_count"><%= person.person_stats && person.person_stats.sponsored_bills ? person.person_stats.sponsored_bills : "0" %> Sponsored Bills</li>
				<% if person.belongs_to_major_party? %>
				<li class="cronie">Votes <%= person.with_party_percentage.round %>% with Party</li>
				<% end %>
			</ul>
		</li>
  <% end %>
</ul>
</div>
