- bgcolor = "#FFFFFF"
- bgcolor = "#FFEEEE" if person.party == "Republican"
- bgcolor = "#EEEEFF" if person.party == "Democrat"
%div{:class => "person_box_big", :style => "background-color:#{bgcolor};margin-bottom:3px;"}
  = link_to image_tag(person.photo_path(:thumb), :class =>"photo", :alt => 'photo'), person_url(person.id)
  %p
    - if dist = person.district_rel
      = link_to "#{dist.ordinalized_number} District", state_district_path(person.state, person.district), :class => 'title'
      %span= link_to person.full_name, person_url(person.id)
      - if dist.group
        %span= link_to("MyOC Group", group_path(dist.group.id))
    - else
      = link_to person.full_name, person_url(person.id), :class => 'title'
    %span= person.party
    - if person == @senators.first
      %strong
      = pluralize(person.consecutive_years, 'year')
      in office
    - else
      = pluralize(person.consecutive_years, 'year')
      in office
  %div(style="clear:both;")
