<div class="main">
<%= render :partial => 'nbtabs' %>
<%= render :partial => 'shared/sort_commentary', 
                                :locals => { :object_type => 'people', :object_id => @person.id } %>
                                
<!--<p><a href="/people/show/<%= @person.id %>" class="arrow-left"><b>Back to <%= @person.popular_name %>'s Profile</b></a></p>-->
<% cache("#{@person.fragment_cache_key}_blog_#{@sort}_page_#{@page}") do %>
  <!-- cached: <%= "#{@person.fragment_cache_key}_blog_#{@sort}_page_#{@page}" %> // <%= Time.now %> -->
  <p><%= will_paginate @blogs, :params => { :sort => @sort }  %></p>
  <%= render :partial => 'shared/blogs', :object => @blogs,
    :locals => { :limit => @blogs.size, :all_size => @person.blog_article_count, :default_title => @person.full_name,
                 :more_url => { :controller => 'people', :action => 'blogs', :id => @person } } %>
  <p><%= will_paginate @blogs, :params => { :sort => @sort }  %></p>
<% end %>
</div>