<div id="heading">

<h2>Head-to-Head Voting Comparison</h2>

</div>

<div class="padding">
<% if @person1 %>  
<div id="compopts" class="ctop">

<div class="ctabs">
	<div id="creps" class="<%= @tab_state %>">
		<a href="/people/compare?representatives=true" class="med_button"><span>Representatives</span></a>
	</div>
	<div id="csens" class="<%= @tab_state %>">
		<a href="/people/compare" class="med_button"><span>Senators</span></a>
	</div>
</div>

		<div id="compbox">
			<div class="cbox-bottom">
				<div class="cbox-top">
					<div class="cbox clearfix second">

						<% form_tag('/people/compare', :method => :get) do %>
						<% if params[:representatives] %>
						<%= hidden_field_tag "representatives", "true" %>
						<% end %>
						<%= select_tag "person1", options_from_collection_for_select(@peeps, "id", "select_list_name", @person1.nil? ? nil : @person1.id), {:onchange => "this.form.submit();" }%> 
						<span>AND</span> 
						<%= select_tag "person2", options_from_collection_for_select(@peeps, "id", "select_list_name", @person2.nil? ? nil : @person2.id), {:onchange => "this.form.submit();"} %>
						<br />
						<div><%= submit_tag 'Compare' %></div>
						<% end %>      
					
					
					
					
						<div>
							<div class="comppeeps">
								<h3><%= link_to @person1.full_name, :controller => 'people', :action => 'show', :id => @person1.ident %></h3>
								<%= link_to("<img src='/images/photos/thumbs_102/#{@person1.id}.png' alt='#{@person1.full_name}'", :controller => 'people', :action => 'show', :id => @person1.ident) %>
								<p>
									<b>State:</b> <%= @person1.state %><br/>
									<b>Party:</b> <%= @person1.party %><br/>
									<b>Abstains:</b> <%= @person1.abstains_percentage.round %>%<br/>
									<% if @person1.belongs_to_major_party? %>
									<b>Votes with Party:</b> <%= @person1.with_party_percentage.round %>%<br/>
									<% end %>
									<% if @person1.person_approvals.count > 0 %>
									<b>OpenCongress Users' Approval Rating:</b> <%= (@person1.person_approvals.average(:rating) * 10.0).round %>%<br/>
									<% end %>
								</p>

							</div>                      
							<div class="comppeeps right">
								<h3><%= link_to @person2.full_name, :controller => 'people', :action => 'show', :id => @person2.ident %></h3>
								<%= link_to("<img src='/images/photos/thumbs_102/#{@person2.id}.png' alt='#{@person2.full_name}'", :controller => 'people', :action => 'show', :id => @person2.ident) %>      
								<p>
									<b>State:</b> <%= @person2.state %><br/>
									<b>Party:</b> <%= @person2.party %><br/>
									<b>Abstains:</b> <%= @person2.abstains_percentage.round %>%<br/>
									<% if @person2.belongs_to_major_party? %>
									<b>Votes with Party:</b> <%= @person2.with_party_percentage.round %>%<br/>
									<% end %>
									<% if @person2.person_approvals.count > 0 %>
									<b>OpenCongress Users' Approval Rating:</b> <%= (@person2.person_approvals.average(:rating) * 10.0).round %>%<br/>
									<% end %>
								</p>

							</div>     
						</div>


					
					
					
					</div>

				</div>
			</div>
		</div>
	</div>






<div class="voting_similarity">
<% unless @vote_together[1] == 0 %>
  <h3>Voting Similarity</h3>
  <div class="floatleft">
	  <img src="http://chart.apis.google.com/chart?cht=v&amp;chs=180x90&amp;chco=ff9900,6FC6B0&amp;chd=t:<%= @person2.unabstained_roll_calls.count %>,<%= @person1.unabstained_roll_calls.count %>,0,<%= (@vote_together[0].to_f /
	@vote_together[1].to_f * 100).round %>&amp;chdl=<%= @person2.lastname%>|<%= @person1.lastname %>" style="float:right;margin:3px;border:3px solid #FFFFFF;"/>
      <p>
		<%= link_to @person1.full_name, :controller => 'people', :action => 'show', :id => @person1.ident %> and <%= link_to @person2.full_name, :controller => 'people', :action => 'show', :id => @person2.ident %> have voted together <%= @vote_together[0] %> times on roll call votes since January, 2007 in votes where neither abstained, representing a voting similarity of <%= (@vote_together[0].to_f / @vote_together[1].to_f * 100).round %>%.
	  </p>
  </div>  

  <div class="floatright">
    <%= render :partial => "vote_sim_scope", :locals => {:person1 => @person1, :person2 => @person2, :vote_together => ( @vote_together[0].to_f /   @vote_together[1].to_f * 100.0 ).round} %>
  </div>
</div>
<% end %>



<h3>Shared Committees</h3>
<p class="shared"><% unless @shared_committees.empty? %>  <%= link_to @person1.full_name, :controller => 'people', :action => 'show', :id => @person1.ident %> and <%= link_to @person2.full_name, :controller => 'people', :action => 'show', :id => @person2.ident %> sit together on 
	<% if @shared_committees.length > 1 %>
	<% @shared_committees.each do |c| %>
	<% if c == @shared_committees.last %>
	and
	<% end %>
	<% if c.subcommittee_name.blank? %>
	the <%= link_to c.name, :controller => :committee, :action => :show, :id => c.to_param %> committee
	<% else %>
	the <%= link_to c.subcommittee_name, :controller => :committee, :action => :show, :id => c.to_param %> sub-committee of the <%= link_to c.name, :controller => :committee, :action => :show, :id => c.to_param %> committee
	<% end %>
	<% if @person1 == c.chair %> (chaired by <%= @person1.lastname %>) <% elsif @person2 == c.chair %> (chaired by <%= @person2.lastname %>)<% end %>
	<% if c == @shared_committees.last %>
	.
	<% else %>
	,
	<% end %>
	<% end %>
	<% else %>
	<% if @shared_committees.first.subcommittee_name.blank? %>
	the <%= link_to @shared_committees.first.name, :controller => :committee, :action => :show, :id => @shared_committees.first.to_param %> committee <% if @person1 == @shared_committees.first.chair %> (chaired by <%= @person1.lastname %>) <% elsif @person2 == @shared_committees.first.chair %> (chaired by <%= @person2.lastname %>)<% end %>
	.
	<% else %>
	the <%= link_to @shared_committees.first.subcommittee_name, :controller => :committee, :action => :show, :id => @shared_committees.first.to_param %> sub-committee of the <%= link_to @shared_committees.first.name, :controller => :committee, :action => :show, :id => @shared_committees.first.to_param %> committee
	.
	<% end %>
	<% end %>
	<% else %>
	<%= link_to @person1.full_name, :controller => 'people', :action => 'show', :id => @person1.ident %> and <%= link_to @person2.full_name, :controller => 'people', :action => 'show', :id => @person2.ident %> are not on any common committees.
	<% end %>
</p>






<h3 class="dark">Roll Call Comparision</h3>

<table class="comp" cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<th align="left" width="80%">Bills</th>
			<th width="1%" align="center">Roll Call</th>
			<th width="1%">&nbsp;</th>
			<th width="1%">&nbsp;</th>

		</tr>
	</thead>

	<tbody>
	
	<% @hot_votes.each do |v| %>
	<% vo = v[1].first %>
	<tr>
		<td class="billlist">
			<%= image_tag 'icon-hot-bill.gif', :class => 'noborder', :style => 'line-height: .8em;', :alt => 'hot bill' %>
		
		
			<%= link_to vo.short_identifier, :controller => :bill, :action => :show, :id => vo.bill.ident %>
			 <%= vo.bill.title_common %>
			<% unless vo.title.blank? %> 
		
			<em>(<%= vo.title %>)</em>
			
			<% end %>
		</td>
	<%= rc_compare(vo) %>
	</tr>                           

	<% end %>

	
	<% @cold_votes.each do |v| %>
		<% vo = v[1].first %>
	<tr>
		<td>
			<%= link_to vo.short_identifier, :controller => :bill, :action => :show, :id => vo.bill.ident %> 
			<%= vo.bill.title_common %>				
		</td>
		<%= rc_compare(vo) %>
	</tr>
	<% end %>
	</tbody>
	
</table>


<p>
<br />
<br />For more information, view the full voting history of these two members:
<%= link_to @person1.full_name, :controller => 'people', :action => 'voting_history', :id => @person1.ident %> and
<%= link_to @person2.full_name, :controller => 'people', :action => 'voting_history', :id => @person2.ident %>
</p>


<% else %>
<div class="explains">
	<ul>
		<li>Side-by-side voting records on hot bills</li>
		<li>How often they vote together</li>
		<li>How often they vote with their party</li>
		<li>and more...</li>
	</ul>
</div>
<div class="explains2">
	<p>With this tool, you can compare the voting records of any two senators or representatives during the current <%= DEFAULT_CONGRESS %>th session of Congress. </p>
<br/>
	<p><strong>Start by choosing two people from the drop-down menus</strong></p>
	<br /.>
</div>

<div id="compopts">
	
	<div class="ctabs">
	<div id="creps" class="<%= @tab_state %>">
		<a href="/people/compare?representatives=true" class="med_button"><span>Representatives</span></a>
	</div>
	<div id="csens" class="<%= @tab_state %>">
		<a href="/people/compare" class="med_button"><span>Senators</span></a>
	</div>
	</div>
	
	<div id="compbox">
		<div class="cbox-bottom">
			<div class="cbox-top">
				<div class="cbox clearfix first">
					<%= image_tag 'smallc1.png', :alt => 'person', :style => 'float:right;margin:0px 10px 10px 0;' %>
					<%= image_tag 'smallc2.png', :alt => 'person', :style => 'float:left;margin:0px 0 10px 10px;' %>
					<% form_tag('/people/compare', :method => :get) do %>
					<% if params[:representatives] %>
					<%= hidden_field_tag "representatives", "true" %>
					<% end %>
					<%= select_tag "person1", options_from_collection_for_select(@peeps, "id", "select_list_name") %> 
					<span>AND</span> 
					<%= select_tag "person2", options_from_collection_for_select(@peeps, "id", "select_list_name") %>
					<br />
					<div><%= submit_tag 'Compare' %><div>
					<% end %>      
				</div>
			</div>
		</div>
	</div>
</div>

<div class="related-box2 clearfix">
	Or check out one of these popular comparisons:
	<ul class="inline">
		<li><a href="/people/compare?representatives=true&person1=400311&person2=400227&commit=Compare">Ron Paul and Dennis Kucinich</a></li> 
		<li><a href="/people/compare?person1=300022&person2=400629&commit=Compare">Clinton and Obama</a></li> 
		<li><a href="/people/compare?representatives=true&person1=400034&person2=400075&commit=Compare">Roy Blunt and Jim Clyburn</a></li>
		</ul>
</div>
<% end %>

</div>
</div>


</div>
