<div id="money_trail">
  
  <p>This is a list of the top 10 industries giving campaign contributions to <%= @person.popular_name %> in <%= CURRENT_OPENSECRETS_CYCLE %>, the most recent year for which we have campaign contribution data.</p>
  
  <table class="simple-table">
    <tr><th>Interest Group</th><th>Individual</th><th>PAC</th><th>Total</th></tr>
    <% @person.top_industries.each do |ig| %>
      <tr style="border-bottom: 1px dotted #000">
        <td width=400><%= ig.name %></td>
        <td>$<%= number_with_delimiter(ig.ind_contrib_total.to_i) %></td>
        <td>$<%= number_with_delimiter(ig.pac_contrib_total.to_i) %></td>
        <td>$<%= number_with_delimiter(ig.contrib_total) %></td>
      </tr>
    <% end %>
    
  </table>
  <br />
  <p>This is a list of the top 25 interest groups giving campaign contributions to <%= @person.popular_name %> in <%= CURRENT_OPENSECRETS_CYCLE %>.</p>
  
  <table cellpadding=10>
    <tr><th>Interest Group</th><th>Individual</th><th>PAC</th><th>Total</th></tr>
    <% @igs.each do |ig| %>
      <tr style="border-bottom: 1px dotted #000">
        <td width=400><%= ig.name %><br/>(<%= ig.crp_industry.name %>)</td>
        <td>$<%= number_with_delimiter(ig.ind_contrib_total.to_i) %></td>
        <td>$<%= number_with_delimiter(ig.pac_contrib_total.to_i) %></td>
        <td>$<%= number_with_delimiter(ig.contrib_total) %></td>
      </tr>
    <% end %>
  </table>

  <div class="partner_logo">
  <%= link_to image_tag('partners/opensecrets.png'), "http://opensecrets.org" %>
  <p>Campaign contribution data provided by <%= link_to "OpenSecrets.org", "http://OpenSecrets.org" %>, the nonpartisan guide to money in politics. See more detailed info about <%= @person.popular_name %> <a href="http://www.opensecrets.org/politicians/summary.php?cycle=<%= CURRENT_OPENSECRETS_CYCLE %>&cid=<%= @person.osid %>">here</a>.</p>
  </div>
  
</div>
