<div class="main">
<%= render :partial => 'nbtabs' %>
<%= render :partial => 'shared/sort_commentary', 
                                :locals => { :object_type => 'people', :object_id => @person.id } %>

<% cache("#{@person.fragment_cache_key}_news_#{@sort}_page_#{@page}") do %>
  <!-- cached: <%= "#{@person.fragment_cache_key}_news_#{@sort}_page_#{@page}" %> // <%= Time.now %> -->
  <p><%= will_paginate @news, :params => { :sort => @sort }  %></p>
  <%= render :partial => 'shared/news', :object => @news,
    :locals => { :limit => @news.size, :all_size => @person.news_article_count, :default_title => @person.full_name,
                 :more_url => { :controller => 'people', :action => 'news', :id => @person } } %>
  <p><%= will_paginate @news, :params => { :sort => @sort }  %></p>
<% end %>
</div>