<div id="heading">
  <h2>Voting With Party</h2>
</div>

<div class="padding">
  <p class='behave'>This is a ranking of how often <%= @party_adj %> <%= @people_names %> vote with a majority of the <%= @chamber.capitalize %> <%= @party_adj %> caucus. It factors every single vote that has been taken since the beginning of the current <%= DEFAULT_CONGRESS.ordinalize %> session of Congress. All votes are weighted equally in this ranking, so a non-binding resolution honoring a collegiate sports team, for example, is considered equal to a vote on passing health care reform. Since the vast majority of the hundreds of votes factored in are routine in nature, the result is that even highly-independent senators have a seemingly high score on voting with their party. But it's the context that matters, and this ranking attempts to provide that. Obviously, this gives only a partial picture of the ideological spectrum. If you want to see how senators have voted on major legislation in Congress, check out our section of <a href="/roll_call/all?sort=hotbills">Hot Bills</a> or use our <a href='/person/compare'>head-to-head vote comparison tool</a> to compare the voting records of any two members of Congress.</p>
  
  <table class="simple-table">
    <tr><th>Rank</th><th>Name</th><th>Total Votes</th><th>Votes With Party</th><th>Rate</th></tr>

    <% @people.each_with_index do |p,i| %>
      <tr>
        <td><%= (i+1) %></td>
        <td><%= link_to_person(p) %></td>
        <td><%= number_with_delimiter(p.total_session_votes) %></td>
        <td><%= number_with_delimiter(p.party == 'Democrat' ? p.votes_democratic_position : p.votes_republican_position) %></td>
        <td><%= number_with_precision(p.votes_with_party_percentage, :precision => 1) %>%</td>
      </tr>
    <% end %>
  </table>
</div>      