<div id="tertiary-content">
  <div class="col">
    <div class="related-box">
      <div>
      <h3>Get Blog Updates by Email</h3>

        <form action="http://www.feedburner.com/fb/a/emailverify" method="post" target="popupwindow" onsubmit="window.open('http://www.feedburner.com', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
        <p><input type="text" class="add_to_emails" name="email"/></p>
        <input type="hidden" value="http://feeds.feedburner.com/~e?ffid=750050" name="url"/>
        <input type="hidden" value="Open Congress : Congress Gossip Blog" name="title"/>
        <input class="floatright" type="image" value="Subscribe" src="<%= image_path 'subscribe.png' %>" />
        <p class="floatleft small">Delivered by <a href="http://www.feedburner.com" target="_blank">FeedBurner</a></p>
        </form> 

      </div>
      <div class="clearfix margintop">
      
      
      <h3><%= link_to '<span>Demand Question Time!</span>'.html_safe, '/resources/question_time', :class => 'med_button'  %></h3>
      
      <br />
      <br />      
      <h3>Find us at</h3>
			<a class="med_button twitter" href="http://twitter.com/opencongress"><span><%= image_tag 'twitter_logo.png' %></span></a>
			<a class="med_button facebook" href="http://www.facebook.com/OpenCongress"><span><%= image_tag 'facebook_badge.png', :alt=>'Find our Facebook' %></span></a>			
      </div>
      
      <h3>Want a simple way to stay on top of what's happening in Congress?</h3>
      <a href="http://feeds.feedburner.com/OpenCongressCongressGossipBlog" class="sub_blog">Subscribe to this blog!</a>
      
      <h3>Send Us a Tip</h3>              
      <% related_gossip.each do |g| %>
        <ul class="tips">
          <li>
            <p><%= link_to (truncate g.tip), :controller => 'gossip' %></p>
            <p class="small">Submitted by <%= g.name %> on <%= short_date g.created_at %>
            </li>
          </ul>
        <% end %> 
        
        
          <!-- ///// This stuff needs to go above the articles /////
          
          <p>OpenCongress brings together official government data with news and blog coverage to give you the real story behind each bill. <a href="/about">Read more</a> about OpenCongress.</p>
          <p>The OpenCongress blog highlights useful news and blog coverage from around the web in order to give you the real story behind what's happening in Congress. <a href="/about/blog">Read more</a> about the OpenCongress blog.</p>
          <p>You may have some of the best information on Congress. Anyone can submit a tip to the OpenCongress blog using this form:</p>
         -->
          <p class="tip">You can submit a tip anonymously, or attributed to your own name and e-mail, whichever you prefer. <a href="/gossip">Read more</a> about submitting a tip.</p>    
         
         
         
        <p>
          <%= link_to '<span>Submit a tip</span>'.html_safe, { :controller => 'gossip', :action => 'submit' }, :class => 'med_button' %>
        </p>
         
         
         <br /><br /><br />
       
      <%= render :partial => 'articles/archives' %>
       
       
      <% if @blogroll %>
        <h3>Blogroll</h3>            
        <ul class="blogroll">
          <%= @blogroll.article.html_safe %>
        </ul>
      <% end %>
      
      <br />
			<h3>See our Twitter List</h3> 
			<a href="http://twitter.com/#/list/OpenCongress/congress-watchers">Congress Watchers</a>
      


      </div>
      
 
      
    <!-- // related-box-->
  </div>
</div>
<!-- // col  // tertiary-content -->