<h1>People who vote like I do</h1>

<% if @like_voters == nil %>
  <p>You have not voted on anything!</p>
<% elsif @like_voters.empty? %>
  <p>Could not find any users voting similarly.</p>
<% else %>
  <table class="like_voters" cellpadding="0" cellspacing="0">
  <tr class="top"><th class="first" colspan="2">User</th><th style="padding-left:36px">Location</th><th>Last Login</th><th>Voting Similarity</th><th>Actions</th></tr>
    <% @like_voters.each do |u| %>
      <tr class=<%= cycle('odd','even') %>>
        <td class="first photo">
        <% if u.small_picture %>
           <%= image_tag "/images/users/" + h(u.login) + "_s.jpg", :alt => "user photo" %>
         <% else %>
           <%= image_tag "anon-img-ex1.gif", :alt => "no photo" %> 
         <% end %>
        </td>
        <td>
      <%= link_to u.login, user_profile_path(u.login) %></td>
      <td style="padding-left:36px"><%= u.can_view(:my_location, current_user) ? u.location.blank? ? "-" : u.location : image_tag("private.png", :alt => "private", :title => "Private") %></td>
      <td><%= u.last_login ? time_ago_in_words(u.last_login,true) + " ago" : image_tag("private.png", :alt => "private", :title => "Private") %></td>
      <td><%= u.solr_score %></td>
      <td>
          <div id="fdiv_<%= u.id %>">
              <%= add_friend_link_ajax(u,"fdiv_#{u.id}") %>
          </div>
      </td>
      </tr>
    <% end %>
  </table>
<% end %>
  
