<%= render :partial => "profile/profile_nav" %>

<div class="profile_content">



<h1>Add a friend</h1>


<div style="margin:10px 20px 0 0;clear:both;float:left;">
<h3>Find Users</h3>
<ul style="margin-left:10px;">
<li><%= toggler("find_by_email", "By Email", "Hide&nbsp;Details", "arrow big", "arrow-hide big" ) %> </li>
<li><%= toggler("find_by_name", "By Real Name", "Hide&nbsp;Details", "arrow big", "arrow-hide big" )%> </li>
<li><%= toggler("find_by_username", "By Username", "Hide&nbsp;Details", "arrow big", "arrow-hide big" )%> </li>
</ul>
</div>


<div id="find_by_email" style="display:none;float:left;margin-top:20px;">
	<fieldset style="border:0;"><legend>Find User by Email</legend>
	   <% form_remote_tag :update => "resdiv", :url => {:action => "search"} do %>
	     <input type="text" name="email" />
	     <%= submit_tag "Search" %>
	    <% end %>
	</fieldset>
</div>
<div id="find_by_name" style="display:none;float:left;margin-top:20px;">
	<fieldset style="border:0;"><legend>Find User by Real Name</legend>
	   <% form_remote_tag :update => "resdiv", :url => {:action => "search"} do %>
	     <input type="text" name="name" />
	     <%= submit_tag "Search" %>
	    <% end %>
	</fieldset>
</div>
<div id="find_by_username" style="display:none;float:left;margin-top:20px;">
	<fieldset style="border:0;"><legend>Find User by Username</legend>
	   <% form_remote_tag :update => "resdiv", :url => {:action => "search"} do %>
	     <input type="text" name="login" />
	     <%= submit_tag "Search" %>
	    <% end %>
	</fieldset>
</div>
<div id="resdiv" style="clear:both;padding-top:10px;"></div>

</div>