
<div class="explain_box">
This is a list of all the users supporting <%= @bill.title_typenumber_only %> who have made their pages of Tracked Items public. Some users may be supporting <%= @bill.title_typenumber_only %>, but have made their pages private or friends-only. For more info, click on the usernames below and view their profile pages of Actions. You may find people with expertise in your interests or opinions that you value. Invite them to be your friend, and their latest actions will appear in your profile's page of Friends.  
</div>

<% if @users.empty? %>
  <p>Nobody is supporting that Bill</p>
<% else %>

<table style="border:2px solid #EEF2EB;background:#FEFCEC none repeat scroll 0%;width:100%;">
<tr>
  <% if @in_my_district_solr && @in_my_district_solr.total > 0 %>
  <th>Users in My District Supporting <%= @bill.title_typenumber_only %>: <%= @in_my_district.length %> 
     <br/><span style="font-weight:normal;">(<%= @in_my_district.collect{|u| u['support'] == "0" ? 1 : nil }.compact.length %> votes Aye, <%= @in_my_district.collect{|u| u['support'] == "1" ? 1 : nil }.compact.length %> votes Nay, <%= @in_my_district.sum{|k| k['total_comments'].to_i} %> comments)</span>
  </th>
  <% end %>
  <% if @in_my_state_solr && @in_my_state_solr.total > 0 %>
  <th>Users in My State Supporting <%= @bill.title_typenumber_only %>: <%= @in_my_state.length %>
     <br/><span style="font-weight:normal;">(<%= @in_my_state.collect{|u| u['support'] == "0" ? 1 : nil }.compact.length %> votes Aye, <%= @in_my_state.collect{|u| u['support'] == "1" ? 1 : nil }.compact.length %> votes Nay, <%= @in_my_state.sum{|k| k['total_comments'].to_i} %> comments)</span>
  </th>
  <% end %>
<% if @users_solr && @users_solr.total > 0 %>
<th>All Users Supporting <%= @bill.title_typenumber_only %>: <%= @users.length %>
   <br/><span style="font-weight:normal;">(<%= @users.collect{|u| u['support'] == "0" ? 1 : nil }.compact.length %> votes Aye, <%= @users.collect{|u| u['support'] == "1" ? 1 : nil }.compact.length %> votes Nay, <%= @users.sum{|k| k['total_comments'].to_i} %> comments)</span>
</th>
<% end %>

</tr>
</table> 
<br/>
  <%= render :partial => "tracking_tables" %>

<% end %>
  
