<% @page_title = 'OpenCongress Blog Posts' %>

<%= link_to '<span>New Article</span>', { :action => 'new' }, :class => 'med_button', :style => 'margin: 10px;' %>
<br/>
<table width="100%" cellpadding="5px">
  <tr>
	<th>Title</th>
	<th>Article</th>
	<th>Date</th>
	<th>Published</th>
	<th>Frontpage</th>
	<th>Author</th>
  </tr>
  
<% for article in @articles %>
  <tr>
    <td><%= link_to (article.title || 'blank'), :action => 'edit', :id => article %></td>
  	<td><%= truncate article.html_stripped %></td>
  	<td><%= article.created_at.to_formatted_s(:short) %></td>
  	<td><%= article.published_flag %></td>
  	<td><%= article.frontpage %></td>
  	<td><%= article.user.login rescue nil %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => article %> | 
      <%= link_to 'Delete', { :action => 'destroy', :id => article }, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div class="padding">
  <%= will_paginate @articles %>
  <%= link_to '<span>New Article</span>', { :action => 'new' }, :class => 'med_button' %>
  
</div>

<br /><br />
