
<div class="blog-title">
  <h3>
    <strong class="gossip">
      <% unless article.title.empty? %>
        <%= article.title %> 
      <% else %>
       OpenCongress Blog
      <% end %>
    </strong>
  </h3>
  <span class="blog-date"><b><%= article.formatted_date %></b> - by <%= article.user.full_name %></span>

</div>

<div class="blog-body">
  <%= article.content_rendered %>
  
  <div class="blog_social_ref">Like this post? Stay in touch by following us on <a href="http://twitter.com/opencongress">Twitter</a>, joining us on <a href="http://www.facebook.com/OpenCongress">Facebook</a>, <a href="http://feeds.feedburner.com/OpenCongressCongressGossipBlog">or by Subscribing with RSS</a>.</div>
  

  <div class="share_blog">
    <%= link_to '<span>Permalink</span>', article_url(article), :class => 'med_button' %>
    
    <h2>Share This Article</h2>
    
    
    

		<ul class="share_icons">
<li class="reddit"><a target="_blank" href="http://www.reddit.com/submit?url=<%=u article_url(article) %>&title=<%=u article.title %>">Reddit</a></li>	

		</ul>

<a name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php">Share</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>

<script type="text/javascript">
tweetmeme_style = 'compact';
</script>
<script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>

<script src="http://widgets.digg.com/buttons.js" type="text/javascript"></script>
<a class="DiggThisButton DiggCompact"></a>

    <span id="share-tool" class="share">
    		<script type="text/javascript">
    			iBeginShare.attachLink('share-tool', {
        	link: '<%= article_url(article) %>',
        	title: '<%= CGI.escape(article.title) %>',
        	link_style: 'button'
    			});
    		</script>
    </span>
    

  
  
  

  
  <div class="clearfix">&nbsp;</div>
  
  </div>


    
  <% if article.tags.size > 0 %>
    <div class="article_tags">
  	  <% article.tags.each do |tag| %>
  		  <%= link_to "<span class='blog_tag'>#{tag.name}</span>", :action => 'list', :tag => CGI::escape(tag.name) %>
  	  <% end rescue nil %>
    </div>
  <% end %>
  


  <div class="clear">&nbsp;</div>
</div>





