
<div class="blog-title">
  <h3>
    <strong class="gossip">
      <% unless summary.title.empty? %>
        <%= link_to summary.title, article_url(summary) %> 
      <% else %>
        <%= link_to 'OpenCongress Blog', article_url(summary) %>
      <% end %>
    </strong>
  </h3>
  <span class="blog-date"><b><%= summary.formatted_date %></b> - by <%= summary.user.full_name if summary.user %></span>
</div>

<div class="blog-body">
  <%= summary.content_rendered %>

  <% if summary.tags.size > 0 %>
    <p class="article_tags">
  	  Article Tags: 
  	  <% summary.tags.each do |tag| %>
  		  <%= link_to tag.name, :action => 'list', :tag => CGI::escape(tag.name) %></li>
  	  <% end rescue nil %>
    </p>
  <% end %>
  
  <div class="blog_buttons">
    <%= link_to '<span>Permalink</span>', article_url(summary), :class => 'med_button blog_perm' %>
    <% if summary.comments.count > 0 %>
      <%= link_to  "<span>Comments (#{summary.comments.count.to_s})</span>", 
                                  article_url(summary, :anchor => 'comments'),
                                    :class => 'med_button med_arrow' %>
    <% else %>
      <%= link_to '<span>Submit a Comment</span>', article_url(summary, :anchor => 'add'), :class => 'med_button blog_submit' %>
    <% end %>
  </div>
  <div class="clear">&nbsp;</div>
</div>
