<div class="blog-title">
  <h3>
    <strong class="gossip">
      <% unless summary.title.empty? %>
        <%= link_to summary.title, article_url(summary) %> 
      <% else %>
        <%= link_to 'OpenCongress Blog', article_url(summary) %>
      <% end %>
    </strong>
  </h3>
  <span class="blog-date"><b><%= summary.formatted_date %></b> - by <%= summary.user.full_name if summary.user %></span>

</div>

<div class="blog-body">
  <% unless summary.frontpage_image_url.blank? %>
    <img class="blogpage-blog-image" src="<%= summary.frontpage_image_url %>">
  <% end %>
  
  <p><%= summary.excerpt_for_blog_page.html_safe %></p> 
    
    
     <%= link_to '<span>Read Full Article</span>'.html_safe, article_url(summary), :class => 'full_article' %>
    
    <% if summary.comments.count > 0 %>
      <%= link_to  "<span>Comments (#{summary.comments.count.to_s})</span>".html_safe, 
                                  article_url(summary, :anchor => 'comments'),
                                    :class => 'comments_link' %>
    <% else %>
      <%= link_to '<span>Submit a Comment</span>'.html_safe, article_url(summary, :anchor => 'add'), :class => 'comments_link' %>
    <% end %>
    
    <% if summary.tags.size > 0 %>
    <div class="article_tags">
  	  <% summary.tags.each do |tag| %>
  		  <%= link_to "<span class='blog_tag'>#{tag.name}</span>".html_safe, :action => 'list', :tag => CGI::escape(tag.name) %>
  	  <% end rescue nil %>
    </div>
  <% end %>

  <div class="clear">&nbsp;</div>


</div>
