<div class="blog-title">
  <h3>
    <strong class="gossip">
      <% unless summary.title.empty? %>
        <%= link_to summary.title, article_url(summary) %> 
      <% else %>
        <%= link_to 'OpenCongress Blog', article_url(summary) %>
      <% end %>
    </strong>
  </h3>
  <span class="blog-date"><b><%= summary.formatted_date %></b> - by <%= summary.user.full_name if summary.user %></span>
  <% if summary.tags.size > 0 %>
    <div class="article_tags">
  	  <% summary.tags.each do |tag| %>
  		  <%= link_to "<span class='blog_tag'>#{tag.name}</span>", :action => 'list', :tag => CGI::escape(tag.name) %>
  	  <% end rescue nil %>
    </div>
  <% end %>
</div>

<div class="blog-body">
  <img class="blogpage-blog-image" src="<%= summary.frontpage_image_url %>">
  <p><%= summary.excerpt_for_blog_page %></p> 
  
  <div class="blog_buttons">
    <%= link_to '<span>Full Article »</span>', article_url(summary), :class => 'med_button blog_perm' %>
    <% if summary.comments.count > 0 %>
      <%= link_to  "<span>Comments (#{summary.comments.count.to_s})</span>", 
                                  article_url(summary, :anchor => 'comments'),
                                    :class => 'med_button med_arrow' %>
    <% else %>
      <%= link_to '<span>Submit a Comment</span>', article_url(summary, :anchor => 'add'), :class => 'med_button blog_submit' %>
    <% end %>
  </div>
  <div class="clear">&nbsp;</div>


</div>
