<p>This table shows the contributions from the <%= @sector.name %> during the <%= Settings.current_opensecrets_cycle %> federal election cycle to Members of the current <%= Settings.default_congress %> Congresses. Contributions were made to <%= @sector.person_sectors.size %> members of Congress totaling <%= grand_total(@sector.person_sectors) %>. More detailed information on industry sector contributions will soon be available on OpenCongress -- sign up for our e-mail list in the left-hand sidebar of this page to stay updated as we incorporate new data on money in politics.</p>
<h3 style="margin:1em 0 0 0;">Top 10 Recipients</h3>
<%= industry_recipients_html(@sector.person_sectors, 10) %>
<div class="credit_buttons2">
<%= opensecrets_button %>
</div>
<%= render :partial => 'shared/comments2', :locals => {:object => @sector} %>

