<%= error_messages_for 'sidebar_items' %>

<!--[form:sidebar_items]-->
<%= render :partial => 'item_entry',  :locals => { :class_type => @sidebar.class_type } %>

<p><label for="sidebar_items_description">Description</label><br/>
<%= text_area 'sidebar_items', 'description'  %></p>

<p><label for="sidebar_items_rank">Rank</label><br/>
<%= select 'sidebar_items', 'rank', 1..20  %></p>

<%= hidden_field 'sidebar_items', 'sidebar_id', :value => @sidebar.id %>
<!--[eoform:sidebar_items]-->

