<h1>Listing sidebar_items</h1>

<table>
  <tr>
  <% for column in SidebarItem.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for sidebar_items in @sidebar_items %>
  <tr>
  <% for column in SidebarItem.content_columns %>
    <td><%=h sidebar_items.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Edit', :action => 'edit', :id => sidebar_items, :sidebar_id => @sidebar %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => sidebar_items }, :confirm => 'Are you sure?', :method => "post" %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @sidebar_items %>

<br />

<%= link_to 'New Sidebar Item', :action => 'new', :sidebar_id => @sidebar %><br />
<%= link_to 'Back to Sidebars', :controller => 'sidebars' %>
