<h1>Listing sidebar_items</h1>

<table cellpadding=5>
  <tr>
    <th>Desc</th>
    <th>Item</th>
    <th>Rank</th>
  </tr>
  
<% for sidebar_items in @sidebar_items %>
  <tr>
    <td><%= sidebar_items.description %></td>
    <td><%= render :partial => 'item', :locals => { :class_type => @sidebar.class_type, :item => sidebar_items } %></td>
    <td><%= sidebar_items.rank %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => sidebar_items %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => sidebar_items }, :confirm => 'Are you sure?', :method => "post" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sidebar Item', :action => 'new', :sidebar_id => @sidebar.id %><br />
<%= link_to 'Back to Sidebars', :controller => 'sidebars' %>
