<% if @bill.related_bill_session %>
  <div class="bill_session_relation_box">
    You are viewing a bill in a previous session of Congress. There is a bill in <%= @bill.related_bill_session.session == DEFAULT_CONGRESS ? "the current session" : "a more recent session" %> that may be more appropriate. View that bill: <%= link_to_bill @bill.related_bill_session %>
  </div>
<% end %>

<div id="vote">
	<div class="results" id="vote_results_<%= @bill.id %>">
		<%= draw_inline_user_bill_vote(@bill) %>
	</div>
	<div id="message-login">
		<p id="vote_message_<%= @bill.id %>" style="display:none;border:2px solid #48A100;padding:3px;"></p>
	</div>
</div>  
<div style="float:right;clear:right;">
	   <% if @br_link %>
		  <%= link_to image_tag('/images/battle_royale_button_d_bill.gif'), @br_link %>
	<% end %>
</div>

<h2 class="title"><%= @bill.title_common %></h2>
<% unless @bill.title_popular_only.blank? %>
  <h3 class="official-title"><%= em_official_title %></h3>
<% end %> 
<span class="date"><%= @bill.session == DEFAULT_CONGRESS ? 'current' : 'previous' %> <%= number_to_ordinal(@bill.session) %> session of congress</span>

<% unless @bill.plain_language_summary.blank? %>
  <div class='explain_box bill'>
  	<b>OpenCongress Summary:</b><br />
  	<%= @bill.plain_language_summary %>
  </div>
<% end %>

<% if can_blog? %>
  [<%= link_to "Add/Edit Plain Language Summary", :controller => 'admin/bill_summaries', :action => 'edit', :id => @bill.ident %> | 
  <%= link_to "Select Default Title",  :controller => 'admin/bill_summaries', :action => 'defaulttitle', :id => @bill.ident %> | 
  <%= link_to "Add Related Bill (Different Session)",  :controller => 'admin/bill_summaries', :action => 'session_relations', :bill_id => @bill.ident %> | 
  <a href="#" onclick="Element.show('addtitle_form')">Add a Title</a> |  
  <a href="#" onclick="Element.show('hot_addbill_form')">Make/Edit "Hot"</a> ]
  <div id="addtitle_form" style="display: none; margin-bottom: 10px;">
  	<form action="/admin/bill_summaries/addtitle">
  		<b></b><br />
  		<%= hidden_field "title", "bill_id", :value => @bill.id %>
  		<%= hidden_field "title", "as", :value => 'introduced' %>
  		Title: <%= text_field "title", "title" %>
  		<%= select "title", "title_type", [ 'popular', 'short', 'official' ], { :include_blank => false } %>
  		<%= submit_tag %>
  	</form>
  </div>
  <div id="hot_addbill_form" style="display: none; margin-bottom: 10px;">
  	<form action="/admin/hot_bills/addbill">
  		<b>Select category for this bill's "hot"-ness:</b><br />
  		<%= hidden_field "bill", "id" %>
  		<% HotBillCategory.find(:all).each do |c| %>
  		  <%= radio_button "bill", "hot_bill_category_id", c.id %> <%= c.name %><br />
  		<% end %>
  		<%= radio_button "bill", "hot_bill_category_id", "" %> Remove (not "Hot")<br />
  		<%= radio_button "bill", "hot_bill_category_id", "new" %> New category:
  		<%= text_field "hot_bill_category", "name" %><br />
  		Summary:<br>
  		<%= text_area "bill", "plain_language_summary", :rows => 4, :cols => 50 %><br />
  		<%= submit_tag %>
  	</form>
  </div>
<% end %>
<!-- // stats-->
<% cache("#{@bill.fragment_cache_key}_header") do %>
  <!-- cached: <%= "#{@bill.fragment_cache_key}_header" %> // <%= Time.now %> -->
	<%= toggler('bill_titles', "Other Bill Titles (#{@bill.bill_titles.length.to_s} more)", 'Hide Other Bill Titles', 'arrow', 'arrow-hide') %>
  <div id="bill_titles" style="display: none">
  	<ul class="list">
  		<%= bill_titles_html %>
  	</ul>
  </div>
<% end %>

<p><%= bill_summary_with_more %></p>

<% unless @bill.bill_text_versions.empty? %>
  <p style='font-weight: bold'>
    <a class='arrow' href='/bill/<%= @bill.ident %>/text'>Read and Comment on Full Bill Text</a>
  </p>
<% end %>



<div class="clearfix">
   <% unless @users_tracking.nil? || @users_tracking == 0 %>
    <div style="float:right;width:250px;">
      <h3 class="dark">Users Tracking [<%= link_to @users_tracking, :controller => "friends", :action => "tracking_bill", :id => @bill.ident %>]</h3>
      <p>Users tracking this bill are also tracking:</p>

        <%= other_bills_tracking %>

   </div>
   <% end %>
	<div class="bill-details">
		<h3 class="dark">Sponsor</h3>
		<ul class="list">
			<li><%= @bill.sponsor.nil? ? "No sponsor" : link_to_person(@bill.sponsor) %></li>
			<% unless @bill.co_sponsors.empty? %>
			<%= co_sponsor_list %>
		<% end %>               
				</ul>
		<%=
		#render :partial => 'email/email', :locals => {
		#	:send_msg => 'Send', :cancel_msg => 'Cancel', :email_div => 'email_sponsors',
		#	:title => title, :controller => 'bill', :action => 'send_sponsor', :button => 'all',
		#	:id => @bill.id }
		%>
	</div>
	<div class="bill-details"> 

		<% unless @bill.committees.empty? %>	
		<h3 class="dark">Committees</h3>
		<ul class="list">
			<%= committee_list %>
		</ul>
		<% end %>

		</div>
		<div class="bill-details last">
			<h3 class="dark">Amendments</h3>
			<% unless @bill.amendments.empty? %>
			<p>This bill has <%= @bill.amendments.size %> amendments.
			<%= toggler('amendments', 'See All Amendments', 'Hide All Amendments', 'arrow', 'arrow-hide') %></p>
			<% else %>
			<p>This bill has no amendments.</p>
			<% end %>
		</div>
		<div id="amendments" style="display: none;">
				<h3 style="margin-bottom:0;">Amendments to <%= @bill.title_typenumber_only %></h3>
				<table class="simple-table">
					<tr>
						<th>Number</th>
						<th>Status</th>
						<th>Purpose</th>
					</tr>
					<% @bill.amendments.each do |a| %>
					<tr>
						<td><%= a.display_number %></td>
						<% unless a.roll_calls.empty? %>
						<td><%= link_to a.status.capitalize, :controller => 'roll_call', :action => 'show', :id => a.roll_calls.last %></td>
						<% else %>
						<td><%= a.status.capitalize %></td>
						<% end %>
						<td><%= a.purpose %></td>
					</tr>
					<% end %>
				</table>
			</div> 
  <br style="clear:left;" /><br />
			<h3 class="dark" style="margin-bottom:0.5em;display:inline;">Bill Status</h3>
			<div class="syndicate"><a href="/resources/bill_status?bill_id=<%= @bill.ident %>">Make a Bill Status Widget</a>
				
				<%= dbox_trigger('bill_status') %>
				<div class="dboxed">
				<%= dbox_content('bill_status') %>
				</div>
					
			</div>
			<%= bill_status_table %>	
      <div style="margin-bottom:20px;">
      <% unless @bill.roll_calls.empty? %>
    	
    	<h3 class="dark">Latest Vote</h3>
  	  
  	  
  	  
  	  <div id="roll_call_details_info">
  	  
    	  <table cellpadding="0" cellspacing="0">
      
      
      <tr>
            <td colspan="4" class="first"><span class="date roll"><%= @roll_call.date.strftime("%B %d, %Y") %></span><%= link_to "Roll call number <b>#{@roll_call.number}</b>", :controller => 'roll_call', :action => 'show', :id => @roll_call.id %> <% if @roll_call.amendment %>(Amendment number <b><%= @roll_call.amendment.display_number %></b>) <% end %> in the <b><%= @roll_call.chamber %></b></td>
          </tr>
      
      
      <tr>
            <td colspan="4"><em>Question:</em> <%= @roll_call.question %></td>
          </tr>
          <% if @roll_call.amendment %>
          <tr>
            <td colspan="4"><em>Amendment purpose:</em> <%= @roll_call.amendment.purpose %></td>
          </tr>  
          <% end %>
           <tr>
              <td class="last"><em>Required percentage of 'Aye' votes:</em> <%= @roll_call.required %> <%= numeric_percentage(@roll_call) %></td>
              <% if @roll_call.total_votes > 0 %>
              <td class="last"><em>Percentage of 'aye' votes:</em> <%= "%2d" % ((@roll_call.ayes.to_f / @roll_call.total_votes.to_f) * 100) %>%</td>  
            <% end %>
              <td class="last"><em>Result:</em> <%= @roll_call.result %></td>    
            </tr>
        </table>
      </div>
      <div class="cols-box clearfix">
    	  <%= roll_call_sublists_by_vote_type('+') %>
        <div class="pie-chart" id='roll_call_Aye_chart'><%= @aye_chart %></div>

        <%= roll_call_sublists_by_vote_type('-') %>
        <div class="pie-chart" id='roll_call_Nay_chart'><%= @nay_chart %></div>

        <%= roll_call_sublists_by_vote_type('0') %>
        <div class="pie-chart" id='roll_call_Abstain_chart'><%= @abstain_chart %></div>
        <hr />
      
    	</div>
    	<b><%= toggler("bill_voting_history", "See Full Voting History (#{@bill.roll_calls.length.to_s} votes)", "Hide Voting History", "arrow", "arrow-hide") %></b>&nbsp;&nbsp;&nbsp;&nbsp;
    	<% end %>

    	<% unless @bill.actions.empty? %>
    	<b><%= toggler("bill_all_actions", "Show All Actions (#{@bill.actions.length.to_s} actions)", "Hide Actions", "arrow", "arrow-hide") %></b>
    	<% end %>
      
      <% unless @bill.roll_calls.empty? %>
        <div id="bill_voting_history" style="display: none;">
          <a name="#voting_history"></a>
          <%= render :partial => 'roll_call/roll_calls_summary', :locals => { :rolls => @bill.roll_calls, :header => true }%>
        </div>
      <% end %>

      <% unless @bill.actions.empty? %>
        <div id="bill_all_actions" style="display: none;">
          <%= render :partial => 'bill/action_list', :locals => { :actions => @bill.actions } %>
        </div>
      <% end %>
    </div>
    <hr />
		<% unless @bill.related_bills.empty? && @bill.subjects.empty? %>
		<div class="related-box2 clearfix" style="padding-bottom: 2px;">
			<% unless @bill.related_bills.empty? %>
			<h3>Related Bills:</h3>
			<ul class="stars-inline clearfix rb">
				<%= bill_related_list %>
			</ul>
			<% end %>
			<% unless @bill.subjects.empty? %>
			<h3>Related Issue Areas:</h3>
			<ul class="stars-inline clearfix">
				<%= bill_subject_list %>
			</ul>
			<% end  %>
			<span class="date" style="text-transform:none; margin-top: 5px">Data from the Congressional Research Service</span>
		</div>
		<% end %>

		</div> <!-- // end clearfix -->
