<div class="padding">
<a href="/bill/readthebill?sort=<%= @sort %>&show_resolutions=<%= (!@show_resolutions).to_s %>">
  <%= @show_resolutions ? "Hide Resolutions" : "Show Resolutions" %>
</a>

<table class="simple-table" id="readthebill_table">
  <tr>
    <th scope="col">Bill</th>
    <th scope="col"><%= @sort == 'gpo' ? 'Text Available' : 'Introduced' %></th>
    <th scope="col"><%= @sort == 'gpo' ? 'Considered' : 'Vote on Passage' %></th>
    <th scope="col">Time Between</th>
    <% if @sort != 'gpo' %><th scope="col">Result</th><% end %>
  </tr>
  
  <% @bills.each do |bill| %>
    <tr>
      <td class="arrow" width="550" style="padding: 5px;">
      
        <% unless bill.hot_bill_category.nil? %><%= image_tag 'icon-hot-bill.gif', :class => 'noborder', :style => 'line-height: .8em;', :alt => 'hot bill' %><% end %>
        <%= link_to bill.typenumber, bill_path(bill) %> <%= bill.title_common %> 
        <span class='date'>(<%= bill.session.ordinalize %> congress)</span>
      </td>
      <td style="padding: 5px;"><%= @sort == 'gpo' ? (bill.gpo_date.blank? ?  "unknown *" : Date.parse(bill.gpo_date).strftime("%B %d, %Y")) : bill.bill.introduced_action.formatted_date %> <% if @sort == 'gpo' and bill.id == 54463 %>**<% end %></td>
      <td style="padding: 5px;"><%= @sort == 'gpo' ? Date.parse(bill.consideration_date).strftime("%B %d, %Y") : bill.originating_chamber_vote.formatted_date %></td>
      <td style="padding: 5px;"><%= @sort == 'gpo' ? (bill.gpo_date.blank? ? "unknown *" : "#{(Time.parse(bill.consideration_date) - Time.parse(bill.gpo_date)).to_i / 3600} hours") : "#{bill.hours_to_first_attempt_to_pass} hours" %> <% if @sort == 'gpo' and bill.id == 54463 %>**<% end %></td>
      <% if @sort != 'gpo' %><td><%= bill.originating_chamber_vote.roll_call.nil? ? bill.originating_chamber_vote.result.capitalize : link_to(bill.originating_chamber_vote.result.capitalize, :controller => 'roll_call', :action => 'show', :id => bill.originating_chamber_vote.roll_call)  %></td><% end %>
    </tr>
  <% end %>
</table>

<% if @sort = 'gpo' %>
  <p>
    Negative times mean the bill was considered before the text was available.
  </p>
  <p>
    * - Due to limitations on Congressional data, the exact time this bill was made available cannot be determined at this time, but it was considered in less than 72 hours. For more info about a bill's timeline in the legislative process, click on a bill name above and then follow the link in the middle of the page to "See All Actions".
  </p>
  <p>
    ** - While the initial bill text in the House and the Senate was publicly
    available for over 72 hours, the final text, in the form of the conference
    report, was available for fewer than 72 hours.
  </p>
<% end %>
<%= will_paginate @bills %>
</div>
        
