<div id="sort_nav">

<div id="heading">

<h2>All Legislation in Congress</h2>

	<ul id="in" class="clearfix">
	   <li id="all" class="<%=  @types == "all" ? "active" : "" %>">
			<%= link_to "<span>All Congress</span>", :types => 'all' %>
		</li>
		<li id="senate" class="<%= @types == 'senate' ? "active" : "" %>">
			<%= link_to "<span>Senate Bills</span>", :types => 'senate' %>
		</li>
		<li id="house" class="<%= @types == 'house' ? "active" : "" %>">
			<%= link_to "<span>House Bills</span>", :types => 'house' %>
		</li>
	</ul>


</div>






 <ul class="sorts">
		<li id="all" class="inline <%= @sort == 'all' ? "active" : "" %>">
			<%= link_to "<span>All Bills - By Date Introduced</span>", { :action => 'all' }, :types => @types, :class => 'button silver small fullyrounded push-right' %>
	 	</li>
 		<li id="popular" class="<%= @sort == 'popular' ? "active" : "" %>">
			<%= link_to "<span>Most-View Bills</span>", {:action => 'popular'}, :types => @types, :class => 'button silver small fullyrounded push-right' %>
		</li>
		<li id="news" class="<%= @sort == 'news' ? "active" : "" %>">
			<%= link_to "<span>Most in the News</span>", {:action => 'most_commentary'}, :type => 'news', :types => @types, :class => 'button silver small fullyrounded push-right' %>
		</li>
		<li id="blog" class="<%= @sort == 'blog' ? "active" : "" %>">
			<%= link_to "<span>Most on Blogs</span>", {:action => 'most_commentary'}, :type => 'blog', :types => @types, :class => 'button silver small fullyrounded push-right clear' %>
		</li>
		<li id="hot" class="<%= @sort == 'hot' ? "active" : "" %>">
			<%= link_to "<span>Major Bills & Issue</span>", {:action => 'hot'}, :types => @types, :class => 'button silver small fullyrounded push-right' %>
		</li>
		<li id="pending" class="<%= @sort == 'pending' ? "active" : "" %>">
			<%= link_to "<span>Pending (Recent Action)</span>", {:action => 'pending'}, :types => @types, :class => 'button silver small fullyrounded push-right' %>
		</li>
		<li id="gpo" class="<%= @sort == 'gpo' ? "active" : "" %>">
			<%= link_to "<span>Rushed Bills</span>", {:action => 'readthebill'}, :types => @types, :class => 'button silver small fullyrounded push-right' %>
		</li>

	</ul>
		
	<% if @atom %>
	  <a href="<%= @atom['link'] %>" class="rss floatright"><%= image_tag 'rss.png' %></a>
	<% end %>

	<%= render :partial => 'shared/timeframe_select' if @days %>

</div>  

