<div id="sponsors">
	<h2 class="gray">Sponsor</h2>
	<div class="details">
		<% unless @bill.sponsor.nil? %>
		  <%= link_to(("<img src='/images/photos/thumbs_42/" + @bill.sponsor.id.to_s + ".png'>").html_safe, person_url(@bill.sponsor)) %>
		  <p><%= @bill.sponsor.title_long %></p>
		  <%= link_to(@bill.sponsor.full_name, person_url(@bill.sponsor)) %>
		  <p><%= @bill.sponsor.party_and_state %></p>
		<% else %>
		  <p>No sponsor found for this Bill</p>
		<% end %>
	</div>
	<% if @bill.co_sponsors.empty? %>
	  <span class="small">No Co-Sponsors</span>
	<% else %>
		<%= toggler("bill_cosponsors_more", "View Co-Sponsors (#{@bill.current_cosponsor_count})", "Hide Co-Sponsors", "toggle", "toggle").html_safe %>
		<ul id="bill_cosponsors_more" style="display:none;">
			<%= co_sponsor_list.html_safe %>		
		</ul>
  <% end %>
</div>