<div class="<%= cycle('a','b') %>">
  <div class="roll small_padding">
  
    
        <span class="date roll floatright"><strong>Result: <%= vote.result %></strong> - <%= vote.date.strftime("%B %d, %Y") %></span>

    <h3 class="floatleft"><%= link_to "Roll call number <b>#{vote.number}</b>".html_safe, :controller => 'roll_call', :action => 'show', :id => vote.id %>

    <span><% if vote.amendment %>(Amendment number <b><%= vote.amendment.display_number %></b>)<% end %> in the <b><%= vote.chamber %></b></span>


</h3>



    
    
    
    
      <p class="clear"><em>Question:</em> <%= vote.question %></p>
      
      
      <% if vote.amendment %>
      
        <p><em>Amendment purpose:</em> <%= vote.amendment.purpose %></p>
      
      <% end %>

      <div class="req floatright"><em>Required percentage of 'Aye' votes:</em> <%= vote.required %> <%= numeric_percentage(vote) %></div>


      <% if vote.total_votes > 0 %>
        <em>Percentage of 'aye' votes:</em> 
        <%= "%2d" % ((vote.ayes.to_f / vote.total_votes.to_f) * 100) %>%
      <% end %>
      
      
      <div class="pies clear">
        <%#= roll_call_sublists_by_vote_type('+', vote).html_safe %>
        <div class="pie-chart" id='roll_call_Aye_chart_<%= vote.id %>'>
          <%= ofc2(165,120, "roll_call/partyvote_piechart_data/#{vote.id}?breakdown_type=#{CGI.escape("+")}&disclaimer_off=true&radius=40").html_safe %>
        </div>
        
        <%# roll_call_sublists_by_vote_type('-', vote).html_safe %>
        <div class="pie-chart" id='roll_call_Nay_chart_<%= vote.id %>'>
          <%= ofc2(165,120, "roll_call/partyvote_piechart_data/#{vote.id}?breakdown_type=-&disclaimer_off=true&radius=40").html_safe %>
        </div>
        
        <%#= roll_call_sublists_by_vote_type('0', vote).html_safe %>
        <div class="pie-chart last" id='roll_call_Abstain_chart_<%= vote.id %>'>
          <%= ofc2(165,120, "roll_call/partyvote_piechart_data/#{vote.id}?breakdown_type=0&disclaimer_off=true&radius=40").html_safe %>
        </div>
      </div>
  

    <div class="clear">&nbsp;</div>

  </div>
</div>