<div class="padding">
<div id="money_trail">

  <% unless @bill.bill_interest_groups.select{|g| g.disposition == 'support'}.empty? %>
    <h3>Interests that <em>support</em> this bill:</h3>
  
    <ul class="floatleft">
    <% @bill.bill_interest_groups.select{|g| g.disposition == 'support'}.each do |big| %>
      <%= render :partial => 'money_trail/interest_group', :object => big.crp_interest_group, :locals => { :bill => @bill } %>
    <% end %>
    </ul>
  
    <h3>Top recipients for ALL supporting interest groups</h3>
    <table>
      <tr>
        <th>Name</th>
        <th>Amount Received</th>
        <% if has_originating_chamber_roll_call?(@bill) %><th>Vote On Passage</th><% end %>
      </tr>
      <% @bill.top_recipients_for_all_interest_groups('support').each do |r| %>
        <tr>
          <td><%= link_to_person(r) %></td>
          <td>$<%= number_with_delimiter(r.contrib_total) %></td>
          <td><%= @bill.originating_chamber_vote.roll_call.vote_for_person(r) if has_originating_chamber_roll_call?(@bill) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <% unless @bill.bill_position_organizations.select{|g| g.disposition == 'support'}.empty? %>
    <h3>Specific Organizations Supporting <%= @bill.typenumber %></h3>
    <ul>
    <% @bill.bill_position_organizations.select{|g| g.disposition == 'support'}.each do |org| %>
      <li><%= org.name %></li>
    <% end %>
    </ul>
  <% end %>    

  <% unless @bill.bill_interest_groups.select{|g| g.disposition == 'oppose'}.empty? %>
    <h3>Interests that <em>oppose</em> this bill:</h3>
  
    <ul class="floatleft">
    <% @bill.bill_interest_groups.select{|g| g.disposition == 'oppose'}. each do |big| %>
      <%= render :partial => 'money_trail/interest_group', :object => big.crp_interest_group, :locals => { :bill => @bill } %>
    <% end %>
    </ul>

    <h3>Top recipients for ALL opposing interest groups</h3>
  
    <table>
      <tr>
        <th>Name</th>
        <th>Amount Received</th>
        <% if has_originating_chamber_roll_call?(@bill) %><th>Vote On Passage</th><% end %>
      </tr>
      <% @bill.top_recipients_for_all_interest_groups('oppose').each do |r| %>
      <tr>
        <td><%= link_to_person(r) %></td>
        <td>$<%= number_with_delimiter(r.contrib_total) %></td>
        <td><%= @bill.originating_chamber_vote.roll_call.vote_for_person(r) if has_originating_chamber_roll_call?(@bill) %></td>
      </tr>
      <% end %>
    </table>
  <% end %>
  
  <% unless @bill.bill_position_organizations.select{|g| g.disposition == 'oppose'}.empty? %>
    <h3>Specific Organizations Opposing <%= @bill.typenumber %></h3>
    <ul>
      <% @bill.bill_position_organizations.select{|g| g.disposition == 'oppose'}.each do |org| %>
     	 <li><%= org.name %></li>
  	  <% end %>
    </ul>
  <% end %>
</div>
<%= maplight_link(bill=true) %>
</div>
