<!-- 
<img class="displaynone" src="read-this-bill.png" /> 
-->

<div class="main">
  
<%= render :partial => 'shared/stats_box', :object => @sidebar_stats_object if @sidebar_stats_object %>

<div id="bill-status-box" class="clearfix">
  <%= bill_status_table.html_safe %>
</div>

<% unless @bill.current_bill_text_version.nil? %>
  <div id="bill-text" class="un">
    <%= link_to "Official Bill Text <span>Comment on about #{number_with_delimiter(@bill.current_bill_text_version.pages)} Pages</span>".html_safe, :action => 'text' %>
  </div>
<% end %>


<div class="sponsorship_data">
	<div id="sponsors">
		<h2 class="gray">Sponsor</h2>
		<div class="details">
			<% unless @bill.sponsor.nil? %>
			  <%= link_to(("<img src='/images/photos/thumbs_42/" + @bill.sponsor.id.to_s + ".png'>").html_safe, person_url(@bill.sponsor)) %>
			  <p><%= @bill.sponsor.title_long %></p>
			  <%= link_to(@bill.sponsor.full_name, person_url(@bill.sponsor)) %>
			  <p><%= @bill.sponsor.party_and_state %></p>
			<% else %>
			  <p>No sponsor found for this Bill</p>
			<% end %>
		</div>
		<% if @bill.co_sponsors.empty? %>
		  <span class="small">No Co-Sponsors</span>
		<% else %>
  		<%= toggler("bill_cosponsors_more", "View Co-Sponsors (#{@bill.co_sponsors.size})", "Hide Co-Sponsors", "toggle", "toggle").html_safe %>
  		<ul id="bill_cosponsors_more" style="display:none;">
  			<%= co_sponsor_list.html_safe %>		
  		</ul>
    <% end %>
	</div>

	<div id="committees">
		<h2 class="gray">Committees</h2>
		<% unless @bill.committees.empty? %>	
		  <div class="details">              
			  <%= committee_list(0,1).html_safe %>
			  <% if @bill.committees.size > 1 %>
  			  <div id="bill_committee_more" style="display:none;">
  				  <%= committee_list(2,@bill.committees.size).html_safe %>
  			  </div>
			  <% end %>
			</div>
		<% else %>
			<div class="details">              
				<p>No Committees found for this Bill</p>
      </div>
		<% end %>

		<% if @bill.committees.size > 2 %>
		  <%= toggler("bill_committee_more", "View all Committees (#{@bill.committees.size - 2} more)", "Hide Committees", "toggle", "toggle").html_safe %>
		<% end %>
	</div>

  


	<% unless @bill.subjects.empty? %>
		<div class="related_issues_list" id="issue_list">
		  <h2>Related Issue Areas</h2>
  		<% unless @bill.subjects.empty? %>	
  		  <div class="details">              
  			  <%= issue_list(0,1).html_safe %>
  			  <% if @bill.subjects.size > 1 %>
    			  <div id="bill_issues_more" style="display:none;">
    				  <%= issue_list(2,@bill.subjects.size).html_safe %>
    			  </div>
  			  <% end %>
  			</div>
  		<% else %>
  			<div class="details">              
  				<p>No Issue Areas found for this Bill</p>
        </div>
  		<% end %>

  		<p class="small">Data via Congressional Research Service</span>

  		<% if @bill.subjects.size > 2 %>
  		  <%= toggler("bill_issues_more", "View all Issues (#{@bill.subjects.size - 2} more)", "Hide Issues", "toggle", "toggle").html_safe %>
  		<% end %>
		</div>
	<% end  %>

</div>


	<% unless @roll_call.nil? %>
	  <div class="clear">&nbsp;</div>
    <div class="padding paddingtopnone">
      <h2 class="header">Latest Vote</h2>
      <div class="votes">
      <%= render :partial => 'vote', :object => @bill.roll_calls.first %>
      </div>
    </div>
	<% end %>
	
	
	
	<% unless @bill.plain_language_summary.blank? %>
	<div id="oc_summary">
		<div class='explain_box bill'>
			<h4>OpenCongress Summary</h4>
			 <%= @bill.plain_language_summary.html_safe %>
		</div>
	</div>
	<% end %>



  <% unless @bill.summary.blank? %>
    <div class="official_summary">
      <h4>Official Summary</h4>

      <%= bill_summary_with_more.html_safe %>
    </div>
  <% end %>
  
    <div class="clearfix"></div>
		
		<% unless @bill.bill_position_organizations.empty? %>
  		<div id="money_trail_summary">
        <div class="col1">
          <h2>Organizations Supporting <%= @bill.typenumber %></h2>
          <% unless @bill.bill_position_organizations.select{|g| g.disposition == 'support'}.empty? %>
            <ul>
            <% supporting_orgs = @bill.bill_position_organizations.select{|g| g.disposition == 'support'} %>
            <% supporting_orgs[0..5].each { |org| %><li><%= org.name %></li><% } %>
            <% if supporting_orgs.size > 5 %>
              <li>...and <strong><%= supporting_orgs.size - 5 %></strong> more.  
              <%= link_to "See all.", :controller => 'bill', :action => 'money', :id => @bill.ident %>
            <% end %>
            </ul>
          <% else %>
            <ul><li>None via MapLight at this time.</li></ul>
          <% end %>
        </div>
      
        <div class="col2">
          <h2>Organizations Opposing <%= @bill.typenumber %></h2>
          <% unless @bill.bill_position_organizations.select{|g| g.disposition == 'oppose'}.empty? %>
            <ul>
              <% opposing_orgs = @bill.bill_position_organizations.select{|g| g.disposition == 'oppose'} %>
              <% opposing_orgs[0..5].each { |org| %><li><%= org.name %></li><% } %>
              <% if opposing_orgs.size > 5 %>
                <li>...and <strong><%= opposing_orgs.size - 5 %></strong> more.  
                <%= link_to "See all.", :controller => 'bill', :action => 'money', :id => @bill.ident %>
              <% end %>
            </ul>
          <% else %>
            <ul><li>None via MapLight at this time.</li></ul>
          <% end %>
        </div>
      </div>
      
      <div class='money_trail_summary_more'>
        See the <a href="<%= url_for :controller => 'bill', :action => 'money', :id => @bill.ident %>">money trail</a> behind this bill for more info on how campaign contributions may be influencing senators' and representatives' votes.</p>
      </div>
    <% end %>
      
      
		<br />                      


	<div class="news_blogs">
		<div class="col1">      

			<% cache ("#{@bill.fragment_cache_key}_news_preview") do %>
			  <!-- cached: <%= "#{@bill.fragment_cache_key}_news_preview" %> // <%= Time.now %> -->
			  <a class="feed" href="<%= url_for :action => 'atom_news', :id => @bill.ident %>">FEED</a>
			  <h2 class="short">Recent News Coverage</h2>
			  <div id="news_list">
				  <a name="news"></a>
  				<%=
  				  render :partial => 'shared/news', :object => @bill.news.find(:all, :limit => 3),
  				  :locals => { :limit => 3, :all_size => @bill.news_article_count, :default_title => @bill.typenumber,
  					:more_url => { :controller => 'bill', :action => 'news', :id => @bill.ident },
  					:top_url => { :controller => 'bill', :action => 'news', :id => @bill.ident, :sort => 'toprated' } }
  				%>
		 	  </div>
			<% end %>

		</div> <!-- // col1 -->

		<div class="col2">
			<% cache ("#{@bill.fragment_cache_key}_blog_preview") do %>
			  <!-- cached: <%= "#{@bill.fragment_cache_key}_blog_preview" %> // <%= Time.now %> -->
			  <a class="feed" href="<%= url_for :action => 'atom_blogs', :id => @bill.ident %>">FEED</a>
			  <h2 class="short">Recent Blog Coverage</h2>
			  <div id="blogs_list">
				  <a name="blogs"></a>

  				<%=
  				  render :partial => 'shared/blogs', :object => @bill.blogs.find(:all, :limit => 3),
  				  :locals => { :limit => 3, :all_size => @bill.blog_article_count, :default_title => @bill.typenumber,
  					:more_url => { :controller => 'bill', :action => 'blogs', :id => @bill.ident },
  					:top_url => { :controller => 'bill', :action => 'blogs', :id => @bill.ident, :sort => 'toprated' } }
  				%>
				</div>
			<% end %>

		</div>  <!-- // col2 -->
	</div>            


  <h3>Most-Viewed Letters</h3>
    <ul class='most_viewed_letters'>
      <li class='support'>
        <a href="#">
          <span class='subject'>This Bill Sucks!</span>
          <span class='user'>aross</span>
          <span class='date'>Jun 8, 2011</span>
          
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta tempus augue at ullamcorper. Maecenas malesuada, ante sit amet dignissim dictum, velit velit pharetra risus, sed dapibus odio lectus non nisi. Vestibulum nulla nulla, placerat tempus porttitor ut, luctus id neque. Donec fermentum enim quis lacus condimentum mattis. Vestibulum lobortis risus id ligula ornare fermentum. Etiam elit lacus, ullamcorper quis egestas rhoncus, pretium sed libero. Phasellus imperdiet quam sit amet metus pellentesque eget vehicula est mollis. In non augue diam, id porta purus. Donec ut diam purus. Duis mauris metus, ultrices a vulputate sed, consequat ac odio.</p>

<p>Praesent blandit libero leo. Mauris in lorem lacus, quis facilisis erat. Pellentesque eget leo sit amet diam tristique congue. Donec non tellus laoreet urna pulvinar fringilla sit amet eget tellus. Morbi id libero elit. Morbi sapien ante, pharetra et placerat non, ornare non est. Aliquam suscipit elit velit. Vestibulum posuere, purus at commodo accumsan, erat est luctus metus, ac sagittis neque leo et ligula. Nullam laoreet mollis nibh vel vehicula. Donec tellus erat, venenatis in varius non, semper vitae mi. Sed vel molestie ligula. Pellentesque ac varius ligula. In ullamcorper, nibh a dictum rhoncus, diam felis ultricies dolor, auctor convallis turpis lectus et erat. Phasellus tempus vulputate urna, at dapibus massa vehicula ut. Mauris mi erat, sagittis ac porta sed, auctor quis urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In facilisis tempor malesuada. Cras eu tristique urna. Suspendisse malesuada faucibus nunc vel ultrices. Proin laoreet sodales imperdiet.</p>

<p>Suspendisse a mi odio, a aliquam nibh. Sed aliquet porttitor felis, eget mattis tortor ultricies a. In ullamcorper mollis ante eu auctor. Integer convallis euismod lectus non feugiat. Sed nec tincidunt felis. In viverra tincidunt velit, nec semper dui vestibulum in. Integer sit amet quam mauris, non elementum erat. Ut rutrum ligula nec mauris condimentum rutrum. Integer vitae odio at eros sollicitudin commodo. Vivamus interdum, lorem aliquam mattis dignissim, purus augue laoreet quam, nec iaculis felis lacus id nisi. Vivamus nec odio vitae nisl tincidunt iaculis a id quam. Vivamus tristique, turpis laoreet commodo sagittis, libero erat porta nulla, gravida ullamcorper ante nulla ut nibh. Cras venenatis iaculis molestie. Suspendisse posuere semper lectus ut ultricies. Mauris et enim non orci eleifend vulputate in eu justo. Nunc sollicitudin, lorem sit amet feugiat suscipit, tortor leo lacinia mi, vitae aliquam nisl nisi dictum urna. Morbi rutrum nunc at dui dictum aliquam. Proin luctus erat et turpis mollis interdum. Donec sollicitudin diam eu ipsum aliquam venenatis a ac mauris.</p>
          
        </a>
      </li>
      <li class='oppose'>
        <a href="#">
          <span class='subject'>This Bill Sucks!</span>
          <span class='user'>aross</span>
          <span class='date'>Jun 8, 2011</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class='subject'>This Bill Sucks!</span>
          <span class='user'>aross</span>
          <span class='date'>Jun 8, 2011</span>
        </a>
      </li>
    </ul>
        





<div class="users_also" id="users_tracking">
  		  <br/>
		  <br/>


<% unless @tracking_suggestions[0] == 0 %>
    <%= render :partial => "shared/tracking_suggestions_table",
               :locals => {:object => @bill,
                           :title => @bill.typenumber,
                           :action => 'tracking_bill',
                           :tracking_suggestions => @tracking_suggestions} %>

  <% end %>

		  <br/>


			<% unless @supporting_suggestions[0] == 0 %>
		    <%= render :partial => "shared/support_oppose_tables",
		              :locals => {:object => @bill,
		                          :title => @bill.typenumber,
		                          :action => 'supporting_bill',
		                          :stance => "supporting",
		                          :tracking_suggestions => @supporting_suggestions} %>
		  <% end %>
		  <br/>		  <br/>		  <br/>


		  <% unless @opposing_suggestions[0] == 0 %>
		    <%= render :partial => "shared/support_oppose_tables",
		              :locals => {:object => @bill,
		                          :title => @bill.typenumber,
		                          :action => 'opposing_bill',
		                          :stance => "opposing",
		                          :tracking_suggestions => @opposing_suggestions} %>

		  <% end %>			

			
</div>
		  <br/>
		  <br/>


	<% unless @bill.related_bills.empty? %>
		<div class="related_bills_list" id="bill_list">
		  <h2>Related Bills</h2>
		  <ul class="lined_list">
			  <%= bill_related_list.html_safe %>
		  </ul>
		</div>
	<% end %>	

	
	<% unless @bill.videos.empty? %>  
    <div id="bill_video" class="cols-box clearfix">
      <h2 class="darkline clear">Videos of <%= @bill.typenumber %></h2>
      <%= render :partial => 'shared/videos', :object => @bill.videos.find(:all, :limit => 2), 
                 :locals => { :more_url => (@bill.videos.size > 2) ? link_to("See more videos (#{@bill.videos.size} total)", { :controller => 'bill', :action => 'videos', :id => @bill.ident }, :class => "arrow") : nil } %>
    </div>
  <% end %>
  
</div>
