<!-- 
<img class="displaynone" src="read-this-bill.png" /> 
-->

<div class="main">
  
<%= render :partial => 'shared/stats_box', :object => @sidebar_stats_object if @sidebar_stats_object %>
	
<div class="sponsorship_data">
	<div id="sponsors">
		<h2 class="gray">Sponsor</h2>
		<div class="details">
			<% unless @bill.sponsor.nil? %>
			  <%= link_to(("<img src='/images/photos/thumbs_42/" + @bill.sponsor.id.to_s + ".png'>").html_safe, person_url(@bill.sponsor)) %>
			  <p><%= @bill.sponsor.title_long %></p>
			  <%= link_to(@bill.sponsor.full_name, person_url(@bill.sponsor)) %>
			  <p><%= @bill.sponsor.party_and_state %></p>
			<% else %>
			  <p>No sponsor found for this Bill</p>
			<% end %>
		</div>
		<%= toggler("bill_cosponsors_more", "View Co-Sponsors (#{@bill.co_sponsors.size})", "Hide Co-Sponsors", "toggle", "toggle").html_safe %>

		<ul id="bill_cosponsors_more" style="display:none;">
			<%= co_sponsor_list.html_safe %>		
		</ul>
	</div>

	<div id="committees">
		<h2 class="gray">Committees</h2>
		<% unless @bill.committees.empty? %>	
		<div class="details">              
			<%= committee_list(0,1).html_safe %>
			<% if @bill.committees.size > 1 %>
			<div id="bill_committee_more" style="display:none;">
				<%= committee_list(2,@bill.committees.size).html_safe %>
			</div>
			<% end %>
			<% else %>
			<div class="details">              
				<p>No Committees found for this Bill</p>
				<% end %>
			</div>
<br />
				<% if @bill.committees.size > 1 %>
				<%= toggler("bill_committee_more", "View all Committees (#{@bill.committees.size - 2} more)", "Hide Extra Committees", "toggle", "toggle").html_safe %>
				<% end %>
		</div>
</div>
  
  <div id="bill-status-box" class="clearfix">
    <%= bill_status_table.html_safe %>
  </div>

	<% unless @bill.subjects.empty? %>
		<div class="related_issues_list" id="issue_list">
		  <h2>Related Issue Areas</h2>
		  <ul class="lined_list">
			  <%= bill_subject_list.html_safe %>
		  </ul>
		  <span class="small">Data from the Congressional Research Service</span>
		</div>
	<% end  %>
  		
	<% unless @roll_call.nil? %>	
    <div class="padding">
      <h2 class="header">Latest Vote</h2>
      <div class="votes">
      <%= render :partial => 'vote', :object => @bill.roll_calls.first %>
      </div>
    </div>
	<% end %>
	
	
	
	<% unless @bill.plain_language_summary.blank? %>
	<div id="oc_summary">
		<div class='explain_box bill'>
			<h4>OpenCongress Summary</h4>
			 <%= @bill.plain_language_summary.html_safe %>
		</div>
	</div>
	<% end %>




  <div id="summary" class="clearfix" <%= @bill.wiki_summary.blank? ? "" : "style='display:none;'" %>>
    <div class="official_summary"><%= bill_summary_with_more.html_safe %></div>
  </div>
  
  <div class="clearfix"></div>
		
		<% unless @bill.bill_position_organizations.empty? %>
  		<div id="money_trail_summary">
        <div class="col1 lowpadding">
          <h2>Organizations Supporting <%= @bill.typenumber %></h2>
          <% unless @bill.bill_position_organizations.select{|g| g.disposition == 'support'}.empty? %>
            <ul>
            <% supporting_orgs = @bill.bill_position_organizations.select{|g| g.disposition == 'support'} %>
            <% supporting_orgs[0..5].each { |org| %><li><%= org.name %></li><% } %>
            <% if supporting_orgs.size > 5 %>
              <li>...and <strong><%= supporting_orgs.size - 5 %></strong> more.  
              <%= link_to "See all.", :controller => 'bill', :action => 'money', :id => @bill.ident %>
            <% end %>
            </ul>
          <% else %>
            <ul><li>None via MapLight at this time.</li></ul>
          <% end %>
        </div>
      
        <div class="col2 lowpadding">
          <h2>Organizations Opposing <%= @bill.typenumber %></h2>
          <% unless @bill.bill_position_organizations.select{|g| g.disposition == 'oppose'}.empty? %>
            <ul>
              <% opposing_orgs = @bill.bill_position_organizations.select{|g| g.disposition == 'oppose'} %>
              <% opposing_orgs[0..5].each { |org| %><li><%= org.name %></li><% } %>
              <% if opposing_orgs.size > 5 %>
                <li>...and <strong><%= opposing_orgs.size - 5 %></strong> more.  
                <%= link_to "See all.", :controller => 'bill', :action => 'money', :id => @bill.ident %>
              <% end %>
            </ul>
          <% else %>
            <ul><li>None via MapLight at this time.</li></ul>
          <% end %>
        </div>
      </div>
      
      <div class='money_trail_summary_more'>
        See the <a href="<%= url_for :controller => 'bill', :action => 'money', :id => @bill.ident %>">money trail</a> behind this bill for more info on how campaign contributions may be influencing senators'/representatives' votes.</p>
      </div>
    <% end %>
      
      
		<br />                      


	<div class="news_blogs">
		<div class="col1">      

			<% cache ("#{@bill.fragment_cache_key}_news_preview") do %>
			  <!-- cached: <%= "#{@bill.fragment_cache_key}_news_preview" %> // <%= Time.now %> -->
			  <a class="feed" href="<%= url_for :action => 'atom_news', :id => @bill.ident %>">FEED</a>
			  <h2 class="short">Recent News Coverage</h2>
			  <div id="news_list">
				  <a name="news"></a>
  				<%=
  				  render :partial => 'shared/news', :object => @bill.news.find(:all, :limit => 3),
  				  :locals => { :limit => 3, :all_size => @bill.news_article_count, :default_title => @bill.typenumber,
  					:more_url => { :controller => 'bill', :action => 'news', :id => @bill.ident },
  					:top_url => { :controller => 'bill', :action => 'news', :id => @bill.ident, :sort => 'toprated' } }
  				%>
		 	  </div>
			<% end %>

		</div> <!-- // col1 -->

		<div class="col2">
			<% cache ("#{@bill.fragment_cache_key}_blog_preview") do %>
			  <!-- cached: <%= "#{@bill.fragment_cache_key}_blog_preview" %> // <%= Time.now %> -->
			  <a class="feed" href="<%= url_for :action => 'atom_blogs', :id => @bill.ident %>">FEED</a>
			  <h2 class="short">Recent Blog Coverage</h2>
			  <div id="blogs_list">
				  <a name="blogs"></a>

  				<%=
  				  render :partial => 'shared/blogs', :object => @bill.blogs.find(:all, :limit => 3),
  				  :locals => { :limit => 3, :all_size => @bill.blog_article_count, :default_title => @bill.typenumber,
  					:more_url => { :controller => 'bill', :action => 'blogs', :id => @bill.ident },
  					:top_url => { :controller => 'bill', :action => 'blogs', :id => @bill.ident, :sort => 'toprated' } }
  				%>
				</div>
			<% end %>

		</div>  <!-- // col2 -->
	</div>            

<div class="users_also" id="users_tracking">
  		  <br/>
		  <br/>


<% unless @tracking_suggestions[0] == 0 %>
    <%= render :partial => "shared/tracking_suggestions_table",
               :locals => {:object => @bill,
                           :title => @bill.typenumber,
                           :action => 'tracking_bill',
                           :tracking_suggestions => @tracking_suggestions} %>

  <% end %>

		  <br/>


			<% unless @supporting_suggestions[0] == 0 %>
		    <%= render :partial => "shared/support_oppose_tables",
		              :locals => {:object => @bill,
		                          :title => @bill.typenumber,
		                          :action => 'supporting_bill',
		                          :stance => "supporting",
		                          :tracking_suggestions => @supporting_suggestions} %>
		  <% end %>
		  <br/>		  <br/>		  <br/>


		  <% unless @opposing_suggestions[0] == 0 %>
		    <%= render :partial => "shared/support_oppose_tables",
		              :locals => {:object => @bill,
		                          :title => @bill.typenumber,
		                          :action => 'opposing_bill',
		                          :stance => "opposing",
		                          :tracking_suggestions => @opposing_suggestions} %>

		  <% end %>			

			
</div>
		  <br/>
		  <br/>


	<% unless @bill.related_bills.empty? %>
		<div class="related_bills_list" id="bill_list">
		  <h2>Related Bills</h2>
		  <ul class="lined_list">
			  <%= bill_related_list.html_safe %>
		  </ul>
		</div>
	<% end %>	

	
	<% unless @bill.videos.empty? %>  
    <div id="bill_video" class="cols-box clearfix">
      <h2 class="darkline clear">Videos of <%= @bill.typenumber %></h2>
      <%= render :partial => 'shared/videos', :object => @bill.videos.find(:all, :limit => 2), 
                 :locals => { :more_url => (@bill.videos.size > 2) ? link_to("See more videos (#{@bill.videos.size} total)", { :controller => 'bill', :action => 'videos', :id => @bill.ident }, :class => "arrow") : nil } %>
    </div>
  <% end %>
  
</div>
