<!-- 
<img class="displaynone" src="/images//read-this-bill.png" /> 
-->

<div class="main">
  
<div class="sponsorship_data">
  
	<div id="sponsors">
		<h5 class="gray">Sponsor</h5>
		<% unless @bill.co_sponsors.empty? %>

		<% end %>
		<div class="details">
			<% unless @bill.sponsor.nil? %>
			  <%= link_to("<img src='/images/photos/thumbs/" + @bill.sponsor.id.to_s + ".png'>", {:controller => "people", :action => "show", :id => @bill.sponsor}) %>
			<p><%= @bill.sponsor.title_long %></p>
			<%= link_to(@bill.sponsor.full_name, {:controller => "people", :action => "show", :id => @bill.sponsor}) %>
			<p><%= @bill.sponsor.party_and_state %></p>
			<% else %>
			<p>No sponsor found for this Bill</p>
			<% end %>
		</div>
		<%= toggler("bill_cosponsors_more", "View Co-Sponsors (#{@bill.co_sponsors.size})", "Hide Co-Sponsors", "toggle", "toggle") %>

		<ul id="bill_cosponsors_more" style="display:none;">
			<%= co_sponsor_list %>		
		</ul>
	</div>

	<div id="committees">
		<h5 class="gray">Committees</h5>
		<% unless @bill.committees.empty? %>	
		<div class="details">              
			<%= committee_list(0,1) %>
			<% if @bill.committees.size > 1 %>
			<div id="bill_committee_more" style="display:none;">
				<%= committee_list(2,@bill.committees.size) %>
			</div>
			<% end %>
			<% else %>
			<div class="details">              
				<p>No Committees found for this Bill</p>
				<% end %>
			</div>
<br />
				<% if @bill.committees.size > 1 %>
				<%= toggler("bill_committee_more", "View all Committees (#{@bill.committees.size - 2} more)", "Hide Extra Committees", "toggle", "toggle") %>
				<% end %>
		</div>
</div>



  
  <div id="bill-status-box" class="clearfix">
		<%= bill_status_table %>
		
		<a href="/bill/<%= @bill.ident %>/actions_votes" class="action_button"><span class="title">Latest Action</span> <span class="dater"><%= @bill.last_action.formatted_date %></span><span class="action_details"><%= truncate(h(@bill.last_action), :length => 39) %></span></a>
		
		    <% if ((@bill.related_bills.size > 0) or (@bill.subjects.size > 0)) %>
  				<a href="#bill_list" class="stats_button">
  				  <span>Related Bills (<%= @bill.related_bills.size %>) &amp; Issues (<%= @bill.subjects.size %>)</span>
  				</a>
        <% end %>
        
				<% unless @tracking_suggestions[0] == 0 %>
				  <a href="#users_tracking" class="users_button"><span>Users Tracking <%= @bill.title_typenumber_only %> (<%= @tracking_suggestions[0] %>)</span></a>
				<% end %>

	</div>
	
	
	
	
	
	<% unless @bill.plain_language_summary.blank? %>
	<div id="oc_summary">
		<div class='explain_box bill'>
			<h4>OpenCongress Summary</h4>
			 <%= @bill.plain_language_summary %>
		</div>
	</div>
	<% end %>

	<ul id="summaries_nav">
		<li id="wiki_button" <%= @bill.wiki_summary.blank? ? '' : "class='active'" %>><%= link_to_function "<span>Wiki Summary</span>", "Element.hide('summary');Element.show('wiki_summary');Element.removeClassName('official_button', 'active');Element.addClassName('wiki_button','active');" %></li>
		<li id="official_button" <%= @bill.wiki_summary.blank? ? "class='active'" : '' %>><%= link_to_function "<span>Offical Summary</span>", "Element.hide('wiki_summary');Element.show('summary');Element.removeClassName('wiki_button', 'active');Element.addClassName('official_button','active');" %></li>
	</ul>

	<div id="summaries">
	  <% cache("bill_wiki_summary_#{@bill.id}", :expires_in => 6.hours) do %>
	    <!-- bill_wiki_summary_<%= @bill.id %>: <%= Time.now %> -->
		  <div id="wiki_summary" <%= @bill.wiki_summary.blank? ? "style='display:none;'" : "" %>>
		    <% if @bill.wiki_summary %>
			    <p><%= @bill.wiki_summary  %></p>
			    <p id="contribute">This summary providedby people like you <a href="<%= @wiki_url %>">Contribute to it</a></p>
			  <% else %>
			    <p id="contribute">This bill currently has no wiki summary. <a href="<%= @wiki_url ? @wiki_url : @wiki_create_url %>" class="<%= "wiki_link" unless logged_in? %>">Create Summary</a></p>
			  <% end %> 
		  </div>

  		<div id="summary" class="clearfix" <%= @bill.wiki_summary.blank? ? "" : "style='display:none;'" %>>
  			<div class="official_summary"><%= bill_summary_with_more %></div>
		  </div>                      
		<% end %>
	</div>

		<div class="clearfix"></div>       
		<br />                      


	<div class="news_blogs">
		<div class="col1">      

			<% cache ("#{@bill.fragment_cache_key}_news_preview") do %>
			  <!-- cached: <%= "#{@bill.fragment_cache_key}_news_preview" %> // <%= Time.now %> -->
			  <a class="feed" href="<%= url_for :action => 'atom_news', :id => @bill.ident %>">FEED</a>
			  <h5 class="short">Recent News Coverage</h5>
			  <div id="news_list">
				  <a name="news"></a>
  				<%=
  				  render :partial => 'shared/news', :object => @bill.news.find(:all, :limit => 3),
  				  :locals => { :limit => 3, :all_size => @bill.news_article_count, :default_title => @bill.title_typenumber_only,
  					:more_url => { :controller => 'bill', :action => 'news', :id => @bill.ident },
  					:top_url => { :controller => 'bill', :action => 'news', :id => @bill.ident, :sort => 'toprated' } }
  				%>
		 	  </div>
			<% end %>

		</div> <!-- // col1 -->

		<div class="col2">
			<% cache ("#{@bill.fragment_cache_key}_blog_preview") do %>
			  <!-- cached: <%= "#{@bill.fragment_cache_key}_blog_preview" %> // <%= Time.now %> -->
			  <a class="feed" href="<%= url_for :action => 'atom_blogs', :id => @bill.ident %>">FEED</a>
			  <h5 class="short">Recent Blog Coverage</h5>
			  <div id="blogs_list">
				  <a name="blogs"></a>

  				<%=
  				  render :partial => 'shared/blogs', :object => @bill.blogs.find(:all, :limit => 3),
  				  :locals => { :limit => 3, :all_size => @bill.blog_article_count, :default_title => @bill.title_typenumber_only,
  					:more_url => { :controller => 'bill', :action => 'blogs', :id => @bill.ident },
  					:top_url => { :controller => 'bill', :action => 'blogs', :id => @bill.ident, :sort => 'toprated' } }
  				%>
				</div>
			<% end %>

		</div>  <!-- // col2 -->
	</div>            

<div class="users_also" id="users_tracking">
  <% unless @tracking_suggestions[0] == 0 %>
    <%= render :partial => "shared/tracking_suggestions_table",
               :locals => {:object => @bill,
                           :title => @bill.title_typenumber_only,
                           :action => "tracking_bill",
                           :tracking_suggestions => @tracking_suggestions} %>

  <% end %>



			<% unless @supporting_suggestions[0] == 0 %>
		    <%= render :partial => "shared/support_oppose_tables",
		              :locals => {:object => @bill,
		                          :title => @bill.title_typenumber_only,
		                          :action => "supporting_bill",
		                          :stance => "supporting",
		                          :tracking_suggestions => @supporting_suggestions} %>
		  <% end %>
		  <br/>
		  <% unless @opposing_suggestions[0] == 0 %>
		    <%= render :partial => "shared/support_oppose_tables",
		              :locals => {:object => @bill,
		                          :title => @bill.title_typenumber_only,
		                          :action => "opposing_bill",
		                          :stance => "opposing",
		                          :tracking_suggestions => @opposing_suggestions} %>

		  <% end %>			

			
</div>

  <% unless @bill.related_bills.empty? && @bill.subjects.empty? %>
		<% unless @bill.related_bills.empty? %>
			<div class="related_bills_list" id="bill_list">
			  <h3>Related Bills</h3>
			  <ul>
				  <%= bill_related_list %>
			  </ul>
			</div>
		<% end %>

			
		<% unless @bill.subjects.empty? %>
  		<div class="related_issues_list" id="issue_list">
  		  <h3>Related Issue Areas</h3>
  		  <ul>
  			  <%= bill_subject_list %>
  		  </ul>
  		  <span class="small">Data from the Congressional Research Service</span>
  		</div>
		<% end  %>			
	<% end %>
</div>