<div id="heading" class="clearfix">
	<h2>OpenCongress API Documentation</h2>   
	<div class="explain_box">
	  <p>Welcome. This API provides programmers with structured access to all the data on OpenCongress, everything from official bill info to news and blog coverage to user-generated votes on bills and much more. The data below is just a start -- we will continually add more unique info &amp; useful enhancements in order to contribute public knowledge about Congress back to the data commons on the open Web. We're always interested in hearing requests or seeing use cases of how you're using this API -- see the Developer Resources at the bottom of this page.</p>
	  <p>This API defaults to returning XML. All queries can also return JSON  by adding a .json file extension, or by specifying <tt>format=json</tt> as a URL parameter. The API defaults to returning 30 results. You can pass the <tt>per_page</tt> variable to decrease this (30 is the max), and the <tt>page</tt> variable to flip through pages.</p>
	</div>
</div>


<div class="people_section">

<h3>People API</h3>
<p>The people API is used to query the system for individuals, or groups of people matching given criteria.  The following describes the parameters that can be used.</p>


<dl>
  <dt>First Name (first_name)</dt>
  <dd>
      Specify the first name of the person<br/>
      <%= link_to_shown_url "#{Settings.api_base_url}people?first_name=John" %>
  </dd>
<dt>Last Name (last_name)</dt>
<dd>
    Specify the last name of the person<br/>
    <%= link_to_shown_url "#{Settings.api_base_url}people?last_name=Kerry" %>
</dd>
  <dt>OpenCongress ID (person_id)</dt>
  <dd>
      Specify the id of the person<br/>
      <%= link_to_shown_url "#{Settings.api_base_url}people?id=300056" %>
  </dd>
<dt>Gender (gender)</dt>
<dd>
    Specify the gender of the person, either 'M' or 'F'<br/>
    <%= link_to_shown_url "#{Settings.api_base_url}people?gender=M&last_name=Kennedy" %>
</dd>
<dt>State (state)</dt>
<dd>
    Specify the two letter state of the person<br/>
    <%= link_to_shown_url "#{Settings.api_base_url}people?first_name=John&state=AZ" %>
</dd>
<dt>District (district)</dt>
<dd>
    Specify the congressional district of the person<br/>
    <%= link_to_shown_url "#{Settings.api_base_url}people?district=1&state=FL" %>
</dd>
<dt>Party (party)</dt>
<dd>
    Specify the political party of the person, either 'Republican', 'Democrat', or 'Independent'<br/>
    <%= link_to_shown_url "#{Settings.api_base_url}people?party=Republican&state=FL" %>
</dd>
<dt>User Approval Range (user_approval_from, user_approval_to)</dt>
<dd>
    Specify an average OpenCongress user approval rating range (0.0 to 10.0)<br/>
    <%= link_to_shown_url "#{Settings.api_base_url}people?user_approval_from=5.0&user_approval_to=10.0" %>
</dd>

  <dt>Senators most in the news this week</dt>
  <dd>
     <%= link_to_shown_url "#{Settings.api_base_url}senators_most_in_the_news_this_week" %>
  </dd>

  <dt>Representatives most in the news this week</dt>
  <dd>
     <%= link_to_shown_url "#{Settings.api_base_url}representatives_most_in_the_news_this_week" %>
  </dd>

  <dt>Most blogged Senators this week</dt>
  <dd>
     <%= link_to_shown_url "#{Settings.api_base_url}most_blogged_senators_this_week" %>
  </dd>

  <dt>Most blogged Representatives this week</dt>
  <dd>
     <%= link_to_shown_url "#{Settings.api_base_url}most_blogged_representatives_this_week" %>
  </dd>

  <dt>Compare Two People</dt>
  <dd>Specify the ID's of two people to compare, and receive XML of their roll call vote comparisons.<br/>
    <%= link_to_shown_url "#{Settings.api_base_url}person/compare.xml?person1=300001&person2=300013" %>
  </dd>

  <dt>People Approved of by Open Congress Users are Also</dt>
  <dd>
     Returns bills, representatives, and senators supported and opposed by users's approving of a given person.<br/>
    <%= link_to_shown_url "#{Settings.api_base_url}opencongress_users_supporting_person_are_also/300060" %>
  </dd>

  <dt>People Disapproved of by Open Congress Users are Also</dt>
  <dd>
     Returns bills, representatives, and senators supported and opposed by users's disapproving of a given person.<br/>
    <%= link_to_shown_url "#{Settings.api_base_url}opencongress_users_opposing_person_are_also/300060" %>
  </dd>

  <dt>Open Congress Users tracking person are also tracking</dt>
  <dd>
     Returns bills, people, and issues commonly tracked by people tracking a given person.<br/>
    <%= link_to_shown_url "#{Settings.api_base_url}opencongress_users_tracking_person_are_also_tracking/300060" %>
  </dd>


</dl>
</div>


<div class="bills_section">
<h3>Bills API</h3>
<p>The Bills API is used to query OpenCongress for bills matching given criteria.  The following describes the functions and parameters that can be used.</p>

<dl>

  <dt>Bills by session of congress</dt>
  <dd>
    Returns bills matching the given congress.<br/>
    <%= link_to_shown_url "#{Settings.api_base_url}bills?congress=#{Settings.default_congress}" %>
  </dd>

  <dt>Bills by type</dt>
  <dd>
    Returns bills matching the given type.  Type can be: h (house), 
    s (senate), hj (house joint resolution), sj (senate joint resolution), hc (house concurrent resolution)
    sc (senate concurrent resolution), hr (house resolution), sr (senate resolution) <br/>
    <%= link_to_shown_url "#{Settings.api_base_url}bills?type=h&congress=#{Settings.default_congress}" %>
  </dd>

  <dt>Bills by number</dt>
  <dd>
    Returns bills matching the given number.<br/>
    <%= link_to_shown_url "#{Settings.api_base_url}bills?number=5749&type=h&congress=#{Settings.default_congress}"  %>
  </dd>
  
  <dt>Bills by ident</dt>
  <dd>
    Returns bills matching the given OpenCongress identification strings.<br/>
    <%= link_to_shown_url "#{Settings.api_base_url}bills_by_ident?ident[]=110-s1178&ident[]=110-s239" %>
  </dd>

  <dt>Bills Introduced Since</dt>
  <dd>
    Returns bills that were introduced since the supplied date (30 at a time).<br/>
    <%= link_to_shown_url "#{Settings.api_base_url}bills_introduced_since?date=Jan 30th, 2009" %>
  </dd>
  

  <dt>Bills by Query</dt>
  <dd>
    Returns bills matching a text query.<br/>
    <%= link_to_shown_url "#{Settings.api_base_url}bills_by_query?q=Global Poverty Act of 2007" %>
  </dd>

  <dt>Hot Bills</dt>
  <dd>
    Returns bills that OpenCongress editors feel are "hot".<br/>
    <%= link_to_shown_url "#{Settings.api_base_url}hot_bills" %>
  </dd>
  
  <dt>Stalled Bills</dt>
  <dd>
    Returns bills that have passed one chamber but have not received a vote on passage in the other (or a conference vote).<br/>
    <%= link_to_shown_url "#{Settings.api_base_url}stalled_bills?session=#{Settings.default_congress}&passing_chamber=s" %>
  </dd>

  <dt>Most Blogged Bills this Week</dt>
  <dd>
     Returns the most bills most blogged about this week.<br/>
    <%= link_to_shown_url "#{Settings.api_base_url}most_blogged_bills_this_week" %>
  </dd>

  <dt>Bills Most in the News this Week</dt>
  <dd>
     Returns the most bills most reported on by news agencies this week.<br/>
    <%= link_to_shown_url "#{Settings.api_base_url}bills_in_the_news_this_week" %>
  </dd>
  
  <dt>Most Tracked Bills this Week</dt>
  <dd>
     Returns the most bills most tracked by OpenCongress Users this week.<br/>
    <%= link_to_shown_url "#{Settings.api_base_url}most_tracked_bills_this_week" %>
  </dd>
  
  <dt>Most Supported Bills this Week</dt>
  <dd>
     Returns the most bills most supported by OpenCongress Users this week.<br/>
     <%= link_to_shown_url "#{Settings.api_base_url}most_supported_bills_this_week" %>
  </dd>

  <dt>Most Opposed Bills this Week</dt>
  <dd>
     Returns the most bills most opposed by OpenCongress Users this week.<br/>
     <%= link_to_shown_url "#{Settings.api_base_url}most_opposed_bills_this_week" %>
  </dd>
  
  <dt>Bills Supported by Open Congress Users are Also</dt>
  <dd>
     Returns bills, representatives, and senators supported and opposed by users's supporting a given bill.<br/>
    <%= link_to_shown_url "#{Settings.api_base_url}opencongress_users_supporting_bill_are_also/111-s1" %>
  </dd>

  <dt>Bills Opposed by Open Congress Users are Also</dt>
  <dd>
     Returns bills, representatives, and senators supported and opposed by users's opposing a given bill.<br/>
    <%= link_to_shown_url "#{Settings.api_base_url}opencongress_users_opposing_bill_are_also/111-s1" %>
  </dd>

  <dt>Open Congress Users tracking bill are also tracking</dt>
  <dd>
     Returns bills, people, and issues commonly tracked by people tracking a given bill.<br/>
    <%= link_to_shown_url "#{Settings.api_base_url}opencongress_users_tracking_bill_are_also_tracking/111-s1" %>
  </dd>
  

</dl>
</div>



<div class="rollcall_section">
<h3>Roll Calls</h3>

<dl>

  <dt>Roll Calls by Bills</dt>
  <dd>
    Returns the roll calls for a given list of bills.<br/>
    <%= link_to_shown_url "#{Settings.api_base_url}bill_roll_calls?bill_id[]=51865&bill_id[]=51868" %>
  </dd>
      
</dl>
</div>


<div class="issues_section">
<h3>Issues</h3>

<dl>

  <dt>Issues by Keyword</dt>
  <dd>
    Specify a Keyword, and receive an array of issue areas that match the keyword.<br/>
    <%= link_to_shown_url "#{Settings.api_base_url}issues_by_keyword?keyword=Privacy" %>
  </dd>


</dl>
</div>




<div class="semantic_wiki">
<h3>Wiki APIs</h3>

<dl>

  <dt>OpenCongress Semantic MediaWiki API</dt>
  <dd>
    Here is the API for query strings on wiki data, as well as help with writing query language. We'll be doing more extensive documentation of how to use Semantic MediaWiki and the data available through this API soon. <br/>
 <a href="/wiki/Special:Ask">http://www.opencongress.org/wiki/Special:Ask</a>
  </dd>


  <dt>Semantic MediaWiki Data </dt>
  <dd>
Here is the page to retrieve all the data on the OpenCongress Wiki, including a simpler query string format. Further documentation of data offerings to come. <br/>
 <a href="/wiki/Special:GetData">http://www.opencongress.org/wiki/Special:GetData</a>
  </dd>

      
</dl>

</div>


<div class="dev_resources">
<h3>OpenCongress Developer Resources</h3> 
<ul class="star"> 
<li class="top-star">To ask questions about the API, suggest enhancements, report bugs, or let us know how you're using data from our API, send us an email: <script type="text/javascript">m("writeus","opencongress","org","1");</script></li> 
<li class="top-star">To sign up for general site updates over e-mail: <a href="http://crm.ppolitics.org">OpenCongress mailing list</a> (low-volume, major announcements only).</li>
<li class="top-star">To subscribe to updates via RSS: <a href="http://feeds.feedburner.com/OpenCongressCongressGossipBlog">Blog RSS feed</a>.</li> <li class="top-star">To sign up for detailed programming updates over e-mail: <a href="http://lists.ppolitics.org/listinfo.cgi/develop-ppolitics.org">Site development list-serv</a>.</li> 
<li class="top-star">To join an associated Google Group: <a href="http://groups.google.com/group/sunlightlabs">Sunlight Labs</a>, <a href="http://wiki.sunlightlabs.com/index.php/OpenCongress">Sunlight Wiki</a></li> <li class="top-star">To chat with our open-source development team over IRC: #opencongress on irc.freenode.net.</li>
<li class="top-star">To check out our site code: <a href="http://github.com/opencongress/opencongress/tree/master">GitHub</a> page</li> <li class="top-star">To file a bug report, interface improvement, data source, or feature suggestion: <a href="http://trac.opencongress.org/">Trac project homepage</a>.</li> 
</ul> 
</div>


