<li class="blue no_sides no_top">
  <a class="bill" href="<%= url_for :controller => 'bill', :action => 'show', :id => bill.ident %>" title="<%= bill.title_common %>">
  	<span class="title">
  	  <%= bill.typenumber %> - <span><%= truncate(bill.title_common, :length => 50) rescue nil %></span>
  	</span>
  	<span class="date">
      <span><%= temp_url_strip(bill.status) %></span> 
    	<%= bill.last_action.formatted_date if bill.last_action %>
  	</span>
  	
  	<% unless count_type == :none %>
  	  <span class="small_article"><%= homepage_object_count(bill, count_type) %></span>
    <% end %>
  </a>
</li>   
