 <li class="people">
   <a href="<%= url_for :controller => 'people', :action => 'show', :id => person %>">

   
     
     <span class="title"><%= person.senator? ? 'Senator' : 'Representative' %> <%= person.popular_name %></span>
     <span class="date">
       <span><%= person.party %>, <%= State.for_abbrev(person.state)%></span> 
     </span>

   </a>
 </li>