 <li class="yellow no_sides no_top">
   <a href="<%= url_for :controller => 'people', :action => 'show', :id => person %>">

   
     
     <span class="title"><%= person.senator? ? 'Senator' : 'Representative' %> <%= person.popular_name %></span>
     <span class="date">
       <span><%= person.party %>, <%= State.for_abbrev(person.state)%></span> 
     </span>

   	<% unless count_type == :none %>
   	  <span class="small_views"><%= homepage_object_count(person, count_type) %></span>
     <% end %>
   </a>
 </li>