<div id="heading"> 
<h2>Issue: <%= @subject.term %></h2>
</div>


<%= render :partial => 'shared/stats_box', :object => @sidebar_stats_object if @sidebar_stats_object %>

<div class="issue_wrapper">
 
<!-- 
<div class="floatright clearnone">
  <form id="timeframe_select" action="" method="get">
  <select name="filter" onchange="submit();">
  <%= options_for_select([['Most Recent','recent'], ['Has Become Law','enacted']], params[:filter]) %>
  </select>
  </form>
</div>
<a href="/issues" class="silver button small floatleft clearnone margin-right margin-bottom">
  <span>Back to All Issues</span>
</a>
<a href="/bill/hot" class="silver button small floatleft clearnone margin-right"><span>View Hot Bills By Issues Area</span></a>
-->

<div id="issue_summary_text">
<%= @subject.summary %>
</div>

<% if @related_subjects %>
<h3>Related Issues</h3>

<%= link_to_subjects @related_subjects %>
<% end %>

<% unless @latest_bills.empty? %>
  <h3>Latest Bills</h3>
  <%= render :partial => "bill/related_bills_list", :locals => {:related_bills_list => @latest_bills, :subject => @subject } -%>
  <a href="<%= url_for :controller => 'issue', :action => 'show', :id => @subject %>" class="silver button small floatleft clearnone margin-right margin-bottom">
    <span>See All Bills</span>
  </a>
  <div class="clear">&nbsp;</div>
<% else %>
  <div class="padding clear">
  
    <% if params[:filter] && params[:filter] == 'enacted' %>
      <p class="behave">No bills at this time. The Congressional Research Service -- the official
      non-partisan think tank for Congress -- has not tagged any bills in the
      current 111th session of Congress with this issue area that have become law.</p>  
      
      <p class="behave">The CRS tags bills in Congress with varying numbers of issue areas --
      sometimes just a couple, sometimes dozens. There are over 4,000 individual
      issue areas maintained by CRS, some of which are closely related -- for
      example, "environmental health", "environmental justice", "environmental
      law enforcement", etc.</p>  
    <% else %>
      <p class="behave">No bills at this time. The Congressional Research Service -- the official
      non-partisan think tank for Congress -- has not tagged any bills in the
      current 111th session of Congress with this issue area.</p>

      <p class="behave">The CRS tags bills in Congress with varying numbers of issue areas --
      sometimes just a couple, sometimes dozens. There are over 4,000 individual
      issue areas maintained by CRS, some of which are closely related -- for
      example, "environmental health", "environmental justice", "environmental
      law enforcement", etc.</p>

      <p class="behave">The CRS might yet tag bills with this issue area in the current session of
      Congress, but the likelihood of this for any given issue cannot be
      reliably predicted from the available data. In the future, we seek to work
      with Congress and other invested parties in order to open up the CRS
      process and help make their work more accessible in accordance with the <a
      href="http://www.opengovdata.org/">8 Principles of Open Government
      Data</a>.</p>
    <% end %>
    
    <p class="behave">To stay up to date with this issue area, sign up for updates using the
    tools to the right: subscribe to RSS feeds, email alerts, or track this
    topic and others on your free "My OpenCongress" profile.</p>
  </div>
<% end %>


<% unless @hot_bills.empty? %>
  <h3>Hot Bills</h3>
  <%= render :partial => "bill/related_bills_list", :locals => {:related_bills_list => @hot_bills, :subject => @subject } -%>
  <a href="/bill/hot" class="silver button small floatleft clearnone margin-right margin-bottom">
    <span>See Hot Bills in All Issue Areas</span>
  </a>
  <div class="clear">&nbsp;</div>
<% end %>


<% unless @hot_bills.empty? %>
  <h3>Key Votes</h3>
  <%= render :partial => 'roll_call/roll_calls_list', :locals => {:rolls => @key_votes}%>
  <a href="/roll_call/all?sort=keyvotes" class="silver button small floatleft clearnone margin-right margin-bottom">
    <span>See All Key Votes</span>
  </a>
  <div class="clear">&nbsp;</div>
<% end %>

<% unless @passed_bills.empty? %>
  <h3>Enacted Bills</h3>
  <%= render :partial => "bill/related_bills_list", :locals => {:related_bills_list => @passed_bills, :subject => @subject } -%>
  <a href="/roll_call/all?sort=keyvotes" class="silver button small floatleft clearnone margin-right margin-bottom">
    <span>See All Enacted Bills</span>
  </a>
  <div class="clear">&nbsp;</div>
<% end %>

<% unless @groups.empty? %>
  <h3>Related OpenCongress Groups</h3>
  <%= render 'groups/groups_list_small', :groups => @groups %>
  <div class="clear">&nbsp;</div>

<% end %>


<% unless @related_industries.empty? %>
  <h3>Top Recipients From Related Industries</h3>
  <table class="money">
    <tr><th>Industry</th><th>House</th><th>Senate</th></tr>
    <% @related_industries.each do |i| %>
      <tr>
        <td><%= i.name %></td>
        <td>
          <% p = i.top_recipients(chamber = 'house', num = 1).first %>
          <%= link_to_person(p) %><br />
          $<%= number_with_delimiter(p.contrib_total) %>
        </td>
        <td>
          <% p = i.top_recipients(chamber = 'senate', num = 1).first %>
          <%= link_to_person(p) %><br />
          $<%= number_with_delimiter(p.contrib_total) %>
        </td>
      </tr>
    <% end %>
  </table>
  
  <div class="clear">&nbsp;</div>
<% end %>
 
<% unless @tracking_suggestions[0] == 0 %>
  <%= render :partial => "shared/tracking_suggestions_table", 
             :locals => {:object => @subject, 
                         :title => @subject.term, 
                         :action => 'tracking_issue', 
                         :tracking_suggestions => @tracking_suggestions} %>

<% end %>
<br /><br />

  <div class="huge">

    <p>Make a Widget for this Issue By:
    <a class="small_bill" href="/resources/issue_bills?issue_id=<%= @subject.id %>&item_type=new-bill">Newest Bills</a>&nbsp;&middot;&nbsp;
    <a class="small_bill" href="/resources/issue_bills?issue_id=<%= @subject.id %>&item_type=viewed-bill">Most Viewed Bills</a>
    <%= dbox_trigger('widgets') %>
		<div class="dboxed">
		  <%= dbox_content("widgets") %>
		</div>
</p>

   
  </div>
</div>

