= link_to "Comments (#{item.comments.size})", '#', :class => 'item_comment_trigger button silver tiny', :id => "item_comment_trigger_#{item.id}"
%div.item_comments{ :id => "item_comments_#{item.id}"}
  = render :partial => 'shared/comments', :locals => { :object => item }
  
:javascript
  $j().ready(function() {
    $j("#item_comment_trigger_#{item.id}").click(function() {
      $j("#item_comments_#{item.id}").toggle();
      return false;
    });
  });