.main-content
  - if @group.can_moderate?(current_user)
    = link_to "Remove Bill Position", group_group_bill_position_path(@group, bill_position), :method => :delete, :confirm => "Are you sure?", :class => 'button medium yellow floatright'
  
  %h2= "#{bill_position.bill.typenumber}: #{bill_position.bill.title_common}"
  %p.behave
    = "#{@group.name} is "
    %strong= position_clause(bill_position.position)
    this bill.
    = "Here's why:" unless bill_position.comment.blank?
  
  - unless bill_position.comment.blank?
    %p.behave.bill_position_comment
      %em= bill_position.comment
    
  - unless bill_position.permalink.blank?
    %p.behave.bill_position_permalink.small
      Find out more:
      = link_to bill_position.permalink, bill_position.permalink
      %br
      View bill on OpenCongress:
      = link_to (url_for bill_url(bill_position.bill)), bill_path(bill_position.bill)
      
  %h3 Letters to Congress
  - letters = @group.political_notebook.notebook_items.joins("JOIN contact_congress_letters ON notebook_items.notebookable_id=contact_congress_letters.id").where(["notebook_items.notebookable_type='ContactCongressLetter' AND contact_congress_letters.bill_id=?", bill_position.bill.id])
  - if letters.empty?
    %p.behave No one from the group has written a letter #{position_clause(bill_position.position)} this bill to their elected representatives
  - else
    %p.behave The following are letters from members of this group to Congress regarding #{bill_position.bill.typenumber}.
    %ul.activity_stream.tighter
      - letters.each do |item|
        = render :partial => "#{item.class.to_s.tableize}/group_item", :object => item
  
  = link_to "Write Letter #{position_clause(bill_position.position)} #{bill_position.bill.typenumber}", new_contact_congress_letter_path(:bill => bill_position.bill.ident, :group_id => bill_position.group.id, :position => bill_position.position), :class => 'button huge blue margin-top floatleft margin-bottom'
