- if @group.bills.empty?
  %p.margin-top.push-top.floatleft
    %strong The group has not taken a position on any bills.
- else
  .clear.space &nbsp;
  - unless @group.group_bill_positions.where("group_bill_positions.position='support'").empty?
    %h3.support Bills Supported
    %ul.sidebar-nav
      - @group.group_bill_positions.where("group_bill_positions.position='support'").each do |p|
        %li.support-bills.has-main-content
          = link_to truncate("#{p.bill.typenumber} #{p.bill.title_common}", :length => 110), '#'
          =# link_to "Write Letter of Support", '#', :class => 'button blue tiny'
  .clear
  - unless @group.group_bill_positions.where("group_bill_positions.position='oppose'").empty?
    %h3.support Bills Opposed        
    %ul.sidebar-nav
      - @group.group_bill_positions.where("group_bill_positions.position='oppose'").each do |p|
        %li.support-bills.has-main-content
          = link_to truncate("#{p.bill.typenumber} #{p.bill.title_common}", :length => 110), '#'
          =# link_to "Write Letter of Opposition", '#', :class => 'button blue tiny'

- if @group.can_moderate?(current_user)
  = link_to "Add Bill Position", new_group_group_bill_position_path(@group), :class => 'button small silver post margin-top'
