.group_help
  %strong Creating a group on OpenCongress is easy! Here are a few things to keep in mind.
  %ul
    %li Your domain will be verified if it matches the email address on your account
    %li "Invite only" groups will be private and not appear in listings

= form_for :group, :url => groups_path, :html => { :multipart => true } do |f|
  = render "shared/error_messages", :target => @group
  %p
    = f.label :name
    = f.text_field :name, :class => 'field'
    
  %p
    = f.label :description
    = f.text_area :description, :class => 'field', :rows => 4, :cols => 50
  
  %p
    = f.label :website
    = f.text_field :website, :class => 'field'

  %p
    = f.label :pvs_category_id, 'Issue Area of Focus'
    = f.select :pvs_category_id, options_for_select(PvsCategory.order('name').all.map { |c| [c.name, c.id] }, @group.pvs_category_id), {:include_blank => true}
    
  %p
    = f.label :join_type, "Who can join?"
    = f.radio_button :join_type, 'ANYONE'
    Anyone
    = f.radio_button :join_type, 'REQUEST'
    Anyone can request to join
    = f.radio_button :join_type, 'INVITE_ONLY'
    Invite only
    
  %p
    = f.label :invite_type, "Who can send invitations?"
    = f.radio_button :invite_type, 'ANYONE'
    Anyone
    = f.radio_button :invite_type, 'ADMIN'
    Me only
  
  %p
    = f.label :group_image, 'Group image'
    = f.file_field :group_image
    
  %p
    = f.submit 'Create Group', :class => 'button blue huge'