%ul.container_16
  %li.grid_16.lined.table_header
    %span.grid_1.alpha= "&nbsp;".html_safe
    %span.grid_3= link_to 'Name', '#', :id => 'group_name_sort'
    %span.grid_4.descrip Description
    %span.grid_3= link_to 'Issue Area of Focus', '#', :id => 'group_issue_sort'
    %span.grid_2= link_to 'Members', '#', :id => 'group_members_sort'
    %span.grid_1.omega
    
%ul.container_16
- groups.each do |g|
  %li.grid_16.lined
    %span.grid_1.alpha
      .thumb.smaller= image_tag g.group_image.url(:thumb)
    %span.grid_3= link_to g.name, g
    %span.grid_4.descrip= g.description
    %span.grid_3= g.pvs_category.nil? ? "None" : g.pvs_category.name
    %span.grid_2= g.active_members.size + 1
    %span.grid_1.omega= link_to 'Join', '#', :class => 'button silver small floatright'