#heading
  %h2 OpenCongress Groups
  
.padding
  .groups_search
    %p
      Find a group:
      = text_field_tag 'q'
  %table.groups
    %thead
      %tr
        %th
        %th Name
        %th Description
        %th Issue Area of Focus
        %th # of Members
        %th
    - @groups.each do |g|
      %tr
        %td.pic= image_tag g.group_image.url(:thumb)
        %td.name= link_to g.name, g
        %td.desc= g.description
        %td.issue= g.pvs_category.nil? ? "None" : g.pvs_category.name
        %td.members= g.active_members.size + 1
        %td.action= link_to 'Join', '#', :class => 'button silver small'