#heading
  - if logged_in?
    = link_to "Create a Group", new_group_path, :class => "button silver large margin-right margin-top floatright"
    - unless current_user.active_groups.empty?
      = link_to "My Groups (#{current_user.active_groups.size})", user_groups_path(current_user.login), :class => "button silver large margin-right margin-top floatright"
  - else
    = link_to "Register or Login to Use Groups", login_path, :class => 'button silver medium margin-top floatright margin-right'

  %h2 OpenCongress Groups

  %p.groups_instructions
    %strong Join Groups, it's free and easy. 
    Find Groups by searching for keyword, browsing by issue area, or by popularity.


.space &nbsp;

.container_12  
  .grid_7.box.rounded.center.group-map
    %h3 Find Groups for States & Congressional Districts
    %span.button.silver.huge.jqModal.find_map Launch Map
    
    #map.jqmWindow{ :style => "display:none;" }
      = render :partial => "shared/map"
      .ie
        %a.jqmClose{ :href => "#" }
          %span Close
    :javascript
      $j().ready(function() {
        $j('#map').jqm();
      });   
        
  .grid_7.box.rounded.center.issue-bg
    %h3 Select Issue Area
    = select_tag 'issue', options_from_collection_for_select(PvsCategory.order('name').all, :id, :name), :include_blank => true, :id => 'group_issue'
    



#groups_list
  .groups_search
    = image_tag 'spinner-small.gif',  :id => 'group_search_spinner'
  
    = text_field_tag 'q', nil, :id => 'group_search_field', :class => 'field small-search-field'
    = hidden_field_tag 'sort', @sort, :id => 'group_sort'
  

  = render 'groups_list', :groups => @groups




