= render 'groups/heading'


.padding
  .group_info
    %ul
      %li
        %strong Owner:
        = link_to @group.user.login, user_profile_path(@group.user.login)
      - unless @group.website.blank?
        %li
          %strong Website:
          = link_to @group.website, @group.website
          - if @group.domain_verified?
            %span.verified (Verified)
      - if @group.pvs_category
        %li
          %strong Issue Area:
          = @group.pvs_category.name


  .description
    .thumb.floatleft.margin-right
      = group_image(@group)

    = @group.description
  
  = render :partial => 'post_modal'
  = render :partial => 'post_menu'
  
  .groups_sidebar
    %ul.sidebar-nav
      %li.has-main-content.active
        %a{ :href => "#" }
          %div
          Full Converstation
      - if current_user != :false and @last_view and @group.unviewed_posts(current_user, @last_view) > 0
        %li.has-main-content
          %a{ :href => "#" }
            %div
            Unread 
            %span.inline-count= @group.unviewed_posts(current_user, @last_view)
      - else
        %li.has-main-content.dummy_li
          %a{ :href => "#" }




    #bill_positions
      = render :partial => 'bill_positions_sidebar'
      
    .clear
    
    %h3 Notifications
    %ul.sidebar-nav
      -if logged_in? and @group.is_member?(current_user)
        %li
          = link_to "Receive Emails From Owner <span id='receive_owner_emails_label' class='inline-count'>#{@group.membership(current_user).receive_owner_emails? ? 'On' : 'Off' }</span>".html_safe, "#", :id => 'notification_trigger'
        :javascript
          $j('#notification_trigger').click(function() {
            $j('#receive_owner_emails_label').html('#{image_tag('spinner-arrows.gif').html_safe}');
            $j.ajax({
              url:'#{url_for group_group_member_path(@group, @group.membership(current_user), :receive_owner_emails => "toggle")}',
              type: 'PUT',
              success: function(data) {
                $j('#receive_owner_emails_label').html(data);
              }
            });
            return false;
          });
          
      %li
        %a{ :href => group_path(@group, :format => 'xml') } 
          RSS
          %span.feed= image_tag '/images/rss.png'


  
  #activity_stream_container.main-content
    = render :partial => 'activity_stream'

  .dummy_div.main-content

  
  #bill_positions_content
    = render :partial => 'bill_positions_content'
    
  :javascript
    var $sidebar_links = $j('.has-main-content a');
    $sidebar_links.click(function() {
        $sidebar_links.parent().removeClass('active');
        $j(this).parent().addClass('active');
        var index = $sidebar_links.index($j(this));
        $j('.main-content').hide();
        if (index == 0) {
          $j('.activity_stream li').show();
          $j('#activity_stream_container').show();
        } else if (index == 1) {
          $j('.activity_stream li').hide();
          $j('.activity_stream li.new').show();
          $j('#activity_stream_container').show();
        } else {
          $j('.main-content').eq(index).show();
        }
        return false;
    });
    
        
  /    
    <a class="load-more button silver huge clear" href="#">Load More</a>         
    
    .clear.space &nbsp;
    .clear.space &nbsp;