= render 'groups/heading'


.padding
  .group_info
    %ul
      %li
        %strong Owner:
        = link_to @group.user.login, user_profile_path(@group.user.login)
      %li
        %strong Website:
        = link_to @group.website, @group.website
      - if @group.pvs_category
        %li
          %strong Issue Area:
          = @group.pvs_category.name
  .thumb
    = image_tag @group.group_image.url(:thumb)

  .description
    = @group.description
  
  .sidebar
    #bill_positions
      - if @group.bills.empty?
        You have not taken a position on any bills.
      - else
        %h3.support Bills Supported
        - if @group.bills_supported.empty?
          %p None
        -else
          - @group.bills_supported.each do |b|
            .support
              = link_to b.typenumber, bill_path
              = b.title_common
              .actions
                = link_to "Write Letter of Support", new_contact_congress_letter_path(:bill => b.ident, :position => 'support', :group_id => @group.id)
        %h3.support Bills Opposed
        - if @group.bills_opposed.empty?
          %p None
        -else
          - @group.bills_opposed.each do |b|
            .oppose
              = link_to b.typenumber, bill_path
              = b.title_common
              .actions
                = link_to "Write Letter of Opposition", new_contact_congress_letter_path(:bill => b.ident, :position => 'oppose', :group_id => @group.id)       
      = link_to "Add Bill Positions", new_group_group_bill_position_path(@group), :class => 'button small blue'
    
  #group_comments
    = render :partial => 'shared/comments', :locals => { :object => @group }