.padding
  %table.contact_steps_list
    %tr
      %th Recipient
      %th Number of steps
      %th Last delivery attempt
      %th Actions
    - @people.each do |s|
      %tr
        %td= s.name
        %td= s.formageddon_contact_steps.size
        %td
          - if s.formageddon_threads.any?
            Latest letter status:
            = s.formageddon_threads.first.formageddon_letters.first.created_at.strftime("%B %d, %Y")
            \:
            = s.formageddon_threads.first.formageddon_letters.first.status
            %br
          - if s.formageddon_threads.any? and s.formageddon_threads.first.formageddon_letters.first.formageddon_delivery_attempts.first
            - da = s.formageddon_threads.first.formageddon_letters.first.formageddon_delivery_attempts.first
            Delivery attempt:
            = da
            %br
            = link_to "View delivery attempt", "/formageddon/delivery_attempts/edit/#{da.id}"
          - else
            No Attempt Made Yet
        %td
          = link_to 'View Steps', :controller => 'formageddon/contact_steps', :action => 'show', :recipient_id => s.id, :recipient_type => s.class
          \|
          = link_to 'Re-build Steps', :controller => 'formageddon/contact_steps', :action => 'new', :recipient_id => s.id, :recipient_type => s.class
          \|
          = link_to 'Clear Steps', { :controller => 'formageddon/contact_steps', :action => 'destroy', :recipient_id => s.id, :recipient_type => s.class }, :method => :delete
