<div id="heading">

<h2><%= @state.name %></h2>

</div>


<div class="padding">


<div class="col12">

   <h3>
   <%= link_to '&larr; US Map', states_path %>
   </h3>

   
   <div class='senators'>
     <h2 class="dark">Senators</h2>

     <% @senators.each do |s| %>
       <% bgcolor = "#FFFFFF" %>
       <% bgcolor = "#FFEEEE" if s.party == "Republican" %>
       <% bgcolor = "#EEEEFF" if s.party == "Democrat" %>
       <div class="person_box_big" style="background-color:<%= bgcolor %>;margin-bottom:3px;">
        <%= link_to image_tag("http://www.opencongress.org/images/photos/thumbs_50/#{s.id}-50px.jpeg", :class =>"photo", :alt => 'photo'), person_url(s.id) %>
        <p>
          <%= link_to s.full_name, person_url(s.id) %>
          <span><%= s.party %></span>
          <% if s == @senators.first %>
          <strong><%= pluralize(s.consecutive_years, 'year') %> in office</strong>
          <% else %>
          <%= pluralize(s.consecutive_years, 'year') %> in office
          <% end %>          
        </p>
        <div style="clear:both;"></div>
        </div>
     <% end %>
   </div>
   
    <br />

   <div class='representatives'>
     <h2 class="dark">Representatives</h2>
     <% @representatives.each do |s| %>
       <% bgcolor = "#FFFFFF" %>
       <% bgcolor = "#FFEEEE" if s.party == "Republican" %>
       <% bgcolor = "#EEEEFF" if s.party == "Democrat" %>
       <div class="person_box_big" style="background-color:<%= bgcolor %>;margin-bottom:3px;">
        <%= link_to image_tag("http://www.opencongress.org/images/photos/thumbs_50/#{s.id}-50px.jpeg", :class =>"photo", :alt => 'photo'), person_url(s.id) %>
        <p>
          <%= link_to s.full_name, person_url(s.id) %>
          <span><%= s.party %></span>
          <% if s == @senators.first %>
          <strong><%= pluralize(s.consecutive_years, 'year') %> in office</strong>
          <% else %>
          <%= pluralize(s.consecutive_years, 'year') %> in office
          <% end %>          
        </p>
        <div style="clear:both;"></div>
        </div>
     <% end %>
  </div>
   
   <p class="district_description"><%= @state.freebase_description %> <em>(More from <%= link_to "Freebase", @state.freebase_link %>)</em></p>

<div class="col1">
   <% unless @tracking_suggestions.last[:my_bills_tracked_facet].nil? or 
             @tracking_suggestions.last[:my_bills_tracked_facet].first[:trackers] == 0 %>
     <h3>Top bills among <%= @state.name %> users</h3>
     <ul class="tiny_list">
       <% @tracking_suggestions.last[:my_bills_tracked_facet].each do |bt| %>
         <% unless bt[:trackers] == 0 %>
         <li class="bill"><%= link_to bt[:object].typenumber, bill_path(bt[:object]) %> - <%= truncate(bt[:object].title_common, :length => 40) %>
              <br />
              <div class="meta"><%= link_to "#{bt[:trackers]} followers", users_tracking_bill_by_state_path(bt[:object], @state.abbreviation) %>
              <%= link_to pluralize(bt[:object].comments.count, 'comment'), bill_comments_path(bt[:object]) %> 
              <%= link_to "full text", bill_text_path(bt[:object]) %> </div></li>
         <% end %>
       <% end %>
     </ul>
     <br/>
   <% end %>

</div><!-- col1 -->
<div class="col2">

<% unless @tracking_suggestions.last[:my_people_tracked_facet].nil? || 
          @tracking_suggestions.last[:my_people_tracked_facet].first[:trackers] == 0 %>
  <h3 class="dark">Top representatives among <%= @state.name %> users</h3>
  <ul class="tiny_list">
    <% @tracking_suggestions.last[:my_people_tracked_facet].each do |bt| %>
      <% unless bt[:trackers] == 0 %>
      <li class="rep">
         <%= link_to bt[:object].title_full_name_party_state, person_url(bt[:object].ident) %><br />
          <div class="meta"><span><%= bt[:trackers] %> followers</span>
             <span><%= pluralize(bt[:object].consecutive_years, 'year') %> in office</span></div>
      </li>
      <% end %>
    <% end %>
  </ul>
  <br/>
<% end %>

<% image_tag "#{@state.party_makeup_graph_url}", :style => "border:1px solid #666666;padding:5px 5px 5px 5px;" %>

</div><!-- col2 -->
</div><!-- col12 -->
<div class="col3">
   <% unless logged_in? %><p class="callout"><a href="/register">Join now</a> and connect with <%= @state.user_count %> OpenCongress users in <%= @state.name %> (it's free)</p><% end %>


<br/>
<h2 class="dark">Representatives</h2>
<% if logged_in? && current_user.definitive_district_object && current_user.definitive_district_object.state == @state %>
  <p><%= link_to "Browse all", representatives_path(:anchor => @state.abbreviation) %> or <%= link_to "see your representative (#{current_user.definitive_district_object.district_state_text})", state_district_path(@state,current_user.definitive_district_object) %></p>
<% else %>


  <div class="find_form">
    <% form_remote_tag :url => '/resources/district_from_address', :update => "find" do -%>
      <p>There are <%= link_to "#{ pluralize(@representatives.length, 'representative') }", representatives_path(:anchor => @state.abbreviation) %> in <%= @state.abbreviation %>.<br /></p>
      <p>Find yours:
        <%= text_field_tag :address, 'enter your address', :onfocus => "if (this.value==this.defaultValue) this.value=''", :size => 30 %> <%= submit_tag 'Find' %>
      </p>
    <% end -%>
  </div>

  <div id="find" style="padding-bottom:5px;">
  </div>

<% end %>

</div><!-- col3 -->

<div class="col1">
   
   <% unless @tracking_suggestions.last[:my_bills_supported_facet].nil? or 
             @tracking_suggestions.last[:my_bills_supported_facet].first[:trackers] == 0 %>
     <h3 class="dark">Top bills supported by <%= @state.name %> users</h3>
     <ul class="tiny_list">
       <% @tracking_suggestions.last[:my_bills_supported_facet].each do |bt| %>
         <% unless bt[:trackers] == 0 %>
         <li class="bill"><%= link_to bt[:object].typenumber, bill_path(bt[:object]) %> - <%= truncate(bt[:object].title_common, :length => 40) %>
              <br />
              <div class="meta"><%= bt[:trackers] %> users support</div></li>
         <% end %>
       <% end %>
     </ul>
     <br/>
   <% end %>

</div>

<div class="col2">

   <% unless @tracking_suggestions.last[:my_bills_opposed_facet].nil? or
             @tracking_suggestions.last[:my_bills_opposed_facet].first[:trackers] == 0 %>
     <h3 class="dark">Top bills opposed by <%= @state.name %> users</h3>
     <ul class="tiny_list">
       <% @tracking_suggestions.last[:my_bills_opposed_facet].each do |bt| %>
         <% unless bt[:trackers] == 0 %>
         <li class="bill"><%= link_to bt[:object].typenumber, bill_path(bt[:object]) %> - <%= truncate(bt[:object].title_common, :length => 40) %>
              <br />
              <div class="meta"><%= bt[:trackers] %> users oppose</div></li>
         <% end %>
       <% end %>
     </ul>
     <br/>
   <% end %>

</div>

</div>

