<% blog_max = [limit || all_size, all_size].min %>
<% top_url ||= nil %>
<% short ||= false %>
<% if all_size == 0 %>
  <% if @sort == 'toprated' %>
    <p>There are currently not enough ranked blog articles. Please help by ranking some blog articles as "helpful".</p>
  <% else %>
    <p>Hmmmm, no blog posts found for this bill at this time. This means that this this bill has not yet been mentioned on a publicly-searchable blog by either its official number (for example, "H.R. 3200") or title (for example, "America's Affordable Health Choices Act of 2009"). As soon as that changes, our daily automated search across the Web will catch it and include it here. If this bill is of interest to you, you can write a blog post referring to this bill by its official number or title, and once it's published online, a link back your blog post will appear here within about one day. Or, if you know of a blog post about this bill to display here, email us the web address of this page and the web address of your suggested blog post: <script type="text/javascript">m("writeus","opencongress","org","1");</script> Our editorial team will post relevant links as quickly as possible. Thanks for helping to build public knowledge about Congress.</p>
  <% end %>
<% else %>
  <p style="margin-bottom:25px;">
  <% if all_size > blog_max %>
    <a href="<%= url_for more_url %>" class="toggle">View All (<%= number_with_delimiter(all_size) %>)</a>
  <% end %>
  <% unless top_url.nil? %>
	&nbsp;|&nbsp;
    <a href="<%= url_for top_url %>" class="toggle">View Top Rated</a><br />
  <% end %>
  </p>
<% end %>

<% if @sort == 'toprated' %>
  <% link = @bill.nil? ? url_for(:controller => 'people', :action => 'blogs', :id => @person.id) :
                         url_for(:controller => 'bill', :action => 'blogs', :id => @bill.ident) %>
  <div class='explain_box' style="margin: 10px 0 20px 0;">
    This is a list of the blog posts on this <%= @bill.nil? ? 'member of Congress': 'bill' %> rated most useful by the "My OpenCongress" community. You can help by clicking "Yes" or "No" next to each post where it reads, "Was this article useful?"
  </div>
<% end %>


<% if admin_logged_in? %>
  <form name="blogs_mass_delete_form" id="blogs_mass_delete_form" action="/admin/commentary/mass_delete">
<% end %>
<% blog_max.times do |i| %>
  <% b = blogs[i] %>
  
  <%= render :partial => 'shared/commentary', :object => b, :locals => { :default_title => default_title, :short => short } %>
<% end %>
<% if admin_logged_in? %></form><% end %>

<div class="credit_buttons technorati">
  <%= technorati_button %>
</div>