<div class="comment-add">
	<h3>Add A Comment</h3>
	<% form_tag :action => 'add_comment', :id => object  do -%>
	<%= hidden_field_tag 'comment[parent_id]', parent_id %>
	<table class="comment">
		<tr><th valign="top">Name :</th><td><%= text_field :comment, :name %></td></tr>
		<tr><th valign="top">Email :</th><td><%= text_field :comment, :email %></td></tr>
		<tr><th valign="top">Url :</th><td><%= text_field :comment, :homepage, :value => 'http://' %></td></tr>
		<tr><th valign="top">Comment :</th><td><%= text_area :comment, :comment, :rows => 10 %></td></tr>

    <% c = prepare_captcha :type => 'image' -%>
    <%= captcha_hidden_field c, 'comment' %>
		<tr>
		  <th valign="top">Spam check :</th>
		  <td>
		    <%= captcha_image_tag c, :class => 'thinborder' %><br />
		    <span class="instructions">
		      Please type the text in the image:<br />
		    </span>
		    <%= captcha_text_field 'comment' %>
		  </td>
		</tr>
		<tr><td></td><td><%= submit_tag "Add Comment" %></td></tr> 
	</table>
	<% end %>
</div>
