<br />
<!-- <h3 class="dark clear"><%= toggler("add", "Add A Comment", "", "arrow")%></h3> -->

<% if logged_in? %>
<div id="add" class="comment-add" style="clear:both;">
 <h3>Speak Your Mind</h3>
  <div class="comment_instructions">
    OpenCongress comments now supports Textile formatting!
    <ul>
      <li>To insert links, use this format: <strong>"OpenCongress Home Page":http://www.opencongress.org</strong></li>
      <li>To insert quotes, use: <strong>bq. This is a quote that someone said</strong></li>
      <li>For more Textile options, see <a href="http://www.textism.com/tools/textile/index.php?sample=2" target="_new">this page</a>. (Not all features supported.)</li>
    </ul>
  </div>   
  
  <div style="color: red"><%= error_messages_for :comment, :header_message => "Please try again.", :message => "Your comment couldn't be saved because of the following errors:" %></div>
  <% remote_form_for :comment, :url => { :controller => 'comments', :action => 'add_comment', :id => object.id, :type => object.class.to_s }, :update => master_container.nil? ? nil : master_container do |f| %>
  <%= hidden_field_tag 'comment_page', "#{params[:comment_page]}" %>
	<%= hidden_field_tag 'redirect', "#{redirect}" %>
  <% unless logged_in? %>


  Please <%= link_to "Login", login_url %> or
    <%= link_to "Signup", signup_url %>, unless you wish to post anonymously
    
    
    <!--
      <tr><th valign="top">Name :</th><td><% f.text_field :name %></td></tr>
      <tr><th valign="top">Email :</th><td><% f.text_field :email %></td></tr>
      <tr><th valign="top">Url :</th><td><% f.text_field :homepage, :value => 'http://' %></td></tr>
    -->
    
    <% end %>
    
     <script type="text/javascript">
		$j(document).ready(function() {
			$j('#comment_comment').simplyCountable({
				maxCount:1000,
				countDirection:'down'
			});
		});

		</script>
    <% unless controller_name == 'articles' %>
      <%= f.text_area :comment, :rows => 6, :cols => 60 %>
    <% else %>
      <%= f.text_area :comment, :rows => 6, :cols => 40 %>
    <% end %>
    <div class="count">characters remaining:&nbsp;&nbsp;<span id="counter"></span></div>
    

    <% unless logged_in? %>
    <div>
    <!--
    Spam check :
    -->
    <%= show_simple_captcha(:object=>"comment", :image_style => 'all_black', :distortion => 'medium') %>
    </div>
    <% end %>
    
    <div class="submit"><%= submit_tag "Add Comment", :id => 'post' %></div>
    
   
   <div class="comment-message">
      <p>OpenCongress comment boards are an open forum for discussion. Let's build public knowledge about Congress together, so please keep the discussion civil -- no harsh language, subject to our community <a href="/about/terms_of_service" target="_blank">Comment Policy</a>. Do not post any information here (for example, your name or email) that you do not wish to be public.</p>
      <p>Comments are limited to 1000 characters -- in the ballpark of 150 words, or one paragraph of text. If your comment is rejected, please check the length, as OpenCongress staff cannot post your comment for you (though we're interested in your opinion!).</p>
  
      <div class="clear">&nbsp;</div>
   </div>
   
  <% end %>
</div>
<% else %>
<script type='text/javascript'>
$j().ready(function() {
	$j('#login_comment').jqm({ajax:'@href', trigger: 'a.comment_login'});
});
</script>
<div class="comment-login_message">
Please <%= link_to("login or signup",{:controller => 'account', :action => 'login'}, :class => 'comment_login') %> to post a comment.       
</div>
<div id="login_comment" class="jqmWindow">
</div>
<% end %>
