<% flat ||= false %>
<% if comment.censored %>
  <div class="commentfl" style="clear:both;float:none;border-top:1px solid #D0D6E2;">
  	<p>Moderated Comment</p>
  </div>
<% else %>
<% if comment.parent_id && !flat %>
	<div class="replytri"><%= image_tag 'comm_reply.png' %></div>
<% end %>
  <% def_fil = 5 %>
  <% def_fil = ( current_user.default_filter ? current_user.default_filter : 5 ) if logged_in? %>
  <div id="comfl<%= comment.id.to_s %>" class="commentfl" style="clear:both;float:none;
  <% if (def_fil <= comment.average_rating) %>display:none;<%end%>">
  <p>Filtered Comment [<%= link_to_function "show", "new Effect.Appear('com#{comment.id.to_s}');Element.hide('comfl#{comment.id.to_s}');" %>]</p>
  </div>
	
  <div id="com<%= comment.id.to_s %>" class="comment" style="clear:both;float:none;
  <% if (def_fil > comment.average_rating) %>display:none;<%end%>; width: 100%;">

  <div style="display:none;" class="comment_rating_help" id="useful<%=comment.id.to_s%>">
  	How helpful was this comment for you? Use the slider bar to rate it 1-10, with 10 being very helpful and 1 being least helpful.
  </div>

  <div class="comm_comm">
    <div class="comm_user">
  		
		<% if comment.user %>
  		  <%= link_to h(comment.user.login), :controller => "profile", :action => "profile", :login => h(comment.user.login) %>
  		<% else %>
  			Anonymous 
  		<% end %>

  		<%= comment.created_at.strftime('%b %d, %Y') %> 
  		<%= comment.created_at.strftime('%I:%M%p').gsub(/^0+/, '').downcase %>
  	</div>
  	<div class="comm_action">
  	  <%= link_to '<span>Link</span>', url_for(comment.commentable_link.merge({:goto_comment => comment.id})), { :class => 'small_button'} %>
  		<%= link_to_remote "<span>Reply</span>", :url => {:controller => "comments",
  			:action => "showcomfield", :parent_id => comment.id,
  			:object => object.id,
  			:type => object.class.to_s},
  			:update => "com_" + comment.id.to_s,
  			:complete => "Element.toggle('com_" + comment.id.to_s + "');",
  			:html => { :class => 'small_button' }  %>
  	</div>	
  </div>
						
  <div class="comm_rating">


    <div class="comm_rating_inner">		
  		Overall Rating: <%=h number_with_precision(comment.average_rating,1) %>&nbsp;&ensp;|&ensp;
  	  <% if logged_in? %>
  		  <div class="rate_comm" id="rate_comment_<%= comment.id.to_s%>">
  				<% if (comment_score = myscores.select{ |s| s.comment_id == comment.id }.first).nil? %>
  				  Was this comment useful?  
  					<a href="#" onClick="new Ajax.Updater('rate_comment_<%= comment.id.to_s%>','/comments/rate/<%= comment.id %>?value=10', {asynchronous:true, evalScripts:true}); return false;">Yes</a>&nbsp;or&nbsp;
  					<a href="#" onClick="new Ajax.Updater('rate_comment_<%= comment.id.to_s%>','/comments/rate/<%= comment.id %>?value=1', {asynchronous:true, evalScripts:true}); return false;">No</a>
  				<% else %>
  					You rated this comment: <%= "not " if comment_score.score < 5 %>useful.
  				<% end %>
  			</div>
  		<% else %>
  		  <%= link_to "Login to Rate", :controller => "account", :action => "login" %>
  		<% end %>
		
  		<% comment_scores = comment.comment_scores %>
  		<% unless comment_scores.empty? %>
  		  &nbsp;|&nbsp;&nbsp;<%= comment_scores.select{ |s| s.score > 5 }.size %> of <%= comment_scores.size %> found useful.
  		<% end %>
  		<% if logged_in? %>
  		  <a href="<%= url_for :controller => "comments", :action => 'flag', :id => comment.id %>" class="flag" id="flag_<%= comment.id.to_s %>"><%= image_tag('/images/flag.png', :alt => 'flag') %></a>
				<script type="text/javascript">
				$j().ready(function(){
					$j("#flag_<%= comment.id.to_s %>").qtip({
						content: "Click this flag to mark this comment as inappropriate",
						show: 'mouseover',
						hide: 'mouseout',
						position:{
							corner: {
								target: 'bottomLeft',
								tooltip: 'topRight'
							}
						},
						style: {
							border: {
								width: 2,
								radius: 5,
								color: '#BBBBBB'
							},
							tip: {
								corner: 'topRight',
								color: '#999999',
								size: {
									x:20,
									y:12
									}
								}
						}
					})
				});
				</script>
  	  <% end %>
  	</div>
  </div>
  

	<% if flat && comment.parent_id %>
		<%= link_to "in reply to #{comment.parent.user ? comment.parent.user.login : "Anonymous"} #{comment.parent.created_at.strftime('%b %d, %Y')} #{comment.parent.created_at.strftime('%I:%M%p').gsub(/^0+/, '').downcase}", url_for(comment.parent.commentable_link.merge({:goto_comment => comment.parent.id})), {:class => 'inreply'} %>
	<% end %>
	
  <% if comment.user && comment.user.small_picture %>
    <div class="comment_pic"><img src="/images/users/<%= h(comment.user.login) %>_s.jpg" />
		<% unless comment.user.user_role.id ==  0 %>
           <br/>
		   <img src="/images/staff.png" alt="staff"/>
		 <% end %>
	</div>
  <% else %>
    <div style="clear:left;"></div>
  <% end %>
  <p class="com_content clearfix">
  	<span><%= h(comment.comment).gsub(/\n/, "<br/>") %></span>
  </p>  

  <div id="com_<%= comment.id.to_s %>" style="clear:both;display:none;"> </div>

  </div>
  <% if logged_in? && current_user.user_role.can_moderate_articles %>
    <div style="clear:left;">       
    	<form class="button-to" action="/comments/censor/<%=h comment.id %>" method="post">
    	<%= submit_tag "Censor", :value => "Censor" %>
    	<%= submit_tag "Censor+BanIP", :value => "Censor+BanIP" %>
    </form>
    </div>
  <% end %>
<% end %>