<div class="c_item">

<span class="date"><%= commentary.date.to_time.strftime("%m/%d/%y") %></span>

<h5 class="short">
  <% if commentary.title.blank? %>
    <a href="<%= commentary.url %>" target="_blank">RE: <%= short ? truncate(default_title, :length => 37) : default_title %></a>
  <% else %>
    <a href="<%= commentary.url %>" target="_blank"><%= short ? truncate(commentary.title_d, :length => 37) : commentary.title_d %></a>
  <% end %>  
</h5>

<p><%= short ? truncate(strip_unclosed_tag(strip_tags(commentary.excerpt_d)), :length => 140) : strip_unclosed_tag(strip_tags(commentary.excerpt_d)) %></p>

<div class="source"><em>Source:
	<% if commentary.source_url %>
    <% if commentary.source %>
			<a href="<%= commentary.source_url %>" target="_blank"><%= strip_tags(commentary.source) %></a>
    <% else %>
			<a href="<%= commentary.source_url %>" target="_blank"><%= commentary.source_url %></a>      		
		<% end %>
  <% else %>
    <% if commentary.source %>
			<%= commentary.source %>
    <% end %>
  <% end %>
</em></div> 
<div id="pn_<%= commentary.id %>">
  <%= render :partial => 'shared/commentary_options', :locals => { :object => object, :commentary => commentary, :is_logged_in => false } %>
</div>

  <div id="about_commentary_ratings_<%= commentary.id.to_s %>" style="display: none; margin-bottom: 5px;">
    Did you find this article useful? Your opinion counts - together, we're finding the very best news and blog coverage about Congress available on the web.
  </div>

<% if admin_user_signed_in? %>
  <p class="small">
    Scraped from: <%= commentary.scraped_from %> / Verification matched: <%= commentary.contains_term %>
  </p>
  <p class="small">
    <%= link_to "Edit", :controller => 'admin/commentary', :action => 'edit', :id => commentary %> |
    <%= link_to "Delete", { :controller => 'admin/commentary', :action => 'destroy', :id => commentary },
                :confirm => 'Are you sure?', :method => "post" %> | 
    Mass delete: <%= check_box_tag "mass_delete_ids[]", commentary.id %>
    <%= submit_tag 'Execute mass delete' %>
  </p>
<% end %>
</div>

