.add-comment.comment_reply{ :id => "comment_reply_#{parent_id.to_s}" }
  - if logged_in?
    %div{ :style => "color: red'" }
      = error_messages_for :comment, :header_message => "Please try again.", :message => "Your comment couldn't be saved because of the following errors:"

    %h3= "Reply to Comment (#{link_to_function "Hide", "Element.toggle('com_" + parent_id.to_s + "');"})".html_safe

    - unless @simple_comments
      = render :partial => 'shared/comments_instructions'
    
    - form_for :comment, :url => { :controller => 'comments', :action => 'add_comment', :id => object.id, :type => object.class.to_s }, :remote => true do |f|
      :javascript
        $j(document).ready(function() {
          $j('#comment_comment').simplyCountable({
            maxCount:1000,
            countDirection:'down'
          });
        });
      
      = f.hidden_field :parent_id, :value => parent_id 
      = f.text_area :comment, :rows => 10

      .count 
        characters remaining:&nbsp;&nbsp;
        %span#counter      
      
      .submit
        = submit_tag "Add Comment", :id => 'post', :class => 'large button silver'
        = submit_tag "Preview", :name => 'preview_button', :id => 'preview', :class => 'large button silver'
        = image_tag 'spinner-ovals.gif', :class => 'comment-spinner', :style => "display: none;"
        :javascript
          $j("#post").click(function() { 
            $j(".comment-spinner").show();
          });
          $j("#preview").click(function() { 
            $j(".comment-spinner").show();
          });          
      %div{ :id => "comment-preview-#{object.id}", :style => 'display: none;' }
      

  - else
    :javascript
      $j().ready(function() {
        $j('#login_comment').jqm({ajax:'@href', trigger: 'a.comment_login'});
      });

    .comment-login_message
      Please
      = link_to("login or signup",{:controller => 'account', :action => 'login', :modal => true}, :class => 'comment_login')
      to post a comment.       

    #login_comment.jqmWindow
      