<div class='add-comment comment_reply' id="comment_reply_<%= parent_id.to_s %>">
<% if logged_in? || object.class.to_s == "Article" %>
  <div style="color: red">
    <%= error_messages_for :comment, :header_message => "Please try again.", :message => "Your comment couldn't be saved because of the following errors:" %>
  </div>
	<h3>Reply to Comment (<%= link_to_function "Hide", "Element.toggle('com_" + parent_id.to_s + "');" %>)</h3>
	<% remote_form_for :comment, {:url => { :controller => 'comments', :action => 'add_comment', :id => object.id, :type => object.class.to_s }, :update => "comment_reply_#{parent_id}", :complete => "new Effect.Highlight('comment_reply_#{parent_id.to_s}', {duration: 2});" } do |f| %>
        <%= f.hidden_field :parent_id, :value => parent_id %>

<% unless logged_in? %>
               
               Please <%= link_to "Login", :controller => "account", :action => "login" %> or 
                                 <%= link_to "Signup", :controller => "account", :action => "signup" %>, unless you wish to post anonymously
<% end %>
		<%= f.text_area :comment, :rows => 10 %>
                 <% unless logged_in? %>

	
	Spam check: <%= show_simple_captcha(:object=>"comment", :image_style => 'all_black', :distortion => 'high') %>
		
		
                 <% end %>
		
		<div class="submit"><%= submit_tag "Add Comment" %></div>
		
	<% end %>
<% else %>
<div class="comment-login_message">

      Please <a href="/login">login</a> or <a href="/register">signup</a> to post a comment.

</div>
<% end %>
</div>
