<a name="comments"></a>
<div id="comments">
  <% if object.comments.size > 0 %>
	<h3 class="darkline">Comments 
      <%= link_to(image_tag('feed.jpg', :class => 'noborder'), "/articles/#{object.id}/atom") %></h3>
		<% object.comments.each do |comment| %>
			<div class="comment">
			  <p>
					<%= comment.comment %>
				</p>
				

				<p class="comment_desc">
				  <%= long_date comment.created_at %> by 
				  <% if comment.homepage.length > 7 %>
					  <strong><%= link_to comment.name, comment.homepage %></strong>
				  <% else %>
					  <strong><%= comment.name %></strong>
				  <% end %>
				</p>
			</div>
		<% end %>
	<% end %>
	
	
	<%= render :partial => 'shared/comment_form', :locals => {:parent_id => 0, :object => object, :comment => comment} %>
</div>
