<ul>
<% if object.comments.length > 0 %>
	<% object.comments.find(:all, :order => "comments.id DESC", :include => "user", :limit => 2).each do |c| %>
	<li><%=h c.user ? c.user.login : "Anonymous" %> : <%=h c.comment %></li>
	<% end %>
		<% if object.is_a?(Bill) %>
			<%= link_to "#{object.comments.length - 2} More", {:controller => "bill", :action => "show", :id => "#{object.ident}", :anchor => "comments"}, :class => "arrow" %>
		<% elsif object.is_a?(Person) %>
			<%= link_to "#{object.comments.length - 2} More", {:controller => "people", :action => "show", :id => "#{object.to_param}"}, :class => "arrow" %>
		<% elsif object.is_a?(Subject) %>
		<%= link_to "#{object.comments.length - 2} More", {:controller => "issue", :action => "show", :id => "#{object.to_param}"}, :class => "arrow" %>
		<% end %>
	<% else %>
	<li><p>No New Comments</p></li>
	<% end %>
</ul>