	<div id="stats">
  <% cache("page_views_#{stats_box.display_object_name}_#{stats_box.id}", :expires_in => 3.hours) do %>
    <!-- cached: page_views_<%= "#{stats_box.display_object_name}_#{stats_box.id}" %> // <%= Time.now %> -->
    <h3><%= stats_box.display_object_name %>'s Views</h3>
    <ul>
      <li><span class="time">Today:</span> <span class="count"><%= number_with_delimiter(stats_box.views(1.days)) %></span></li>
      <li class="even">
        <span class="time">Past Seven Days:</span> <span class="count"><%= number_with_delimiter(stats_box.views(7.days)) %></span>
      </li>
      <li><span class="time">All-Time:</span> <span class="count"><%= number_with_delimiter(stats_box.views) %></span></li>
    </ul>
    <!-- /page_views_<%= "#{stats_box.display_object_name}_#{stats_box.id}" %> -->
  <% end %>
	</div>