
<% cache("tracked_items_#{object.display_object_name}_#{object.id}", :expires_in => 24.hours) do %>

<div class="tracking_info">

  <!-- cached: tracked_items_<%= "#{object.display_object_name}_#{object.id}" %> // <%= Time.now %> -->
  
  <h3 class="darkline clear">Users tracking <%= title %> 
     (<%= link_to tracking_suggestions[0], :controller => 'friends', :action => action, :id => (object.class.to_s == 'Subject' ? object.to_param : object.ident ) %>) <span>are also tracking:</span>
  </h3>
  <table>
    <tr>
      <% unless tracking_suggestions[1][:my_bills_tracked_facet].blank? %><th style="width:400px;text-align:left;">Bills</th><% end %>
      <% unless tracking_suggestions[1][:my_people_tracked_facet].blank? %><th style="width:280px;text-align:left;">People</th><% end %>
      <% unless tracking_suggestions[1][:my_issues_tracked_facet].blank? %><th style="width:280px;text-align:left;">Issues</th><% end %>
    </tr>
    <tr>
      <%  unless tracking_suggestions[1][:my_bills_tracked_facet].blank? %>
      <td style="vertical-align:top;">
        <ul class="mini_bills_list">
        <% tracking_suggestions[1][:my_bills_tracked_facet].each do |p| %>
          <li><span class="tracking_count"><%= link_to "<span>#{p[:trackers]}</span>", :controller => 'friends', :action => 'tracking_bill', :id => p[:object].ident %></span>
<%= link_to p[:object].title_typenumber_only, bill_path(p[:object]) %> <%= truncate_string(p[:object].title_common, 20) %></li>
        <% end %>
        </ul>
      </td>
      <% end %>
      <%  unless tracking_suggestions[1][:my_people_tracked_facet].blank? %>
      <td style="vertical-align:top;">
        <ul class="mini_people_list">
        <% tracking_suggestions[1][:my_people_tracked_facet].each do |p| %>
          <li><span class="tracking_count"><%= link_to "<span>#{p[:trackers]}</span>", :controller => 'friends', :action => 'tracking_person', :id => p[:object].ident %></span>
						<%= link_to "#{p[:object].short_name} <i>[#{p[:object].party_and_state}]</i>", person_url(p[:object].ident) %>
            </li>
        <% end %>
        </ul>
      </td>
      <% end %>
			<%  unless tracking_suggestions[1][:my_issues_tracked_facet].blank? %>
      <td style="vertical-align:top;">
        <ul class="mini_issues_list">
        <% tracking_suggestions[1][:my_issues_tracked_facet].each do |p| %>
          <li><span class="tracking_count"><%= link_to "<span>#{p[:trackers]}</span>", :controller => 'friends', :action => 'tracking_issue', :id => p[:object].to_param %></span>
					<%= link_to p[:object].term, issue_url(p[:object].to_param) %> 
            </li>
        <% end %>
        </ul>
      </td>
      <% end %>
    </tr>
  </table>
</div>
<% end %>
