<%= dbox_start("user-add", 80, 30, 180) %>
<% if object.class.to_s == "Bill" %>
<ul>  
  <li id="trackli">
    <% if object.bookmarks.find_by_user_id(current_user.id) == nil %>
    <% if logged_in? %>
    <%= link_to_remote(image_tag('/images/button-myoc.gif', :alt => "Add to My OpenCongress", :id => "b_myoc", :mouseover => "/images/button-myoc_omo.gif"), { :url => {:controller => 'profile', 
      :action => 'track', 
      :id => object.id, 
      :type => object.class.to_s}}) %>
      <% else %>
      <%= link_to(image_tag('/images/button-myoc.gif', :alt => "Add to My OpenCongress", :id => "b_myoc", :mouseover => "/images/button-myoc_omo.gif"), :controller => 'account', :action => 'login') %>
      <% end %>
      <% else %>
      I'm tracking this <%= object.class.to_s %>
      <% end %>
    </li>          
    <%= render :partial => 'notebook_items/add_to_mypn', :object => object%>
  </ul>

  <% elsif object.class.to_s == "Person" %>

  <ul>  
    <li id="trackli">
      <% if object.bookmarks.find_by_user_id(current_user.id) == nil %>
      <% if logged_in? %>
      <%= link_to_remote(image_tag('/images/button-myoc.gif', :alt => "Add to My OpenCongress", :id => "b_myoc", :mouseover => "/images/button-myoc_omo.gif"), { :url => {:controller => 'profile', 
        :action => 'track', 
        :id => object.id, 
        :type => object.class.to_s}}) %>
        <% else %>
        <%= link_to(image_tag('/images/button-myoc.gif', :alt => "Add to My OpenCongress", :id => "b_myoc", :mouseover => "/images/button-myoc_omo.gif"), login_url) %>
        <% end %>
        <% else %>
        I'm tracking this <%= object.class.to_s %>
        <% end %>
      </li>
      <%= render :partial => 'notebook_items/add_to_mypn', :object => object%>	 
    </ul>

    <% elsif object.class.to_s == "Subject"%>

    <ul>  
      <li id="trackli">
        <% if object.bookmarks.find_by_user_id(current_user.id) == nil %>
        <% if logged_in? %>
        <%= link_to_remote(image_tag('/images/button-myoc.gif', :alt => "Add to My OpenCongress", :id => "b_myoc", :mouseover => "/images/button-myoc_omo.gif"), { :url => {:controller => 'profile', 
          :action => 'track', 
          :id => object.id, 
          :type => object.class.to_s}}) %>
          <% else %>
          <%= link_to(image_tag('/images/button-myoc.gif', :alt => "Add to My OpenCongress", :id => "b_myoc", :mouseover => "new Effect.Hightlight('b_myoc',{duration: 1.5});;"), :controller => 'account', :action => 'login') %>
          <% end %>
          <% else %>
          I'm tracking this <%= object.class.to_s %>
          <% end %>
        </li>  
        <%= render :partial => 'notebook_items/add_to_mypn', :object => object%>	
      </ul>

      <% elsif object.class.to_s == "Committee" %>

      <ul>
        <li id="trackli">
          <% if object.bookmarks.find_by_user_id(current_user.id) == nil %>
            <% if logged_in? %>
            <%= link_to_remote(image_tag('/images/button-myoc.gif', :alt => "Add to My OpenCongress", :id => "b_myoc", :mouseover => "/images/button-myoc_omo.gif"), { :url => {:controller => 'profile',
              :action => 'track',
              :id => object.id,
              :type => object.class.to_s}}) %>
            <% else %>
              <%= link_to(image_tag('/images/button-myoc.gif', :alt => "Add to My OpenCongress", :id => "b_myoc", :mouseover => "/images/button-myoc_omo.gif"), :controller => 'account', :action => 'login') %>
              <% end %>
              <% else %>
              I'm tracking this <%= object.class.to_s %>
              <% end %>
            </li>
          </ul>

<% end %>
<%= dbox_end %>