<div class="addbill_row">
  <form id="addbillform<%= billaddform.id %>" method="post">
    <div class="addbill_cell" style="width: 200px; padding-right:7px;">
      <b><%= billaddform.title_typenumber_only %></b> - <%= billaddform.title_common %><br />
      <a href="<%= url_for({ :only_path => false, :canvas => false, :controller => 'bill', :action => 'show', :id => billaddform.ident }) %>">View Bill on OpenCongress >></a>
    </div>
    
    <div class="addbill_cell" style="width: 130px;">
      How are you following this bill?<br />
      <%= radio_button("addbill", "tracking_type", "watching", :checked => 'checked') %> Just Following<br />
      <%= radio_button("addbill", "tracking_type", "pass") %> Want To Pass<br />
      <%= radio_button("addbill", "tracking_type", "fail") %> Don't Want To Pass<br />
    </div>

    <div class="addbill_cell" style="width: 200px;">
      Add a comment (optional):<br />
      <%= text_area("addbill", "comment", "cols" => 20, "rows" => 3) %>
    </div>
      </form>
    <div class="addbill_cell" style="margin-top: 15px">
      <span class="fakebutton">
        <a href="#" style="color: #fff; font-weight: bold;" clickrewriteid="billedit_editor" clickrewriteform="addbillform<%= billaddform.id %>" clickrewriteurl="<%= url_for :only_path => false, :canvas => false, :controller => 'facebook', :action => 'addbill', :id => billaddform.ident %>" clicktoshow="billedit_edit_spinner">Add Bill</a>
      </span>
    </div>

</div>
<br style="clear: both;">