<div class="opencongress_bill">
  <% if true %>
    <div id="bill_<%= user.facebook_uid %>_<%= profile_bill.bill.id %>_preview">
      <b><%= profile_bill.bill.title_typenumber_only %></b> 
      <%= truncate(profile_bill.bill.title_common, :length => 70) %>
      <a href="#" clicktohide="bill_<%= user.facebook_uid %>_<%= profile_bill.bill.id %>_preview" 
         clicktoshow="bill_<%= user.facebook_uid %>_<%= profile_bill.bill.id %>_full">
         More Details >>
      </a>
    </div>
    <div id="bill_<%= user.facebook_uid %>_<%= profile_bill.bill.id %>_full" style="display: none">
  <% else %>
    <div id="bill_<%= user.facebook_uid %>_<%= profile_bill.bill.id %>_full">
  <% end %>
    <ul>
      <li class="opencongress_billtitle"><strong><b><%= profile_bill.bill.title_typenumber_only %></b> - <%= profile_bill.bill.title_common %></strong></li>
      <li><strong>Introduced:</strong> <%= Time.at(profile_bill.bill.introduced).strftime("%B %d, %Y") %></li>
      <li><strong>Status:</strong> <%= profile_bill.bill.status %></li>
      <% if profile_bill.bill.next_step %><li><strong>Next step:</strong> <%= profile_bill.bill.next_step %></li><% end %>
      <li><strong>Sponsor:</strong> <%= profile_bill.bill.sponsor.name %></li>
      <% unless profile_bill.comment.blank? %><li><strong><fb:name uid="<%= user.facebook_uid %>"  firstnameonly="true" useyou="false" capitalize="true" /> Says:</strong> "<%= profile_bill.comment %>"</li><% end %>
    </ul>
    <a href="<%= url_for({ :only_path => false, :canvas => false, :controller => 'bill', :action => 'show', :id => profile_bill.bill.ident }) %>" target="_blank">View Bill on OpenCongress >></a>
  </div>
</div>