<% is_preview ||= false %>

<style>

.opencongress_billgroup {
  margin-top: 10px;
  text-align: left;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.opencongress_billtitle {
  font-size: 1.2em;
}


.opencongress_bill {
  margin-bottom: 5px;
}
.opencongress_billgroup div {
  padding: 5px;
}
#opencongress_watchingbills div {
  background:#D8DFEA none repeat scroll 0%; 
}

#opencongress_passbills div  {
  background:#b4eeb4 none repeat scroll 0%; 
}

#opencongress_failbills div  {
  background:#FFEBE8 none repeat scroll 0%; 
}
</style>

<div style="text-align: center;">
  <%= image_tag 'logo_opencongress_big.gif', :style => "width: 50%" %>
  <p><fb:name uid="<%= user.facebook_uid %>"  firstnameonly="true" useyou="false" capitalize="true" /> is tracking the following bills in the U.S. Congress. You can find more info on bills, Members of Congress, and the issues you care about at <a href="http://www.opencongress.org/" target="_new">OpenCongress</a>.</p>

  <% if user.facebook_user_bills.empty? %>
    <p><fb:name uid="<%= user.facebook_uid %>"  firstnameonly="true" useyou="false" capitalize="true" />
    is not tracking any bills at this time.</p>
  <% else %>
    <% watching_bills = user.facebook_user_bills.select{ |b| b.tracking_type == 'watching'} %>
    <% unless watching_bills.empty? %>
      <div class="opencongress_billgroup" id="opencongress_watchingbills">
        <h2>
          <fb:name uid="<%= user.facebook_uid %>"  firstnameonly="true" useyou="false" capitalize="true" /> 
          Is Tracking These Bills:
        </h2>
        <%= render :partial => 'facebook/profile_bill.fbml', :collection => watching_bills, :locals => { :user => user } %>
      </div>
    <% end %>

    <% pass_bills = user.facebook_user_bills.select{ |b| b.tracking_type == 'pass'} %>
    <% unless pass_bills.empty? %>
      <div class="opencongress_billgroup" id="opencongress_passbills">
        <h2>Congress, You'd Better Pass:</h2>
        <%= render :partial => 'facebook/profile_bill.fbml', :collection => pass_bills, :locals => { :user => user }  %>
      </div>
    <% end %>

    <% fail_bills = user.facebook_user_bills.select{ |b| b.tracking_type == 'fail'} %>
    <% unless fail_bills.empty? %>
      <div class="opencongress_billgroup" id="opencongress_failbills">
        <h2>Congress, You'd Better Not Pass:</h2>
        <%= render :partial => 'facebook/profile_bill.fbml', :collection => fail_bills, :locals => { :user => user }  %>
      </div>
    <% end %>
  <% end %>

  <% unless is_preview %>
    <fb:visible-to-owner>
      <p><%= link_to "Update Bills on Your Profile >>", :controller => 'facebook', :action => 'billedit' %></p>
    </fb:visible-to-owner>
  <% end %>
</div>