
<table style="margin-left:16px;"><tr><td>

<div class="bg-bill">

	<p class="btv"><%= bill_title_vertical @first_bill %></p>
	<p class="bt"><%= @first_bill.title_full_common %></p>
	<p><strong>Sponsored by:</strong> <%= @first_bill.sponsor.name %></p>
	<p><strong>Cosponsored by:</strong> <%= @first_bill.co_sponsors.collect{|p| p.title + " " +p.lastname}.join(', ') %></p>

   <div>
    This Bill Has: <%= link_to "#{@first_bill.blogs.count} Blog posts...", "" %>, 
                   <%= link_to "#{@first_bill.news.count} News posts..." %>,
                   <%= link_to "#{@first_bill.comments.count} Comments..." %>
   </div>
</div>
</td><td style="padding:0 10px 0 24px;"><span style="font-size:45px;">VS</span></td><td>
<div class="bg-bill">

	<p class="btv"><%= bill_title_vertical @second_bill %></p>
	<p><%= @second_bill.title_full_common %></p>
	<p><strong>Sponsored by:</strong> <%= @second_bill.sponsor.name %></p>
	<p><strong>Cosponsored by:</strong> <%= @second_bill.co_sponsors.collect{|p| p.title + " " +p.lastname}.join(', ') %></p>

   <div>
    This Bill Has: <%= link_to "#{@second_bill.blogs.count} Blog posts...", "" %>, 
                   <%= link_to "#{@second_bill.news.count} News posts..." %>,
                   <%= link_to "#{@second_bill.comments.count} Comments..." %>
   </div>

</div>
</td></tr>

<tr>
<td>This bill has <%= @first_bill.bill_votes.calculate(:count, :id, :conditions => ["support = 1"]) %> supporters and <%= @first_bill.bill_votes.calculate(:count, :id, :conditions => ["support = 0"]) %> opposers</td>
<td></td><td>
This bill has <%= @second_bill.bill_votes.calculate(:count, :id, :conditions => ["support = 1"]) %> supporters and <%= @second_bill.bill_votes.calculate(:count, :id, :conditions => ["support = 0"]) %> opposers</td> 

</table>

<%= render :partial => 'shared/comments2', :locals => {:object => @thunderdome} %>
