#heading
  %h2 Widgets &amp; Badges
  
  %h2 Deprecated Widgets
  %h3 Health Care Reform Widget
  %p Track and display the status of the major health care reform bills in Congress -- right on your own site! Includes links to the House version, Senate version, and the White House's 11-page proposal to reconcile the two into one bill to pass into law, plus lots more resources to make the debate more accessible.
  = link_to 'Try it now', '/resources/healthcare'
  .tool-img= link_to image_tag('tools_healthcare.png'),  '/resources/healthcare'

  %hr

  %h3 "Congress, I'm Watching" Widget
  %p Let Congress know where you stand! Trumpet the bills you support, oppose, or both.
  %a(class="arrow blog_headline" href="/resources/watching/") Try it now
  .tool-img= link_to image_tag('tools_watching.png'), '/resources/watching'

  %hr
  
  %h3 Congress Trends Widget
  %p You can easily display information from OpenCongress on your website. With this free widget, your visitors can follow the latest trends in Congress: the most-viewed bills, Senators and Representatives most written-about on blogs, the top search terms on OpenCongress, and much more.
  %a(class="arrow blog_headline" href="/resources/syndicator") Try it now
  .tool-img= link_to image_tag('tools_syndicator.png'), '/resources/syndicator'

  %hr

  %h3 Bill Status Widget
  %p Use this page to make a free widget for your website or blog that displays the status of any bill in Congress, as well as info about its sponsors, links to the bill itself, and the bill's news and blog coverage. It's an easy way for you and your community to stay updated on important bills and track any bill's status in the Congressional pipeline.
  %a(class="arrow blog_headline" href="/resources/bill_status/") Try it now
  .tool-img= link_to image_tag('tools_bill-status.png'), '/resources/bill_status'

  %hr

  %h3 Issue Area Widget
  %p Use this page to make a free widget for your webpage or blog that displays information about an issue area you care about. Select from over 4,000 different issue areas here on OpenCongress, and choose to display either the most recent bills or the most-viewed bills in that issue area.
  %a(class="arrow blog_headline" href="/resources/issue_bills/") Try it now
  .tool-img= link_to image_tag('tools_issue-area.png'), '/resources/issue_bills'
