#heading
  %h2= @page_title = raw('Widgets & Badges')


.list.margin-top
  %ul
    %li 
      %h3= link_to 'Bill Status Widget', bill_widget_path
      %p Track any bill on OpenCongress, and post the latest info on your site.
    %li 
      %h3= link_to 'Hot Bills Widget', bills_widget_path
      %p A fresh list of the most-viewed bills on OpenCongress.
    %li 
      %h3= link_to 'Most Viewed People Widget', bills_widget_path
      %p A list of the most-viewed representatives on OpenCongress.

    %li         
      %h3 Badges -- 80px and 120px
      %p= link_to 'Looking for our older widgets?', deprecated_widgets_path
  

.widget-example
