Select Default Title for <%= @bill.typenumber %>

<% form_tag :action => 'updatedefaulttitle', :id => @bill.ident do -%>
  <p>
    <table>
      <% @bill.bill_titles.each do |t| %>
        <% unless t.title_type == 'official' %>
          <tr>
            <td>
              <% if t.is_default %>
                <%= radio_button 'default_title', "title_id", t.id, :checked => 'checked' %>
              <% else %>
                <%= radio_button 'default_title', "title_id", t.id %>
              <% end %>
            </td>
            <td><%= t.title %></td>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <td><%= radio_button 'default_title', "title_id", "none" %></td>
        <td>No Default</td>
      </tr>
    </table>
  </p>

  <%= hidden_field 'bill', 'ident' %>
  
  <p><%= submit_tag 'Set Default Title' %></p>
<% end %>
