<% content_for :header do %>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= ApiKeys.google_maps %>" type="text/javascript"></script>
<%= include_javascripts :distmap %>
<%= include_stylesheets :districts %>
<% end %>

<div id="heading">

<h2><%= @state.name %>'s <%= @district.ordinalized_number %> Congressional District</h2>

</div>

<div class="padding">
<div class="col12">
   <h3><%= link_to raw("&larr; #{@state.name}"), state_url(@state.abbreviation) %></h3>

   <p><%= @district.freebase_description %>
      <em>(More from <%= link_to "Freebase", @state.freebase_link %>)</em></p>

<div class="col1">
   
   <% unless @tracking_suggestions.last[:my_bills_tracked_facet].first[:trackers] == 0 %>
     <h3 class="dark bill">Top bills tracked by users in this district</h3>
     <ul style="margin-left:20px;">
       <% @tracking_suggestions.last[:my_bills_tracked_facet].each do |bt| %>
         <% unless bt[:trackers] == 0 %>
         <li><%= link_to bt[:object].typenumber, bill_path(bt[:object]) %> - <%= truncate(bt[:object].title_common, :length => 50) %>
              <br />
              <div class="meta"><%= link_to "#{bt[:trackers]} followers", users_tracking_bill_by_state_path(bt[:object], @state.abbreviation) %>
              <%= link_to pluralize(bt[:object].comments.count, 'comment'), bill_comments_path(bt[:object]) %> 
              <%= link_to "full text", bill_text_path(bt[:object]) %> </div></li>
         <% end %>
       <% end %>
     </ul>
     <br/>
   <% end %>
   
   <% unless @tracking_suggestions.last[:my_people_tracked_facet].first[:trackers] == 0 %>
     <h3 class="dark rep">Top people tracked by users in this district</h3>
     <ul style="margin-left:20px;">
       <% @tracking_suggestions.last[:my_people_tracked_facet].each do |bt| %>
         <% unless bt[:trackers] == 0 %>
         <li class="person">
            <a href="<%= person_url(bt[:object].ident) %>"><img src="/images/photos/thumbs_42/<%= bt[:object].id %>.png" alt="photo" style="float:left;margin-right:5px;" /></a>
            <%= link_to bt[:object].title_full_name_party_state, person_url(bt[:object].ident) %><br />
             <div class="meta"><span><%= bt[:trackers] %> followers</span>
                <span><%= pluralize(bt[:object].consecutive_years, 'year') %> in office</span></div>
         </li>
         <% end %>
       <% end %>
     </ul>
     <br/>
   <% end %>

</div><!-- col1 -->
<div class="col2">

  <h3 class="dark">District Boundary Map</h3>

  		<div id="googlemap" style="width: 345px; height: 345px; border: 1px solid #999;"></div>

      <script type="text/javascript">
      distcenter('googlemap',
                 '<%= @state.abbreviation + (@district.district_number == 0 ? '' : @district.district_number.to_s) %>',
                 [<%= @district.center_lat.to_s %>, <%= @district.center_lng.to_s %>, 7])
      </script>

<div id="mapinfo"></div>
</div><!-- col2 -->
</div><!-- col12 -->

<div class="col3">
   <% unless logged_in? %><p class="callout"><a href="/register">Join now</a> and connect with <%= @district.user_count %> OpenCongress users in this district (it's free)</p><% end %>
</div>

<div class="col12">
<div class="col1">

   <% unless @tracking_suggestions.last[:my_bills_opposed_facet].first[:trackers] == 0 %>
     <h3 class="dark bill">Top bills opposed by users in this district</h3>
     <ul style="margin-left:20px;">
       <% @tracking_suggestions.last[:my_bills_opposed_facet].each do |bt| %>
         <% unless bt[:trackers] == 0 %>
         <li><%= link_to bt[:object].typenumber, bill_path(bt[:object]) %> - <%= truncate(bt[:object].title_common, :length => 50) %>
              <br />
              <div class="meta"><%= bt[:trackers] %> users oppose</div></li>
         <% end %>
       <% end %>
     </ul>
     <br/>
   <% end %>

</div>
<div class="col2">

   <% unless @tracking_suggestions.last[:my_bills_supported_facet].first[:trackers] == 0 %>
     <h3 class="dark bill">Top bills supported by users in this district</h3>
     <ul style="margin-left:20px;">
       <% @tracking_suggestions.last[:my_bills_supported_facet].each do |bt| %>
         <% unless bt[:trackers] == 0 %>
         <li><%= link_to bt[:object].typenumber, bill_path(bt[:object]) %> - <%= truncate(bt[:object].title_common, :length => 50) %>
              <br />
              <div class="meta"><%= bt[:trackers] %> users support</div></li>
         <% end %>
       <% end %>
     </ul>
     <br/>
   <% end %>

</div><!-- col2 -->
</div><!-- col12 -->
</div><!-- padding -->
