<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%= @page_title %></title>

	<style media="all" type="text/css">

.healthcare_widget {
   background: url(<%= image_path 'widgets/financial_bg.png' %>) no-repeat;
   width: 320px;
   font-family: Arial, Helvetica, sans-serif;
   padding: 0px;
   font-size: 12px;
}


.healthcare_widget a{
color: #333;
}

.healthcare_widget .title {
   border-bottom: 1px solid #999;
   min-height: 69px;
}

.healthcare_widget .title h3 {
   margin: 0;
   font-size: 15px;
   color: #4a862a;
   padding: 18px 0 0 68px;
}


.healthcare_widget .title p {
   margin: 0;
   padding: 2px 0 0 68px;
   font-size: 11px;
}


.healthcare_widget .guts {
   background: #fff url(<%= image_path 'widgets/healthcare_bg.png' %>) -1px -70px no-repeat;

   border-left: 1px solid #999;
   border-right: 1px solid #999;
   padding: 15px 15px 0;
}

.healthcare_widget .guts h4 {
   margin: 0;
   padding: 0 0 10px 0;
   font-size: 11px;
   color: #136b9e;
}

.healthcare_widget .house {
   border-bottom: 1px solid #ddd;
   padding-bottom: 15px;
}

.healthcare_widget .senate {
   margin-top: 15px;
   border-bottom: 1px solid #ddd;
   padding-bottom: 15px;
}

.healthcare_widget .senate .status {
   padding: 15px;
   background: #e9f2e4;
}

.healthcare_widget .senate .status h5 {
   margin: 0 0 10px 0;
   font-size: 12px;
   color: #49643c;
}

.healthcare_widget .blog_coverage {
   display: block;
   background: url(<%= image_path 'widgets/button-320.png' %>) no-repeat;
   height: 40px;
   width: 320px;
   padding-top: 20px;
}

.healthcare_widget .blog_coverage a {
   display: block;
   color: #333;
   padding: 0 0 0 15px;
   font-weight: bold;
   font-size: 12px;
   text-decoration: none;
}

.blog_coverage a:hover, .healthcare_widget a:hover {
   color: #000;
}

.passed {
   color: #4a862a;
   padding-left: 23px;
   background: url(<%= image_path 'widgets/widget_icons.png' %>) 7px -114px no-repeat;
}

.introduced {
   padding-left: 10px;
   color: #ccc;
}

.full_text, .comments, .roll_call, .voting_record, .tracking {
   background: url(<%= image_path 'widgets/widget_icons.png' %>) 0 14px no-repeat;
   padding-left: 18px;
   line-height: 1.8em;
   color: #555;
   float: left;
}

.full_text {
padding-top: 10px;
}

.pres_bill {
   background: url(<%= image_path 'widgets/widget_icons.png' %>) 0 5px no-repeat;
clear: both;
margin-bottom: 0px;
display: block;
padding-left: 16px;
line-height: 2em;
}




.comments {
   background-position: 0 -84px;
}

.roll_call {
   background-position: 0 -27px;
   display: block;
   float: none;
   clear: both;
}


.voting_record {
   background-position: 1px -27px;
   display: block;
   float: none;
   clear: both;
}


.tracking {
   background-position: 0 -57px;
   display: block;
   float: none;
   clear: both;
}


.democrat {
   padding-left: 20px;
   background: url(<%= image_path 'widgets/widget_icons.png' %>) 0 -139px no-repeat;
}


.republican {
   padding-left: 20px;
   background: url(<%= image_path 'widgets/widget_icons.png' %>) 0 -168px no-repeat;
}

.status ul {
   padding: 0;
   margin: 0 0 10px 0;
}


.status ul li {
   margin-bottom: 3px;
   list-style: none;
}


h5.bill_title {
   margin: 0;
   font-size: 12px;
   margin-bottom: 10px;
}

h5.bill_title a:visited,
h5.bill_title a:link {
   color: black;
}


.full_text.diff{
margin: -16px 0 20px 0 !important;
}

	</style>
</head>
<body>


<div class="healthcare_widget">
	<div class="title">
		<h3>Financial Reform in Congress</h3>
		<% if @state_name %>
		   <p>What People in <strong><%= @state_name %></strong> Are Saying on <%= link_to "OpenCongress", home_url, :target => "_blank" %></p>
      <% else %>
         <p>What People Are Saying on <%= link_to "OpenCongress", home_url, :target => "_blank" %></p>
      <% end %>
	</div>

	<div class="guts">
		<div class="house">
			<h4>House Version: <a href="http://www.opencongress.org/bill/111-h4173/show">H.R.4173</a></h4>
			
			
				<h5 class="bill_title"><a href="http://www.opencongress.org/bill/111-h4173/show">Wall Street Reform and Consumer Protection Act of 2009</a></h5>
			
					<span>Latest Action: <span class="passed">Passed on December 11, 2009</span></span>
								
					<a class="full_text" href="http://www.opencongress.org/bill/111-h4173/text">Read and comment on the bill text</a>
					
					<a class="roll_call" href="http://www.opencongress.org/vote/2009/h/968">Full vote results (223-202)</a>
					
	
					<a class="roll_call" href="http://www.opencongress.org/bill/111-h4173/show#users_tracking">People watching this bill are also watching...</a>
					
					

		</div>

		<div class="senate">
			<h4>Senate Version Final bill not yet introduced.</h4>
   		
   		<a class="full_text diff" href="http://www.opencongress.org/articles/view/1519-State-of-Play-Senate-Financial-Reform-">Read the State-of-play rundown</a>
   		
   		<div class="clear">&nbsp;</div>
   		
  				</div>

   		

   </div> <!-- Guts -->
   <div class="blog_coverage">
   	<% if @state_name %>
   	<%= link_to "What's hot with people in your state?", state_url(params[:state]), :class => "hot", :target => "_blank" %>
      <% else %>
   	<%= link_to "What's hot with people in your state?", states_url, :class => "hot", :target => "_blank" %>
      <% end %>
   </div>

</div> <!-- End Widget -->

</body>
</html>
