<%= javascript_include_tag 'widgets/panel_generator' %>
<div id="heading">
  <h2><%= @page_title = 'Make a Health Care Widget' %></h2>
</div>
<div class="padding">
  <p>On Thursday, February 25th, 2010, President Obama will hold a public forum with Congressional Republicans on the issue of health care reform. For ongoing non-partisan analysis, visit our <a href="/blog">Blog</a> coverage of the <a href="http://www.opencongress.org/blog/Health+care+summit">health care summit</a> and follow our <a href="http://twitter.com/opencongress">Twitter</a> account.</p><br>

<p>The free widget below keeps you and your online community up-to-date with the major health care reform bills in Congress: the version passed by the House, the version passed by the Senate, and the 11-page proposal by the White House to reconcile the two and pass the resulting bill into law. Use the drop-down menu to select the national version or tailored to an individual state, then simply copy-and-paste the resulting HTML into your website or blog. We're working to make this complicated legislative process more widely accessible to the public and participatory -- send us your questions and comments: writeus@opencongress.org.</p><br><br>

  <dl class="tool_form healthcare_status">
   <dt><label for="post_info_url">Select a region:</label></dt>
   <dd>
     <%= select("panel", "state_abbrev_select", State::PAIRS_SORTED, {:include_blank => "National"}, { :onChange => "setHealthCareStateAbbrev(document.getElementById('panel_state_abbrev_select').value);" } ) %>
   </dd>

  <%= hidden_field 'panel', 'state_abbrev', { :value => "" } %>
  <%= hidden_field 'panel', 'path', { :value =>  "/resources/healthcare_panel" } %>
  <%= hidden_field 'panel', 'hostname', { :value => home_url } %>

  </dl>

  <div id="preview_container">
  
  <div id="preview_healthcare_panel">
  How the panel will look:<br>
  <iframe id="healthcare_panel" name="oc_healthcare_frame" width="350" scrolling="no" frameborder="0" style="border: 0px solid #999;" allowtransparency="true" hspace="0" vspace="0" marginheight="0" marginwidth="0"></iframe>
  </div>

  <div id="preview_healthcare_code">
  Copy and paste this code into your webpage:<br>

  <%= text_area 'panel', 'code', "cols" => 68, "rows" => 20 %>

  </div>

  </div>

  <!-- The following image forces the fields to update on the initial load of the page -->
  <%= image_tag 'blank.gif', :class => 'noborder', :width => '0', :height => '0', :onLoad => 'updateHealthCareFields();' %>
  <br />
</div>
