<%= javascript_include_tag 'widgets/panel_generator' %>

Use this page to make a widget for your webpage or blog that will display the latest trends on OpenCongress. First, use the form below to custom-tailor your panel to match your webpage. Then, copy and paste the HTML chunk into your webpage. It's an easy way to share interesting, up-to-date trends and to help build public knowledge about Congress. For an example of how it looks, please see our <a href="http://participatorypolitics.org/tools_mypn.html">sample</a>.<br /><br />

<dl class="tool_form mypn">

<dt><label for="post_info_url">Username:</label></dt>
<dd><%= text_field("panel", "user") %>
</dd>

<dt><label for="post_info_url">Number of items:</label></dt>
<dd><%= select("panel", "number", (3..10).collect {|n| [ n, n ] }, { :selected => 5 }, { :onChange => "updateMypnFields();" } ) %>
</dd>


<%= render :partial => 'resources/panel_colors_form', :locals => { :update_function => 'updateMypnFields' } %>

<%= submit_tag "Update Panel Preview >> ", { :onClick => 'updateMypnFields();' } %>

<%= hidden_field 'panel', 'path', { :value =>  "/resources/mypn_panel"}%>
<%= hidden_field 'panel', 'hostname', { :value => url_for(:only_path => false, :controller => 'index') } %>

</dl>

<div id="preview_container">
  
<div id="preview_mypn_preview">
How the panel will look:<br>
<iframe id="mypn_panel" name="oc_mypn_frame" width="176" height="392" scrolling="no" frameborder="0" style="border: 1px solid #999;" allowtransparency="true" hspace="0" vspace="0" marginheight="0" marginwidth="0" src="/resources/mypn_panel?bg_color=ffffff&textcolor=333333&num_items=5&user=aross"></iframe>
</div>

<div id="preview_mypn_code">
Copy and paste this code into your webpage:<br>

<%= text_area 'panel', 'code', "cols" => 68, "rows" => 20 %>

</div>

</div>

<!-- The following image forces the fields to update on the initial load of the page -->
<img src="/images/blank.gif" class="noborder" width="0" height="0" onLoad="updateMypnFields();">
<br />
