<div id="write_rep_form">

<% remote_form_for :write_rep_email, :url => { :controller => 'resources', :action => 'write_rep_prepare' }, 302 => "document.location=request.getResponseHeader('location')" do |f| %>

<h3>Write Your Representative</h3>

<p><%= submit_tag 'Send Message'%></p>


   
   <% if @representative %>
  		<div class="to">
    		<label>To:</label> <%= @representative.name %>

      		<%= f.hidden_field :person_id %>
      		<%= f.hidden_field :district %> 
      	</div>
   <% end %>
  
  
  <div class="from">
  
    
   	
   		<div class="email">
   		
   		<label for="email">From:</label>
   		<%= @write_rep_email.email %>
        <%= f.hidden_field :email %>
  		</div>
  
  <div class="name">

	<div class="title">
      <%= f.select :prefix, [['Mr.', 'Mr.'],['Mrs.','Mrs.'],['Dr.','Dr.'],['Ms.','Ms.'], ['Miss', 'Miss']], :include_blank => false %> *
    </div>
    
    <label for="fname" class="fname">First Name *</label> <%= f.text_field :fname, :size => 15 %>
    <label for="lname" class="lname">Last Name *</label> <%= f.text_field :lname, :size => 15 %>
   <div class="phone">
   <label for="phone">Phone</label>
   <%= f.text_field :phone, :size => 12 %>
	</div>
	</div>


<div class="address">
	<label for="addr1" class="addy">Address *</label>

      <%= f.text_field :address, :size => 35 %>
  
  
  <label for="city" class="city">City *</label>
  <%= f.text_field :city, :size => 15 %>
  
  <div class="state_zip">
  <label for="state" class="state">State *</label>
  <%= f.select :state, State.find(:all, :order => "name").collect{ |s| [s.name, s.abbreviation]} %>
   
   
      <label for="zipcode" class="zip">Zipcode *</label>
      <%= f.text_field :zip5, { :size => 5, :maxlength => 5 }%>-<%= f.text_field :zip4, { :size => 4, :maxlength => 4 } %>
   </div>
   </div>
   
   



   </div>
   
 
        <div class="subject">
        <label for="subject">Subject *</label>
        <%= f.text_field :subject, {:size => 60, :maxlength => 255} %>
    	</div>
    
    	<div class="message">
        <label for="msg">Message *</label><%= f.text_area :msg %>
        </div>
      
<% end %>
</div>