<%= render :partial => "header" %>

<table class="thunderdome">
  <tr><th>Issues</th>
                <th><%= th_sort("<span>Tracking</span>", "bookmark_count_1", params[:order]) %></th>
                <th><%= th_sort("<span>Comments</span>", "total_comments", params[:order]) %></th>  </tr>
  <% count = 0 %>
  <% @results.each do |issue| %>
      <% count += 1 %>
    

     <tr>
	  
      <td id="i_<%= issue.id %>" style="vertical-align:top;" class="bill">
<span class="count issue"><%= count %></span>

  	  <span class="big"><%= link_to issue.term, :controller => 'issue', :action => :show, :id => issue %></span>


      <%= link_to "Bills", :controller => "issue", :action => "top_twenty_bills", :id => issue %>&nbsp;&middot;&nbsp;<%= link_to "Comments", :controller => "issue", :action => "comments", :id => issue %>

      <%=h issue.summary %>
      </td>



      <td class="br_td">
        <%= issue.bookmark_count_1.to_i %>
      </td>

      <td class="br_td">
	     <%= issue.total_comments || "0" %>
	  </td>


   </tr>

  <% end %>
</table>

<div class="padding floatright">
	<%= will_paginate @results %>
</div>

<% if @issue %>
   <% javascript_tag :defer => 'defer' do -%>
    new Effect.ScrollTo('i_<%= @issue.id %>');
    new Effect.Highlight('i_<%= @issue.id %>', {duration: 8} );
  <% end -%>
<% end %>