<%= render :partial => "header" %>

<table class="thunderdome">
  <tr><th></th><th></th>
                <th><%= th_sort("Tracking", "bookmark_count_1", params[:order]) %></th>
                <th><%= th_sort("Comments", "total_comments", params[:order]) %></th>  </tr>
  <% count = 0 %>
  <% @results.each do |issue| %>
      <% count += 1 %>
    <tr>
	  <td style="padding-right:10px;text-align:right;"><h1 class="count issue"><%= count %></h1>
      <td id="i_<%= issue.id %>" style="vertical-align:middle;">

  <font class="big"><%= link_to issue.term, :controller => 'issue', :action => :show, :id => issue %></font>
  <br />
      <%= link_to "Bills", :controller => "issue", :action => "top_twenty_bills", :id => issue %>&nbsp;&middot;&nbsp;<%= link_to "Comments", :controller => "issue", :action => "comments", :id => issue %>
					         <br/>
					         <%=h issue.summary %>
      </td>
      <td style="text-align:center;">
        <h1><%= issue.bookmark_count_1.to_i %></h1>
      </td>

      <td style="text-align:center;">
	     <h1><%= issue.total_comments || "0" %></h1>
	  </td>


   </tr>

  <% end %>
</table>

<div style="border-top:1px dashed #C1C7C0;text-align:right;">
<%= will_paginate @results %>

</div>

<% if @issue %>
   <% javascript_tag :defer => 'defer' do -%>
    new Effect.ScrollTo('i_<%= @issue.id %>');
    new Effect.Highlight('i_<%= @issue.id %>', {duration: 8} );
  <% end -%>
<% end %>