- if letters_list.empty?
  %p No letters to Congress written yet.
- else
  %ul.grid_16
    %li.grid_16
      %span.grid_2
        %strong Date
      %span.grid_3
        %strong To
      %span.grid_6
        %strong Regarding
      %span.grid_2
        %strong Privacy
    - letters_list.each do |l| 
      %li.grid_16.margin-bottom
        .grid_2= l.formageddon_threads.first.created_at.strftime('%B %d, %Y')
        .grid_3
          - l.formageddon_threads.each do |t|
            = link_to_person(t.formageddon_recipient)

        .grid_6
          - if l.contactable_type == 'Bill'
            = l.contactable.typenumber
            = l.contactable.title_common
          - elsif l.contactable_type == 'Subject'
            = l.contactable.term
  
        .grid_2= l.formageddon_threads.first.privacy
        - if l.privacy == "PUBLIC" or (current_user != :false and current_user == l.user)
          .grid_1= link_to "View", contact_congress_letter_path(l), :class => 'button silver small'
