- ['support', 'oppose'].each do |position|
  .contribution_data
    The following table shows contributions to each candidate by interest groups that
    %strong= position
    = @bill.typenumber

    %table
      %thead
        %tr
          %th.topleft
          - (@sens + @reps).each do |p|
            %th= p.lastname
      %tbody
        - @bill.bill_interest_groups.select{|g| g.disposition == position}.each do |big|
          %tr
            %th.group_column= big.crp_interest_group.name
            - (@sens + @reps).each do |p|
              - contribution_amount = big.crp_interest_group.contrib_for_person(p)
              %td
                %span.message_builder_clickable
                  = "$#{number_with_delimiter(contribution_amount)}"
                  = render 'will_add_text_box', :text => "#{p.title} #{p.lastname}, I know that you took $#{number_with_delimiter(contribution_amount)} from #{big.crp_interest_group.name.downcase} interest groups who #{position} #{@bill.typenumber}."
                
:javascript
  $j(".message_builder_clickable").hover(
    function () {
      $j(this).find("div.will_add_text_box:first").fadeIn(.3);
    },
    function () {
      $j(this).find("div.will_add_text_box:first").fadeOut(.3);
    }
  );
  $j(".message_builder_clickable").click(
    function () {
      txt = $j(this).find("div.message_builder_add_text:first").text();
      msg = $j('div.formageddon_contact_form textarea:first')
      msg.val(msg.val()+"\n\n"+unescape(txt)); 
    }
  );