- trigger_js ||= false

.contribution_data
  %p.behave
    Using all publicly-available data, the campaign contributions shown here are the ones OpenCongress automatically determines most-likely to be relevant to this issue.

  - if @issue.pvs_categories.collect{|pvs| pvs.crp_industries}.flatten.any?
    %table
      %thead
        %tr
          %th.topleft
          - (@sens + @reps).each do |p|
            %th= p.lastname
      %tbody
        - @issue.pvs_categories.each do |pvs|
          - pvs.crp_industries.each do |ind|
            %tr
              %th.group_column= ind.name
              - (@sens + @reps).each do |p|
                - contribution_amount = ind.contrib_for_person(p)
                %td
                  %span.message_builder_clickable
                    = "$#{number_with_delimiter(contribution_amount)}"
                    = render 'will_add_text_box', :text => "#{p.title} #{p.lastname}, campaign contribution data shows that you received $#{number_with_delimiter(contribution_amount)} in the #{Settings.current_opensecrets_cycle} election cycle from the #{ind.name.downcase} industry, which is relevant to this issue area."

  - else
    %p This data is not available at this time.
- if trigger_js
  :javascript
    $j(".contribution_data .message_builder_clickable").hover(function(){ mbHoverIn(this) }, function(){ mbHoverOut(this) });
    $j(".contribution_data .message_builder_clickable").click(function(){ mbAddText(this) });
