%li.message_builder_clickable
  = link_to a.title.html_safe, a.url, :target => "_new"
  \-
  = a.date.strftime("%B %d, %Y")
  = " by "
  = a.source
  \-
  = a.excerpt.html_safe
  = render 'will_add_text_box', :text => "As noted by #{a.source} on #{a.date.strftime("%B %d, %Y")}, \"#{a.excerpt}\" (#{a.url})"