<%= render :partial => 'roll_call_title' %>

<%= render :partial => 'roll_call/make_hot', :object => @roll_call %>

<% if @roll_call.bill %>
  <p><a href="/bill/<%= @roll_call.bill.ident %>/show" class="arrow-left"><b>Back to Main Bill Page</b></a></p>
<% end %>


<div id="roll_call_details">
  
  <% if @state_name %>
  <p><strong><%= link_to '&larr; Full roll call', roll_call_path %></strong></p>
  <br />
  <h3 class="darkline">Votes by <%= person_type %> in <%= @state_name %></h3>
  <%= render :partial => 'person_votes', :locals => { :votes => @roll_call.roll_call_votes.for_state(@state_abbrev) } %>

  <% else %>
  <%= render :partial => 'roll_call_details_header' %>
  <div class="cols-box clearfix">
    <div class="col1">
       <h3 class="darkline">Votes by <%= person_type %></h3>
       <%= render :partial => 'person_votes', :locals => { :votes => @roll_call.roll_call_votes } %>
  <% end %>
  
   <% unless @state_name %>

   <p>** Because of incomplete data, party breakdown visualizations may be inaccurate by one or two votes.</p>

    </div>
  
    <div class="col2">
      <h3 class="darkline">Vote Result</h3>
      <%= roll_call_master_sublists(person_type) %>
      <div id='roll_call_All_chart'><%= @master_chart %></div>

      <h3 class="darkline">Votes by Party</h3>
      
      <%= roll_call_sublists_by_vote_type('+', @roll_call) %>
      <div id='roll_call_Aye_chart'><%= @aye_chart %></div>

      <%= roll_call_sublists_by_vote_type('-', @roll_call) %>
      <div id='roll_call_Nay_chart'><%= @nay_chart %></div>

      <%= roll_call_sublists_by_vote_type('0', @roll_call) %>
      <div id='roll_call_Abstain_chart'><%= @abstain_chart %></div>
    </div>
  </div>
  <% end %>
</div>
  