- group_invite_id ||= false
= form_for user, :url => url_for(:controller => 'account', :action => action) do |f|
  = render "shared/error_messages", :target => user

  %p
    = f.label :login, 'Username'
    = f.text_field :login, :class => 'field'

  - unless @facebook_user
    %p
      = f.label :password, 'Password'
      = f.password_field :password, :class => 'field'
  
    %p
      = f.label :password_confirmation, 'Re-type password'
      = f.password_field :password_confirmation, :class => 'field'


  - if user.zipcode.blank?
    %p
      = f.label :zipcode, 'Zipcode'
      = f.text_field :zipcode, :class => 'field'

  %p
    = f.check_box :accepted_tos
    I agree to the <a href="/about/terms_of_service">Terms of Service</a> and <a href="/about/privacy_policy">Privacy Policy.</a>

  %p
    = f.hidden_field :email
    - if group_invite_id
      = hidden_field_tag 'group_invite_id', group_invite_id
    = f.submit 'Finish Sign-up', :class => 'large button silver'
    
    - if action == 'facebook_complete'
      = link_to 'Cancel Facebook Connect', root_path(:fbcancel => 'true'), :class => 'large button yellow margin-left'