<% @page_title = "Login" -%>
<style>
div.form label {
  width:100px;
  float:left;
}
.ie6_box h1 { font-size:2em;}
.ie6_box h3 { text-align:left;font-size:1.5em;}
div.floatright {
  .float:left !important;
  _float:left !important;
}        
div.ie6_box {
  _width:750px;
}
</style>
<% if flash[:warning] %>
<div style="width:300px;">
  <p style="font-size:16px;font-weight:bold;color:white;padding:4px;text-align:center; background-color:red;">Login Failed</p>
</div>
<% end %>
<div class="ie6_box" style="padding-top: 15px;">
  <div class="floatleft paddingtopnone" style="padding-right:30px;width:300px;">
    <h3>I have an account:</h3>
    <% form_for :user do |f| %>
    <div title="Account login" id="loginform" class="floatleft form">

      <p><label for="user_login">Login:</label>
        <%= f.text_field :login, :size => 30 %>
      </p>
      <p>
        <label for="user_password">Password:</label>
        <%= f.password_field :password, :size => 30 %>
      </p>
      <input type="image" value="Login" class="floatright margintop behave" style="padding-right: 40px;" src="<%= image_path 'login2.png' %>" />
      <p class="margintop floatleft" style="margin-top: 10px;">
        <%= link_to "Forgot Password?", :action => 'forgot_password' %>
      </p>
    </div>

    <% end %>
    <% form_for :user do |f| %>
    <div style="clear:left;" title="Account login" id="oid_loginform" class="form">
      <h3 style="text-align:left;">Login with OpenID</h3> 
      <p class="openidform"><label for="identity_url">OpenID URL:</label>
        <%= text_field_tag :openid_url,nil, :size => 30 %>
      </p>
      <br />
      <input type="image" value="Login with OpenID" class="floatright margintop behave" style="padding-right: 40px;" src="<%= image_path 'login3.png' %>" />
    </div>
    <% end %>
  </div>
  <div class="floatright paddingtopnone">
    <h3 class="make_one">Make me one, right now!</h3>

    <%= render :partial => "signup_form" %>
    <div style="clear:both;margin-bottom:1em;"></div>

  </div>
