- from_bookmarklet ||= 'false'
- url = @group.nil? ? political_notebook_notebook_files_path({:login =>current_user.login}) : group_political_notebook_notebook_files_path(@group)
= form_for :notebook_file, :url => url, :html => {:id => "add-file-form", :multipart => true, :class => "notebook-form" } do |f|
  = hidden_field_tag :item_type, 'NotebookFile'

  %p
    %label.require{:for => 'file'} Photo file*
    = f.file_field :file, :class => 'field'
    
  %p
    %label.require{:for => 'title'} Title*
    = f.text_field :title, :class => 'field'
    
  %p
    %label.require{:for => 'description'} Description
    = f.text_area :description, :class => 'field', :rows => 4
  
  = render 'notebook_items/inline_common', :f => f

