<div id="heading">
	<h2><%= @page_title %></h2>
</div>

<div class="padding">
<div class="pretty-text">

<div class="col1">
<p>At its core, OpenCongress is an open-source Ruby on Rails application for aggregating and managing open government data. Right now the opencongress.org website is focused on US Congress, but our vision is to bring tools for transparency and engagement to constituents of any governing body, from the UN to your local neighborhood association.</p>

<p>We rely on developers from the community to help us improve the code. Can you help?</p>

<h2>Using OpenCongress data in your app</h2>
<p>You can use OpenCongress data in your applications, provided you meet the licensing requirements (shown at right). <%= link_to "Our API", api_path %> and <%= link_to "RSS feeds", "/about/rss" %> provide all the data on OpenCongress, from official bill info to news and blog coverage to user-generated votes on bills and more.</p>

<div><%= @readme %></div>

</div><div class="col2">
   <h2>Quick links</h2>
      <p>OpenCongress is written with <a href="http://rubyonrails.com">Ruby on Rails</a>, backed by a <a href="http://www.postgresql.org">PostgreSQL</a> database and <a href="http://lucene.apache.org/solr/">Solr</a> full-text indexing. Our <a href="/wiki">Wiki</a> runs on <a href="http://semantic-mediawiki.org">Semantic MediaWiki</a>.</p>
   <ul class="pointy">
      <li><%= link_to 'Data API docs', api_path %> &amp; <%= link_to 'RSS feeds', '/about/rss' %></li>
      <li><%= link_to 'GitHub repository', 'http://github.org/opencongress/opencongress' %></li>
      <li><%= link_to 'Lighthouse tracking', 'https://participatorypolitics.lighthouseapp.com/projects/35587-opencongress/overview' %></li>
      <li><%= link_to 'Development roadmap', 'https://participatorypolitics.lighthouseapp.com/projects/35587/roadmap' %></li>
      <li><%= link_to 'Developer e-mail list', 'http://lists.ppolitics.org/listinfo.cgi/develop-ppolitics.org' %></li>
      <li>IRC: chat.freenode.net channel #opencongress</li>
   </ul>
   <br />
      <h2>Contact Us</h2>
      <p>Want to work on OpenCongress, show off your use of our API, or just say hello? Send us an e-mail (<script type="text/javascript">m("develop","opencongress","org","1");</script>) with a short note of introduction. We don't bite.</p>
      <%= render :partial => 'licensing_terms' %>
   </div>

</div>
</div>
