<div id="heading">
	<h2><%= @page_title %></h2>
</div>

<div class="padding">
<div class="pretty-text">

<div class="col1">
<p>At its core, OpenCongress is an open-source Ruby on Rails application for aggregating and managing open government data. Right now the opencongress.org website is focused on US Congress, but our vision is to bring tools for transparency and engagement to constituents of any governing body, from the UN to your local neighborhood association.</p>

<p>We rely on developers from the community to help us improve the code. Can you help?</p>

<h2>Using OpenCongress data in your app</h2>
<p>You can use OpenCongress data in your applications, provided you meet the licensing requirements (shown at right). <%= link_to "Our API", api_path %> and <%= link_to "RSS feeds", "/about/rss" %> provide all the data on OpenCongress, from official bill info to news and blog coverage to user-generated votes on bills and more.</p>

<h2>Getting started with our code</h2>
<p>OpenCongress uses PostgreSQL, not MySQL. Don't have delusions of using MySQL with it or you will be hurtin'. Since I personally had little experience with PostgreSQL before this, I will include some tips for all you MySQL-only guys and gals out there.
</p><p>
Here is what you have to do to get OpenCongress working on your machine:
</p>
<ol>
   <li>Install postgresql and start it up</li>
   <li>Install tsearch in contrib</li>
   <li>Run <div class="code"><pre>gem install ferret, bluecloth, simple-rss, postgres-pr</pre></div></li>
   <li>copy config/database.sample to config/database.yml and edit it</li>
  <li>create the databases
<div class="code"><pre>
createdb opencongress_dev
psql opencongress_dev < db/tsearch2.sql
createdb opencongress_test
</pre></div>
</li>
  <li>Run <div class="code"><pre>rake db:migrate</pre></div></li>
<li>
   <p>Next, you will have to get the data from govtrack and fill in your database with the parsed govtrack data</p>
<div class="code"><pre>
mkdir /data/govtrack/111
cd /data/govtrack/111
rsync -az govtrack.us::govtrackdata/us/111/bills .
rsync -az govtrack.us::govtrackdata/us/111/repstats .
rsync -az govtrack.us::govtrackdata/us/111/bills.index.xml .
rsync -az govtrack.us::govtrackdata/us/111/committeeschedule.xml .
rsync -az govtrack.us::govtrackdata/us/111/rolls .
</pre></div></li>
<li>Now, you will have to actually parse the data</p>
<div class="code"><pre>
ruby bin/govtrack_parse_people.rb
ruby bin/govtrack_parse_bills.rb 
ruby bin/govtrack_parse_committees.rb 
ruby bin/govtrack_parse_committee_schedules.rb 
ruby parse_individual_bills.rb 
</pre></div>
</li>
<li>
   <p>
   Now, just run 'script/server' and you should have something going on localhost:3000 - have fun!
   </p>
</li>
</ol>
<p>Once you're off and running, you can join us over at <%= link_to 'Lighthouse', 'https://participatorypolitics.lighthouseapp.com/projects/35587-opencongress/overview' %> and get involved with the development.</p>
</div><div class="col2">
   <h2>Quick links</h2>
      <p>OpenCongress is written with <a href="http://rubyonrails.com">Ruby on Rails</a>, backed by a <a href="http://www.postgresql.org">PostgreSQL</a> database and <a href="http://lucene.apache.org/solr/">Solr</a> full-text indexing. Our <a href="http://wiki.opencongress.org">Wiki</a> runs on <a href="http://semantic-mediawiki.org">Semantic MediaWiki</a>.</p>
   <ul class="pointy">
      <li><%= link_to 'Data API docs', api_path %> &amp; <%= link_to 'RSS feeds', '/about/rss' %></li>
      <li><%= link_to 'GitHub repository', 'http://github.org/opencongress/opencongress' %></li>
      <li><%= link_to 'Lighthouse tracking', 'https://participatorypolitics.lighthouseapp.com/projects/35587-opencongress/overview' %></li>
      <li><%= link_to 'Development roadmap', 'https://participatorypolitics.lighthouseapp.com/projects/35587/roadmap' %></li>
      <li><%= link_to 'Developer e-mail list', 'http://lists.ppolitics.org/listinfo.cgi/develop-ppolitics.org' %></li>
      <li>IRC: chat.freenode.net channel #opencongress</li>
   </ul>
   <br />
   <h2>Contact Us</h2>
   <p>Want to work on OpenCongress, show off your use of our API, or just say hello? Send us an e-mail (<script type="text/javascript">m("writeus","opencongress","org","1");</script>) with a short note of introduction. We don't bite.</p>
   <h2>Licensing Details</h2>
   <p>OpenCongress site code is available <a href="http://github.com/opencongress/opencongress">available on github</a> and is licensed under the GNU <a href="http://www.gnu.org/licenses/gpl.html" target="_blank">Public License</a> (GPL), so we encourage you to contribute to our code and reuse it in non-commercial contexts, as long as attribution to OpenCongress is given.</p>
   <p>We encourage you to remix and excerpt our site and wiki content, as long as attribution to OpenCongress is given and you share your content as well. Our site content is licensed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/us/" target="_blank">Creative Commons Attribution-Share Alike 3.0 US License</a>, and our wiki content is licensed under the <a href="http://en.wikipedia.org/wiki/GNU_Free_Documentation_License" target="_blank">GNU Free Documentation License</a> (GFDL).</p>
</div>

</div>
</div>
