<div id="heading">
	<h2>About OpenCongress</h2>
</div>

<div class="padding">
<div class="pretty-text">

<div class="col1">
<h2>What is OpenCongress?</h2>
<p>The US congressional legislative process is largely closed-off from timely and meaningful public input, and finding out what's really happening in Congress can be a difficult and discouraging task. The rules by which bills become laws are notoriously arcane, and Congress offers few channels for people to make their voices heard on consequential public policy matters. This disconnect results in apathy about politics and low approval ratings of Congress.</p>

<p class="pullquote-right">We can do more to inform ourselves, affect legislative outcomes positively, and make government more responsive.</p>

<p>OpenCongress seeks to address these issues by merging official government data with news and blog coverage, social networking, and public participation tools to give you the real story behind what's happening in the Congress. Our service is free, <%= link_to "open-source", '/about/code' %>, non-profit, and non-partisan, designed to encourage government transparency and civic engagement. Our work is strongly guided by the <%= link_to '8 Principles of Open Government Data', 'http://resource.org/8_principles.html' %>.</p>

<p>Small groups of political insiders and federal lobbyists often have actionable knowledge about what's really going on with important bills and close votes in Congress, but this vital public information rarely makes its way out of the Beltway and into our daily lives. The official website of the Library of Congress, <a href="http://thomas.loc.gov/" target="_blank">THOMAS</a>,
publishes the full text of bills, but not in ways that are widely accessible to the public. We can do more to inform ourselves, affect legislative outcomes positively, and make government more responsive.</p>

<a name="about_howitworks"></a>
<h2>How does it work?</h2>

<ul class="star">
   <li>We continually aggregate all the best information about Congress available across the Web.</li>
   <li>Then we harness social wisdom, "filtering up" the most-viewed and attention-worthy bills, votes, issues, and people in Congress.</li>
   <li>With a more user-friendly interface, one-click sharing tools, and "My OpenCongress" social networking features, we facilitate peer-to-peer communication of the most useful information about Congress.</li>
   <li>Finally, we close the feedback loop with free ways for you to make your voice heard by contacting Congress with questions, analysis, and input. We provide an open platform for individuals and organizations to organize online communities around their political interests and affect Congressional outcomes.</li>
</ul>


<p>With OpenCongress you can track a bill, a Member of Congress,
or an issue area, and follow developments by subscribing to a variety of customized <a href="/about/rss">RSS feeds</a>. By offering bills of relevant news and blog coverage for every bill and Member, we aim to close the information lag
and bring people closer to the Congressional process. Every bill on
OpenCongress is also organized by <a href="http://www.opencongress.org/issues">issue areas</a> so you can find
bills of interest just by browsing an issue area that matters to you.
Along the way, OpenCongress lets you know which <a href="http://www.opencongress.org/bill/all">bills</a> are the hottest: the
most viewed, the most written about in the news, the most buzzed-about on
blogs.</p>

<p>OpenCongress is a tool for exposing corruption, putting a
spotlight on wasteful spending, and holding politicians accountable for
their records. Even since we launched OpenCongress, ongoing scandals in Congress prove that wasteful spending and pay-to-play corruption are still endemic to the closed-off Congressional process. In this way, OpenCongress works to open up the
doors and show how Congress actually works, as well as the real-world
implications of bills. By getting at what bills are, what they propose to
do, who is behind each bill, and where the money is coming from, we hope
to inform and add power to everyone’s political ideas.</p>


<a name="data_sources"></a>
<h2>Our Data Sources</h2>
<p>On OpenCongress, the full text and status of a bill are shown alongside the bigger picture of news analyses, buzz on blogs, the bill sponsors' campaign contribution data, and more. We cull data from across the web, including:</p>
<ul class="star">
<li class="top-star">Official government data from the Library of Congress' website <a href="http://thomas.loc.gov/" target="_blank">THOMAS</a>, via the community project <a href="http://www.govtrack.us/" target="_blank">GovTrack</a>: every publicly-available piece of legislation (i.e., every bill), vote, committee report, and more. Additional data about Congress from the similarly community-driven <a href="http://www.sunlightlabs.com/" target="_blank">Sunlight Labs API</a>. </li>
<li class="top-star">Articles and posts about bills and Members of Congress from <a href="http://news.google.com/" target="_blank">Google News</a> and the news service <a href="http://www.daylife.com/" target="_blank">Daylife</a>, and from <a href="http://blogsearch.google.com/" target="_blank">Google Blog Search</a>
and the blog service <a href="http://technorati.com/" target="_blank">Technorati</a>.</li>
<li class="top-star">Campaign contribution data for Members of Congress from <a href="http://www.opensecrets.org/" target="_blank">OpenSecrets</a>, and contribution analysis of prominent bills from the similarly non-partisan money-in-politics project <a href="http://maplight.org/" target="_blank">MAPLight</a>.</li>
<li class="top-star">Videos about Congress from <a href="http://www.http://metavid.org/wiki/" target="_blank">Metavid</a> and the YouTube <a href="http://www.youtube.com/senatehub" target="_blank">Senate Hub</a> and <a href="http://www.youtube.com/househub" target="_blank">House Hub</a>.</li>
<li class="top-star">Narrative background on Members of Congress, analysis of key legislation, Congressional scorecards, and more, from the OpenCongress community, via the <a href="/wiki" target="_blank">OpenCongress Wiki</a>.</li>
</ul>

<a name="press"></a>
<h2>Press</h2>
<p>To see what people are saying about OpenCongress, view recent news & blog coverage on <a href="http://bit.ly/Rb975">Google News</a> and <a href="http://technorati.com/blogs/opencongress.org">Technorati</a>.</p>

<p>For more press coverage, check out mentions of our work on some prominent social bookmarking sites and blogs: <a href="http://digg.com/search?s=opencongress.org&submit=Search&section=all&search-buried=1&type=all&area=all&sort=score">Digg</a>, <a href="http://www.reddit.com/domain/opencongress.org">reddit</a>, <a href="http://delicious.com/search?p=opencongress+or+opencongress.org&u=&chk=&context=all&fr=del_icio_us&lc=1"</a>del.icio.us</a>, <a href="http://www.stumbleupon.com/search?q=opencongress">StumbleUpon</a>, <a href="http://bit.ly/oeOUj">Slashdot</a>, <a href="http://search.techcrunch.com/query.php?s=opencongress.org">TechCrunch</a>, <a href="http://mashable.com/search-results/?cx=partner-pub-9942038924324175%3Alhvsj5-dt4y&cof=FORID%3A11&q=opencongress.org&sa.x=0&sa.y=0#1407">Mashable</a>, <a href="http://www.readwriteweb.com/fastsearch?search=opencongress.org&x=0&y=0">ReadWriteWeb</a>, <a href="http://www.wired.com/search?query=opencongress&siteAlias=all&x=0&y=0">Wired.com</a>, <a href="http://bit.ly/HYBHP">BoingBoing</a>, and <a href="http://query.nytimes.com/search/sitesearch?query=opencongress.org&srchst=cse">NYTimes.com</a>. To get an overview of more reactions to our site's public release and ongoing feature enhancements, see our blog's <a href="http://www.opencongress.org/articles/view/90-Early-Reviews-and-Mentions-of-OpenCongress">launch roundup</a> and our announcement following <a href="http://www.opencongress.org/articles/view/387--My-OpenCongress-in-Action-so-far-">My OpenCongress</a>.</p><br>

<a name="problems_to_address"></a>
<h2>Our History</h2>

<p>In January of 1995, Congress launched <a target="_blank" href="http://thomas.loc.gov/" target="_blank">THOMAS</a>, the online home of the Library of Congress, making available the full text of bills under consideration in Congress. THOMAS is a positive and necessary starting place for Congressional transparency, and continues to add new features as any government website of its kind would. But in its current state, THOMAS is not a user-friendly web resource for a wide audience. The site's presentation of bill information can be difficult to understand (for an example, see their page for <a href="http://thomas.loc.gov/cgi-bin/bdquery/z?d111:H.R.3200:" target="_blank">H.R. 3200</a>, the major health care reform bill of 2009) and bills are presented flatly, without any indicators of which ones (say, major appropriations bills) are more significant than others (say, resolutions naming post offices). With tens of thousands of bills and resolutions introduced each session of Congress, it's difficult to separate the signal from the noise and keep your eye on bills that are really important.</p>

<p>What's more, THOMAS does little to make the language of bills or the legislative process accessible. Unintelligible information about bills translates to political writing on the web which is divorced from the actual text of bills in Congress. There is a diverse and flourishing ecosystem of political blogs, and a huge number of engaged readers of political news, but for many reasons, the actual text of bills is not as frequently discussed on political blogs as it could be. Issue-based groups sometimes send "action alerts" to their members on specific bills, but such sporadic actions reflect the more general shortcoming: it's difficult for large numbers of people to stay engaged with the sometimes-glacial, sometimes-tumultuous Congressional process. Political news occasionally publicizes what happens in the basements and cloakrooms of the Capitol building after-the-fact, but this is clearly insufficient for healthy, democratic participation.</p>

<p>The inaccessibility of Congressional information contributes to the widespread perception that the Congressional process is the realm of a privileged few, or worse, is irrelevant to our everyday lives. Just the opposite is true: the text of bills that are often crafted in Congressional subcommittees and voted on via obscure parliamentary maneuvers can have significant real-world implications, both at the kitchen table and abroad. Now we have the web tools to open up the Congressional process to effective public scrutiny and collaborative analysis. OpenCongress offers a step forward by harnessing the wide-ranging body of social wisdom about Congress that is available in online news articles and blog posts. By placing the voices of journalists and bloggers directly alongside official Congressional information, OpenCongress seeks to contextualize and demystify Congress as a whole.</p>

<p>Congress produces thousands of bills and resolutions and statements each session, but together, we can focus attention on the ones that make the most difference. Which bills are the hottest on Capitol Hill? Which bills have the most money riding on them? Which bills affect the issues you care about? Which bills are the most volatile, or the most closely contested?</p>

<p>This is where OpenCongress comes in, offering anyone the ability to subscribe to RSS feeds of the most-viewed bills, Members of Congress, as well as RSS feeds listing the bills most written-about in the news and on blogs, so that you can keep track on the weightiest bills in the Congressional fray. We encourage organizations, membership groups, bloggers, and others to syndicate this "most-viewed on OpenCongress" information on their websites and thereby increase the number of people following the truly important bills in Congress.</p> 

<p>The beta version of OpenCongress launched publicly as a joint project of the Participatory Politics Foundation and the Sunlight Foundation on Feb. 27th, 2007. The "My OpenCongress" major feature set (colloquially, OpenCongress version 1.0) was announced on January 28th, 2008. A major site upgrade (version 2.0) launched July 30th, 2009. The site is in active collaborative development, with many new features, data sources, and free engagement tools to be released over 2009 and beyond.</p>


<a name="about_contribute"></a>
<h2>Get Involved</h2>

<p> To find out more ways to help, simply send us an e-mail (<script type="text/javascript">m("writeus","opencongress","org","1");</script>) with a short note of introduction, and we'll write you back:</p>

<ul class="star">
<li><strong>Developers and Designers:</strong> OpenCongress is open-source and you can help! <%= link_to 'Learn more ...', '/about/code' %>
<li><strong>Bloggers and citizen journalists:</strong>
   <ul class="star">
      <li><a href="/contact">Suggest a link</a> for the <a href="/blog">OpenCongress Blog</a>,</li>
      <li><a href="/gossip/submit">send us a tip</a> to publish,
      <li><a href="/resources" target="_blank">post a widget</a> on your site,</li>
      <li>or contribute to the <a href="/wiki" >OpenCongress Wiki</a>!</li>
   </ul>
</li>
<li><strong>Researchers:</strong> Help us improve the site's explanatory text of parliamentary terms. <a href="/contact">Get in touch</a>!</li>
<li><strong>Political professionals:</strong> <a href="/gossip/submit">Submit insider tips or comments</a> to the <a href="/blog" target="_blank">OpenCongress Blog</a>.</li>
<li><strong>Everyone who supports our principles &amp; mission:</strong> Help spread the word to more people who should know about the site: issue-based groups, family, friends, colleagues, social networks, and more.</li>
</ul>

<a name="#coming_soon"></a>
<h2>Coming Soon to OpenCongress</h2>

<p>To date, OpenCongress has focused on bringing together government data, blog and press coverage, and non-profit analysis into a comprehensive snapshot of every congressional bill. But to truly narrow the gap between what Congressional insiders can impact and what average citizens can impact, we need be able to add detail and richness that doesn't come from the public data sources. When people view a bill on OpenCongress, they should be able to see not just the bill details, but also the real story behind the bill. Towards this goal, we'll soon be adding more interactive features to OpenCongress to allow for greater user engagement with the Congressional process.</p>

<p>OpenCongress is a growing web project in active open-source development -- we're continually adding new data, features, and free resources to the site in order to make it a more useful public resource. Of course, we already have quite a lot of specific ideas in-hand for new features to build and launch, and we receive even more great suggestions from site visitors and dedicated users. Because we're committed to being a transparent, collaborative non-profit team practicing (or trying to, at least) agile, user-focused web development, here are a few major new features we plan to add over the course of 2009 - 2010. Note: most of these will take quite a while to build out, and for some of our "dream" or "wish list" features summarized below there simply is not a reliable, publicly-available data source from the government that makes it possible. <u>But to share our thoughts & welcome your input, here goes</u>:</p>

<ul class="star">
<li class="top-star"><strong>State and Local Versions of OpenCongress</strong>

<p>This is a powerful, important, and logical idea -- it's probably our most-frequently-received question or suggestion: "When will there be a version of OpenCongress for my [State / City / Neighborhood / Other Entity]?" The short answer: hopefully soon. Longer answer: we very much seek to make this a reality, in conjunction with the wider community of volunteer open-source developers & transparency advocates. Ever since we conceived of OpenCongress in 2004, we've realized that the model of combining government data with social wisdom in order to facilitate civic engagement can and should be applied to other levels of government -- e.g., state legislatures, city councils, neighborhood associations, international institutions, other branches of government (The White House & the U.S. Supreme Court), public institutions such as schools & hospitals, and more... whatever comes to mind. We eagerly anticipate a near-term future in which people from a variety of backgrounds can conveniently access the best available info about all actions by their government at every level, then take actions of their own in response and in dialogue with their elected officials.</p>

<p>Towards this end, we're working with our partners at <a href="http://www.sunlightlabs.com" target="_blank">Sunlight Labs</a> on the community-driven <a href="http://wiki.sunlightlabs.com/index.php/State_Legislation_Page" target="_blank">Fifty State Project</a>, with the goal of establing an open data standard and collecting machine-readable data streams for all 50 U.S. State Legislatures. Off this foundation and in working partnership with the open-source community, we'll seek to build free and non-partisan versions of OpenCongress for all fifty states, and make our site code more modular (also: cleaner, better-documented, and easier to work with). We'll continue to encourage volunteer developers to remix the code for city, county, or municipal governments -- or even to make their own versions of OpenCongress for the federal level with a customized emphasis on the topics they care about.</p> 
 
<p>The best way to stay up-to-date with our development plans is to subscribe to our site <a href="http://crm.ppolitics.org/" target="_blank">email list-serv</a> to receive major announcments, or subscribe to our Blog's <a href="http://feeds.feedburner.com/OpenCongressCongressGossipBlog">RSS feed</a>. We're a collaborative crew, so we hope you'll get involved -- <a href="/contact" target="_blank">contact us</a> for more info.</p>

</li>
<li class="top-star"><strong>"My OpenCongress Groups"</strong>

<p>As of this writing, individuals can create profiles on "My OpenCongress" to track, comment, and vote on all the things they care about in Congress. Social networking and built-in social sharing tools allow people to share the best info with others using peer-to-peer communication and our open Resources and API. But we can do more to enable group education, engagement, and action on OpenCongress.</p>

<p>Coming soon, we seek to build the ability for groups of all sorts -- say, issue-based organizations or regional groups of fellow constituents -- to create group profiles on "My OpenCongress", and for individuals to opt-in to these groups. For example, if you're concerned with the environment, you could choose to add the group profile of a national environmental organization to your "My OpenCongress" freinds, as well as join a chapter of environmentalists in your state and your Congressional district. Together, your group will be able to track legislation, issues, and Members of Congress on a shared "Tracked Items" page. Plus you'll be able to share relevant links, videos, and notes using group "My Political Notebook" features. What's more, your group's administrator(s) will be able to set alerts to which you can subscribe over email, RSS, text, calendar alerts, and more. These customizable alerts will keep your group in touch with major actions surrounding the bills you're tracking, or let you know when significant votes affecting your issues are coming up.</p>

<p>The goal looks something like this: self-organizing groups on OC banding together and using peer-to-peer communication to send their questions, feedback, analysis and opinions to Members of Congress. What's more, once in contact with their elected officials, we'll work to establish a two-way platform for communication to facilitate a productive and mutually respectful dialogue with Members, their staffs, and their official offices. There are many more positive impacts and innovations to be described here, but for now, feel free to <a href="/contact" target="_blank">contact us</a> with questions about our plans for opening up groups.</p>

</li>
<li><strong>Contact Congress With Social Feedback</strong>

<p>Currently, OpenCongress.org presents useful lots of information about Congress and basic ways for individuals to communicate their opinions or input to Members. As background, such functionality has been a longstanding part of site development plans and we believe is essential to our mission of increasing civic engagement. The site can do much more to help translate information into action. One challenge is that Members’ offices often only accept communications through webforms and a variety of other closed mediums. This is ultimately surmountable -- quite a few commercial services are available to fill this niche. But as of this writing, there remain surprisingly few free, open-source, full-featured services with user-friendly interfaces for individuals and organizations to easily contact Congress. OpenCongress seeks to establish a foothold for open-source tools in this well-defined public need.</p>

<p>Our planned "Contact Congress" enhancements have two main goals: first, to make it possible to contact Congress in timely and accessible ways through OpenCongress, with access to all the rich content available on the site; and second, to make the process of contacting Congress a more social and user-friendly experience, both for users of “My OC” and the public as a whole. To meet the first, our development team seeks to build-in more basic features of contacting Members' offices, both federal and district-based, and then smoothly integrate these features throughout the site. To meet the second, we seek to build more intensive social-feedback features that walk a visitor through each step of contacting Congress, offer relevant info along the way, and document the outcome for interested parties and the larger community. This proposed accompanying help copy would obviously need to be edited and specified for other methods of communication: phone, VOIP, email, postal mail, fax, blogs, and more.</p>

</li>
<li><strong>Text Alerts and VoIP</strong>
   
<p>As outlined above, we plan to add new ways for individuals and organiztions to keep in touch with everything they're tracking in Congress. First, users will be able to sign up for SMS text alerts on their tracked items -- much like an <a href="/about/rss" target="_blank">RSS feed</a> of Congressional actions on their mobile device -- for bill actions, issue areas, Members of Congress' votes, as well as news & blog coverage, user comments, wiki content, and more. Second, users will be able to call Congressional offices using their computers (VoIP) -- specifically, we're planning to integrate the open-source browser plugin <a href="http://www.shiftspace.org/spaces/yeas-and-nays/" target="_blank">Yeas & Nays</a>, as well as other free solutions. We look forward especially to seeing how Groups on "My OpenCongress" take advantage of enhanced "Contact Congress" features to convey their opinions & engage their Members of Congress in dialogue.</p>

</li>
<li><strong>Two-Way Platform for Communication with Congress</strong>

<p>To date, Congress has been largely closed-off from structured constituent communications on the open Web. But communication with Congress should be a two-way street. Along with enhanced Contact Congress features, we'll work to make it more convenient and efficient for Members to convey their positions to their constituents. The key, as we see it, is to develop a sufficiently compelling platform for two-way communication -- a free, open-source, and user-friendly version of <a href="http://www.sunlightlabs.com/blog/2009/03/12/do-we-need-getsatisfaction-congress/" target="_blank">"Get Satisfaction" for Congress</a>. We look forward to working with any Members, Capitol staff, and Congressional offices who wish to volunteer for pilot projects in this area: publishing official responses to aggregated constitutent concerns in participatory discourse.</p> 

</li>
</ul>

<a name="about_foundations"></a>
<h2>About PPF and Sunlight</h2>

<p>OpenCongress was created by, is maintained by, and remains in active development by the Participatory Politics Foundation, a 501(c)3 non-profit organization based in New York City. The <a target="_blank" href="http://participatorypolitics.org/" target="_blank">Participatory Politics Foundation</a> (PPF) builds software tools and websites that create new opportunities for continual engagement with government. Voting is important, but we have a chance to go further and create a political process that is meritocratic, creative, and participatory. Every day, our lives abound in political feelings and opinions -- not just on Election Day. We believe that the internet presents an unprecedented opportunity to amplify political voices and actions. OpenCongress is a first step towards these goals. PPF team members are based around the country in Northampton, MA, Los Angeles, CA, Brooklyn, NY, and San Francisco, CA. None of the PPF team is based in Washington, D.C., and we continually strive to preserve our independence from Inside-the-Beltway conventional wisdom and its cocktail party circuit.</p>

<p>The Sunlight Foundation is the Founding and Primary Supporter of OpenCongress. <a target="_blank" href="http://www.sunlightfoundation.com" target="_blank">The Sunlight Foundation</a> was founded in January 2006 with the goal of using the revolutionary power of the Internet and new information technology to enable citizens to learn more about what Congress and their elected representatives are doing, and thus help reduce corruption, ensure greater transparency and accountability by government, and foster public trust in the vital institutions of democracy. The Participatory Politics Foundation is thankful for all the trust, ideas, and support that the Sunlight Foundation has given to this project.</p>

<p>PPF is proud to be part of the greater Sunlight Foundation <a href="http://sunlightfoundation.com/resources/">community of resources</a>. Another partner in this effort is <a target="_blank" href="http://www.theopenhouseproject.com/">the Open House Project</a>, a working group designed to make recommendations to Congress on ways to begin the process of opening up the House of Representatives and increasing government transparency.</p>
</div><!-- left col -->

<div class="col2">
<p class="highlight">OpenCongress is a project of <%= link_to 'PPF', 'http://ppolitics.org' %> and <%= link_to 'Sunlight', 'http://sunlightfoundation.com/' %>.<br /><strong><%= link_to 'Read More &rarr;', '#about_foundations' %></strong></p>

<h2>Using OpenCongress</h2>
<ul class="pointy">
   <li><%= link_to 'How to use OpenCongress', '/howtouse' %></li>
   <li>FAQs (coming soon)</li>
   <li><%= link_to 'OpenCongress for Developers', '/about/code' %></li>
   <li><%= link_to 'Terms of Service', '/about/terms_of_service' %></li>
   <li><%= link_to 'Privacy Policy', '/about/privacy_policy' %></li>
   <li><%= link_to 'Copyright Policy', '/about/copyright_policy' %></li>
</ul>
<br />
<h2>Using the OpenCongress Wiki</h2>
<ul class="pointy">
   <li><%= link_to 'Introduction', 'http://www.opencongress.org/wiki/Meta:Introduction' %>
   <li><%= link_to 'About the OpenCongress Wiki', 'http://www.opencongress.org/wiki/Meta:About'%></li>
   <li><%= link_to 'FAQs', 'http://www.opencongress.org/wiki/Help:FAQ' %></li>
   <li><%= link_to 'Editorial Policy', 'http://www.opencongress.org/wiki/Meta:Editorial_policy' %></li>
   <li><%= link_to "Wiki Sourcing Policies", 'http://www.opencongress.org/wiki/Meta:References' %></li>
</ul>
<br />
<h2>Research Guides</h2>
<ul class="pointy">
   <li><%= link_to 'Researching a Member of Congress', '/wiki/Help:Researching_members_of_Congress' %></li>
   <li><%= link_to 'Researching Legislation', '/wiki/Help:Researching_legislation' %></li>
<br />
<h2>More about us</h2>
<ul class="pointy">
   <li><%= link_to 'Our History', '#about_history' %></li>
   <li><%= link_to "Where we're headed", '#about_future' %></li>
   <li><%= link_to 'How you can help', '#about_contribute' %></li>
   <li><%= link_to 'Press', '/about/press' %></li>
   <li><%= link_to 'Our data sources', '#data_sources' %></li>
</ul>
<br />
   <h2>Contacting Us</h2>
   <p>To send us general site feedback, ask a question, or report a problem, e-mail <script type="text/javascript">m("writeus","opencongress","org","1");</script>. Please be patient&mdash;we receive a lot of e-mail, but we'll respond to you as quickly as possible.</p>
<%= render :partial => 'licensing_terms' %>
</div>


</div>
</div>