<div id="heading">
	<h2>Use RSS Feeds</h2>
</div>

<div class="padding">

<h3>What is RSS and how do I use it?</h3>

<p>RSS is a technology that automatically delivers news and data updates to you. OpenCongress offers a variety of RSS feeds, outlined below, that help keep you in touch with the latest developments in Congress.</p>

<p>We think RSS is one of the best ways to track news -- it's convenient, timely, and bite-sized.  That's why OpenCongress offers RSS feeds for everything useful: every single bill, Member of Congress, and Congressional committee; over 4,000 issue areas; news coverage and blog posts about bills and Members of Congress; the social wisdom created by the "most-viewed" information on OpenCongress; and all the valuable info created by the "My OpenCongress" user community.</p>

<p>You can subscribe to RSS feeds at the top of just about any page on OpenCongress, under the drop-down option that reads "Subscribe." Simply copy the link location of the orange 'FEED' icon that looks like this: <a href="#" class="feed">Feed</a>, then paste it into your RSS reader. (If you already have an RSS reader, the other buttons below offer one-click subscription.)</p>

<p>Briefly, some basics: most RSS readers are completely free. Some of the most popular online RSS readers are <a target="_blank" href="http://www.google.com/reader/view/">Google Reader</a>, <a target="_blank" href="http://my.yahoo.com">My Yahoo</a>, and <a href="http://www.bloglines/com">BlogLines</a>. You can also get a desktop RSS reader, such as the open-source program <a target="_blank"  href="http://www.rssowl.org/overview">RSS Owl</a>. For a more detailed introduction ("What is RSS?"), visit the <a target="_blank" href="http://en.wikipedia.org/wiki/RSS_(file_format)">Wikipedia page</a> on the subject.</p><br>

<h3>My OpenCongress RSS Feeds</h3>

<p>Launched in January 2008, the new <a href="/register">"My OpenCongress"</a> feature set allows users to create their own profile pages, each of which contains a variety of personal RSS offerings. Anyone can subscribe to RSS feeds of tracked items or site actions for any user of "My OpenCongress". (Though you should <a href="/register">create</a> your free account right away to take full advantage of all our <a href="/profile/howtouse">new features</a>, it takes less than a minute.)</p>

<p>On the top of any user's page for "tracked items" is a master RSS feed that delivers all actions for tracked bills, Senators, Representatives, and issues. For example, see the feed next to "Things donnyshaw is Tracking" at the top of <a href="/users/donnyshaw/profile/items_tracked">the page</a> for Donny Shaw, who writes the OpenCongress Blog. You can also subscribe to separate feeds of actions for type of item tracked by clicking on that category's name (for example, Bills) and subscribing to the feed next to "Bills I'm Tracking". For example, here's the <a href="/users/donnyshaw/profile/bills">page</a> with the <a href="/users/donnyshaw/profile/bills/rss">feed</a> of all actions for the bills being tracked by the OpenCongress blogger, Donny Shaw. For "My OpenCongress" users, these feeds offer unique and convenient ways to follow all the latest developments for all the various items they're tracking in Congress. Most users choose to subscribe to feeds of tracked items from their own profile, but anyone is free to subscribe to any user's feed that interests them.</p>

<p>Another feed available on pages of "My OpenCongress" users is located at the top of their profile's page of Actions. This feed delivers the following, for each user: the names of all items being tracked (just the names, not all actions for each); the full text of all site comments; all votes on bills; all approval ratings for Members; and all new Friendships. This "Actions" feed typically presents a lower-traffic option for following a user's activity throughout the site (or your own) than the "master" feed for all tracked items. As such, it may prove more useful for people wishing to subscribe to their friends' RSS feeds in order to follow the big picture in Congress (and not all the details of all items tracked). For example, here's the <a href="/users/donnyshaw/profile/actions">page</a> with the <a href="/users/donnyshaw/profile/user_actions_rss"> feed</a> for Donny Shaw's site actions.</p>

<p>These "My OpenCongress" RSS feeds are open to everyone -- not just your own feeds, and not just feeds of users who are your friends on OpenCongress -- in order to build and share public knowledge about Congress. They're <strong>perfect for <a href="/profile/howtouse#bloggers_groups">bloggers and groups</a></strong> from all backgrounds who want to keep their communities in touch with the latest developments in Congress, as well as their opinions on those developments.</p>

<p>For example, issue-based groups may choose to appoint a "point person" to create a "My OpenCongress" profile, build a page of tracked items, and post a few comments occasionally. This "point person" could be someone who's already Congress-savvy, or a group's Executive Director, or simply a volunteer. Other members of that group can then easily subscribe to that point person's feed of all tracked items for detailed updates, or subscribe to the feed for that point person's site actions to get only the big picture. If you're a member of, say, an environmental group, you can subscribe to the feed of tracked items by your group's legislative director in order to follow all actions for dozens of bills and issue areas that affect the environment. Or, subscribing to that point person's feed of actions will keep you up-to-date with his votes "aye" or "nay" on important bills, as well as comments sitewide, such as, "This bill will only make it out of committee if these two Representatives change their position." To make the most of this, create your own "My OpenCongress" account and become friends with your group's members -- that way, their "Recent Actions" will appear as a continually updated stream at the top of your profile's "Friends" page.</p>

<p>Another place to find RSS feeds of value to you are comment boards sitewide -- if you find an insightful comment from a "My OpenCongress" user, click on that user's name to visit her profile. Even if you don't know her, you might decide to subscribe to her feeds of tracked items or site actions in order to share in her expertise and better understand what's really happening in Congress. In these ways and others, RSS feeds offer peer-to-peer ways of finding and sharing the most useful info about your interests.</p><br>

<ul class="star"> <li class="top-star">Track bills: on the top of the page for an individual bill, you can subscribe to that bill's RSS feed and follow all detailed actions with that bill. Click <a href="javascript:imagepop('<%= image_path 'rss_bill.png' %>')">here</a> for an example of how this will appear in an RSS reader. Also, further down on the page you can subscribe to separate RSS feeds for news coverage and blog coverage of an individual bill. This offers an easy way to follow what other people are saying about a bill, providing valuable context to the place of that bill in the Congressional landscape. Click <a href="javascript:imagepop('<%= image_path 'rss_bill_news.png' %>">here &#40;for news&#41;</a> or <a href="javascript:imagepop('<%= image_path 'rss_bill_blog.png' %>')">here &#40;for blogs&#41;</a> to see an example of how news coverage and blog coverage for a bill will appear in an RSS reader.</li><br />

<li class="top-star">Track Members of Congress: on the top of the page for an individual Member of Congress, you can subscribe to that Member's dedicated RSS feed and follow all of his or her detailed actions in Congress. This is useful for tracking the way that elected officials vote on the issues that are important to you, as well as following when a Senator or Representative introduces legislation of interest. Click <a href="javascript:imagepop(<%= image_path 'rss_rep.png' %>)">here</a> for an example of how this will appear in an RSS reader. Also, just as with individual bills, you can subscribe to separate RSS feeds for news coverage and blog coverage of an individual Member of Congress. Click <a href="javascript:imagepop(<%= image_path 'rss_rep_news.png' %>)">here</a> to see an example of how news coverage and blog coverage for a Member will appear in an RSS reader.</li><br />

<li class="top-star">Track Commitees: on the top of the page for an individual committee or sub-committee, you can subscribe to that committee's dedicated RSS feed and follow all of its detailed actions in Congress. For example, you can follow a committee's recent reports and recent bills in action. Click <a href="javascript:imagepop(<%= image_path 'rss_committee.png' %>)">here</a> for an example of how this will appear in an RSS reader.</li><br />

<li class="top-star">Track Issues: on the top of the page for an individual issue area, you can subscribe to that issue area's dedicated RSS feed and follow all of its detailed actions in Congress. With more than 4,000 issue areas available to track on Open Congress, there are lots of ways to follow bills that affect the issues you care about. Click <a href="javascript:imagepop(<%= image_path 'rss_issue.png' %>)">here</a> for an example of how this will appear in an RSS reader.</li><br />

<li class="top-star">Follow Congress: subscribe to the <a href="/articles/atom">RSS feed</a> for the OpenCongress Blog in order to read the latest blog posts. The OpenCongress Blog highlights useful news and blog coverage from around the web in order to give you the real story behind what's happening in Congress. Also, you can subscribe to the <a href="/gossip/atom">RSS feed</a> for tips that are submitted to our open-submission Congress Gossip section. These tips can be used to share a piece of newsworthy information, help publicize your citizen journalism, expose closed-door political dealings, or blow the whistle on corruption.</li><br />

</ul>

<h3>Follow the Most-Viewed Pages on OpenCongress</h3>

<p> This is where things get really interesting. OpenCongress is designed to harness social wisdom from the public in a variety of ways, one of which is to display the most-viewed pages throughout the site over the period of the past seven days. With thousands of bills bouncing around Congress, this makes it possible to separate the signal (say, major appropriations bills) from the noise (say, resolutions naming post offices). While the most-viewed pages are not always necessarily the most "important" bills, however "importance" may be construed in a given case, by and large the most-viewed pages on OpenCongress provide a valuable set of contextual data on how a broad audience of web users is following Congress.</p>

<p>In addition, this makes it possible for other people to syndicate the most-viewed information on OpenCongress on their websites in a variety of ways. These feeds provide an interesting and dynamic "at-a-glance" view of the most buzzed-about bills , Members, and issues on OpenCongress. The more people who participate, the more significant the most-viewed information is likely to be about the bills that really matter in Congress. Together, we can focus effective public scrutiny on newsworthy and "under-the-radar" pieces of legislation, increasing government transparency on a number of levels.</p>

<p>To subscribe to RSS feeds for the most-viewed pages on OpenCongress, simply go to a page off the left-hand navigation bar (for example, "Bills") and select the "most frequently viewed" sorting option from the drop-down menu at the top-right of a page then subscribe to the feed displayed at the top-center of the page. Or, for more immediate reference, here are the RSS feeds for the Top 20 most-viewed pages on OpenCongress in each of the following categories:</p>

<ul class="blue-arrow">

	<li>Most-Viewed Bills <a href="/bill/atom_top20" class="feed">Feed</a></li> 
	<li> Most-Viewed Senators <a href="/people/atom_top20?type=sen" class="feed">Feed</a></li>  
	<li>Most-Viewed Representatives <a href="/people/atom_top20?type=rep" class="feed">Feed</a></li> 
	<li>Most-Viewed Committees <a href="/committee/atom_top20" class="feed">Feed</a></li> 
	<li>Most-Viewed Issues <a href="/issue/atom_top20" class="feed">Feed</a></li>

</ul>

<p>In addition, RSS makes it possible for other people to syndicate the most-viewed information on OpenCongress on their websites in a variety of ways: check out our <a href="/resources">resources</a> page for widgets that harness this social wisdom, as well as Facebook apps and more. Together, we can focus effective public scrutiny on newsworthy pieces of legislation, increasing government transparency on a number of levels.</p>

<!--
<h3>Follow the Bills and Members of Congress That are Most Written-About in the News</h3>

<p>Much like the above, OpenCongress offers a unique RSS feed into the bills and Members of Congress that are most written-about in the news, according to a count of the number of Google News results that OpenCongress obtains throughout each day. This is an interesting set of companion data to the "most-viewed" pages on OpenCongress, in terms of tracking the most significant pieces of legislation, and offers an "at-a-glance" view of what's most hot in the news.</p>

<ul class="star">
	<li class="top-star">Subscribe to Bills Most Written-About in the News:  [NEED LINK INFO] <img class="feed-button" src="feed.jpg" /></li>
	<li class="top-star">Subscribe to Members of Congress Most Written-About in the News: [NEED LINK INFO] <img class="feed-button" src="/images/feed.jpg"/></li>

<h3>Follow the Bills and Members of Congress That Are Most Written-About on Blogs</h3>

<p>Again much like the above, OpenCongress offers a unique RSS feed into the bills and Members of Congress that are most written-about on blogs, according to a count of the number of Technorati and Google Blog Search results that OpenCongress obtains throughout each day. This feed is particularly valuable for tracking what bills and Members of Congress are the most buzzed-about on the web&#45;&#45; in other words, it's a powerful distillation of what's hottest in the small-d democratic landscape of blogs.</p>

<ul class="star">

	<li class="top-star">Subscribe to Bills Most Written-About on Blogs: [NEED LINK INFO]<img class="feed-button" src="feed.jpg" /></li> 
	<li class="top-star">Subscribe to Members of Congress Most Written-About on Blogs: [NEED LINK INFO] <img class="feed-button" src="feed.jpg" /></li>
-->

<p>We enthusiastically encourage other websites and blogs to display this most-viewed page information for their readers and membership. In future site development, we will offer even more RSS feeds into the collaborative social wisdom created by the public in OpenCongress, as well as easy "cut-and-paste" HTML text to make it as easy as possible to aggregate OpenCongress RSS information on your website. (For the moment, there are a variety of WordPress plug-ins and similar free tools to aggregate RSS content on your site.)</p>

<p>Feel free to <a href="/contact">contact us</a> anytime with questions about OpenCongress RSS feeds, or suggestions for other types of RSS feeds that you would find useful. Also, send us a note to show us your website or blog and how you're syndicating information from OpenCongress, and we'll mention you in a Blog post about our user community. Simply send us an e-mail: <script type="text/javascript">m("writeus","opencongress","org","1");</script>.</p>

</div>




	