%li.message_builder_clickable
  = link_to a.title.html_safe, a.url
  \-
  = a.date.strftime("%B %d, %Y")
  \-
  = a.excerpt.html_safe
  %span.message_builder_add_text
    As noted in
    = a.source
    on
    = "#{a.date.strftime("%B %d, %Y")},"
    = "\"#{a.excerpt}\""