#heading
  %h2 Contact Congress
  
.contact_congress
  = render 'contact_congress_status_bar', :step => 2

  .contact_message_builder
    %h2 OpenCongress Message Builder
    
    .instructions.margin-bottom
      Use the tools in this column to help craft your letter.  Any time your mouse highlights a section, you can click on it to add prepared text to your message.

    .section
      %h3 Bill Statistics on OpenCongress
      %ul
      - unless @position == 'tracking' or @bill.users_percentage_at_position(@position).nil?
        %li.users_position.message_builder_clickable          
          = "#{@bill.users_percentage_at_position(@position)}% of users #{@position} #{@bill.typenumber}"
          %span.message_builder_add_text
            = "#{@bill.users_percentage_at_position(@position)}% of users on OpenCongress.org, a free, non-partisan resource, #{@position} #{@bill.typenumber}."
      %li.page_views.message_builder_clickable
        = "#{@bill.typenumber} has been viewed #{number_with_delimiter(@bill.page_views_count)} times"
        %span.message_builder_add_text
          = "#{@bill.typenumber} has been viewed #{number_with_delimiter(@bill.page_views_count)} times on OpenCongress.org, a free, non-partisan resource."
    
    .section
      %h3 Contribution Data
      = render :partial => 'message_builder_contribution_data'

          
      %h3 Most-commented sections of the bill text
      %ul
        - @bill.bill_text_versions.last.top_comment_nodes(5).each do |n|
          %li.message_builder_clickable
              %span.message_builder_add_text
                = "specifically, this section of the legislation: \"#{n.bill_text}\","
              = n.bill_text
            = " (#{n.comments.count} comments, "
            = link_to 'Link', bill_text_path(:id => n.bill_text_version.bill, :nid => n.nid, :version => n.bill_text_version.version)
            = ")"

    .section
      %h3 Latest Action
      %ul
        %li.message_builder_clickable
          %strong= @bill.last_action.formatted_date
          = @bill.last_action
          %span.message_builder_add_text= "I know the most recent action for this bill is as follows: \"#{@bill.last_action}\" on #{@bill.last_action.formatted_date}"
    .section
      %h3 Highly Rated Blog Articles
      %ul
        - @bill.blogs.order('commentaries.average_rating IS NOT NULL DESC').limit(3).each do |a|
          = render 'message_builder_commentary', :a => a

    .section
      %h3 Highly Rated News Articles
      %ul
        - @bill.news.order('commentaries.average_rating IS NOT NULL DESC').limit(3).each do |a|
          = render 'message_builder_commentary', :a => a


    .section
      %h3 Highest Rated User Comments
      %ul
        - @bill.comments.order("comments.plus_score_count - comments.minus_score_count DESC").limit(3).each do |c|
          %li.message_builder_clickable
            On
            = "#{c.created_at.strftime("%B %d, %Y")},"
            by
            = link_to c.user.login, user_profile_path(c.user.login)
            \-
            = c.comment
            %span.message_builder_add_text<
              As noted by 
              = "#{c.user.login}, "
              a user on OpenCongress.org, on 
              = "#{c.created_at.strftime("%B %d, %Y")}, "
              = "\"#{c.comment}\""
  .contact_letter
    .contact_recipients
      You are sending this message to:
      %ul.people
        - @sens.each do |s|
          %li
            = check_box_tag :check, '1', true
            = image_tag "photos/thumbs_50/#{s.id}-50px.jpeg", :class =>"photo", :alt => 'photo'
            = link_to s.name, person_path(s)
            %br
            = "Vote on Passage of #{@bill.typenumber}: " 
            %strong= "#{@bill.vote_on_passage(s)}"
        - if @reps.size > 1
          %li
            We can't determine your Representative. Please configure zip+4 and address on your
            = link_to 'profile page', user_profile_path(:login => current_user.login)
        - else
          %li
            = check_box_tag :check, '1', true
            = image_tag "photos/thumbs_50/#{@reps.first.id}-50px.jpeg", :class =>"photo", :alt => 'photo'
            = link_to @reps.first.name, person_path(@reps.first)
            %br
            = "Vote on Passage of #{@bill.typenumber}: " 
            %strong= "#{@bill.vote_on_passage(@reps.first)}"
      Please enter your contact info in the form below.  Senators and representatives will usually only respond to their own constituents, so it is important to enter this information correctly.
    = render 'formageddon/threads/form', :thread => @formageddon_thread, :after_send_url => '/contact/aftersend'
    %p Click send, and we will automatically deliver your letter to the members of Congress you selected above. OpenCongress is the only not-for-profit website that enables you to write all three of your members of Congress at once. Also, OpenCongress is the only website that gives this information back to the public commons, enabling you to find other constituents near you who are tracking the same bills and issues. 

    %p On the next page, you may review your letter, share it with your community using social media, and track any official replies you may receive from members of Congress.
  
:javascript
  $j(".message_builder_clickable").click(
    function () {
      txt = $j(this).find("span.message_builder_add_text:first").text();
      msg = $j('div.formageddon_contact_form textarea:first')
      msg.val(msg.val()+"\n\n"+unescape(txt)); 
    }
  );
  $j(document).ready(function() {
    $j('#formageddon_formageddon_thread_submit').addClass("button silver huge");
  });
  
  