#heading
  %h2 Contact Congress
  
.contact_congress

  = render 'contact_congress_status_bar', :step => 1
  
  %p.behave.center 
    You are contacting your representatives in Congress regarding:
    %strong= "#{@bill.typenumber} #{@bill.title_common}"
  %br
  %br
  %p.margin-top 
    %h3.center What is your position on this bill?
  
  .position_buttons.padding
    %a.button.blue.huge.margin-right{ :href => url_for(:action => 'bill', :position => 'support') }
      %span= "I Support #{@bill.typenumber}"
    %a.button.yellow.huge.margin-right{ :href => url_for(:action => 'bill', :position => 'oppose') }
      %span= "I Oppose #{@bill.typenumber}"
    %a.button.silver.huge.margin-right{ :href => url_for(:action => 'bill', :position => 'tracking') }
      %span= "I Am Tracking #{@bill.typenumber}"
  %br
  %br
 