


<div class="user enabled<%= user.enabled %>">



<div class="activated">
<strong><%= user.user_role.name %></strong> Activated on <%= user.activated_at.nil? ? "Never" : user.activated_at.to_s(:short) %>
	
	<div class="user_buttons">
		<%= link_to 'Show', :action => 'show', :id => user %> | 
		<%= link_to 'Edit', :action => 'edit', :id => user %> | 
		<%= link_to 'Destroy', { :action => 'destroy', :id => user }, :confirm => 'Are you sure?', :method => "post" %><br/>
	</div>
</div>

<h3>
<strong><%= user.login %> </strong>
<div><%= user.full_name %></div>
<span><%= mail_to user.email, user.email %></span>
</h3>

<p><% if user.definitive_district %></p>


<tr><td>District:</td>
    <td>
      <%= District.find_by_id(user.definitive_district).state.abbreviation %>-
      <%= District.find_by_id(user.definitive_district).district_number %>
    </td>
</tr>
<% if user.definitive_district_object.current_watch_dog && user.definitive_district_object.current_watch_dog.user == user %>
<tr>
  <td colspan="2"><b>WATCHDOG</b>
  </td>
</tr>  
<% end %>
<% end %>


</div>
