<script type="text/javascript">

function mycarousel_initCallback(carousel)
{
	// Disable autoscrolling if the user clicks the prev or next button.
	carousel.buttonNext.bind('click', function() {
		carousel.startAuto(0);
	});

	carousel.buttonPrev.bind('click', function() {
		carousel.startAuto(0);
	});

	// Pause autoscrolling if the user moves with the cursor over the clip.
	carousel.clip.hover(function() {
		carousel.stopAuto();
	}, function() {
		carousel.startAuto();
	});
};

$j(document).ready(function() {
	$j('#committee_carousel').jcarousel({
		auto: <%= (@carousel.length/2.0).ceil %>,
		wrap: 'last',
		initCallback: mycarousel_initCallback
	});
});

</script>


<%# debugger %>
<div class="carousel_wrap">
<ul id="committee_carousel" class="jcarousel-skin-bravo">
  <% @carousel.each_slice(2) do |c| %>
  <% name = c[0].name + (c[0].subcommittee_name.blank? ? "" : " - #{c[0].subcommittee_name}") %>
	<% unless c[0].nil? %>
	<li>
   <div>
		<p><%= link_to name, :action => 'show', :id => c[0] %> <em>(<%= c[0].views(Settings.default_count_time)%> views)</em></p>
   <% unless c[0].chair.nil? -%>
    <p>Chair: <%= link_to_person c[0].chair %></p>
  <% end -%>
  <% unless c[0].ranking_member.nil? -%>
    <p>Ranking Member: <%= link_to_person c[0].ranking_member %></p>
  <% end -%>
		</div>
	<% end %>

	<% unless c[1].nil? %>
	<div>
   <p><%= link_to name, :action => 'show', :id => c[1] %> <em>(<%= c[1].views(Settings.default_count_time)%> views)</em></p>
   <% unless c[1].chair.nil? -%>
    <p>Chair: <%= link_to_person c[1].chair %></p>
  <% end -%>
  <% unless c[1].ranking_member.nil? -%>
    <p>Ranking Member: <%= link_to_person c[1].ranking_member %></p>
  <% end -%>
	</div>
<% end %>

	
	</li>
	
	<% end %>
	</ul>
</div>