- ['tracking', 'oppose', 'support'].each do |position|
  = link_to position.capitalize, '#', :class => "button small silver floatright margin-left margin-bottom", :id => "trigger_#{position}_#{b.id}"
  %div.jqmWindow{ :id => "#{position}_#{b.id}" }
    = form_for [@group, @group.group_bill_positions.build] do |f|
      %h3
        Add 
        %em= position
        = " position to #{b.typenumber}"
      = f.hidden_field :position, :value => position
      = f.hidden_field :bill_id, :value => b.id
      %p.behave
        Add a comment describing your position (optional)
        %br
        = f.text_area :comment, :class => 'field', :rows => 3, :cols => 40
      %p.behave
        Add a link to an outside webpage with more info (optional)
        %br
        = f.text_field :permalink, :class => 'field'
      %p
        = f.submit 'Add Bill', :class => 'button medium blue'
        = link_to 'Cancel', '#', :class => 'button medium silver', :id => "close_#{position}_#{b.id}"
  :javascript
    $j().ready(function() {
      $j('##{position}_#{b.id}').jqm({trigger:'#trigger_#{position}_#{b.id}'}).jqmAddClose('#close_#{position}_#{b.id}');
    });