= render 'groups/heading', :subtitle => 'Select a Position on a Bill'

.padding
  - if @group.pvs_category and !@group.pvs_category.hot_bills.empty?
    %h3 Hot Bills in '#{@group.pvs_category.name}'
    
    - @group.pvs_category.hot_bills.each do |b|
      .group_bill
        = link_to b.typenumber, bill_path(b)
        = b.title_common
        = link_to "Support", group_group_bill_positions_path(@group, :bill_id => b.id, :position => 'support'), :method => 'post', :class => "button small silver"
        = link_to "Oppose", group_group_bill_positions_path(@group, :bill_id => b.id, :position => 'oppose'), :method => 'post', :class => "button small silver"