= render 'groups/heading', :subtitle => 'Select a Position on a Bill'

.padding
  - if @group.pvs_category and !@group.pvs_category.hot_bills.empty?
    %h3 Hot Bills in '#{@group.pvs_category.name}'
    
    - @group.pvs_category.hot_bills.each do |b|
      .group_bill
        = link_to b.typenumber, bill_path(b)
        = b.title_common
        = render 'position_buttons', :b => b

    