<div class="profile_sidebar">

		<ul class="profile_nav" id="summaries_nav">
		  <li class="" id="AboutMe">
			    <%= link_to "<span>About Me</span>".html_safe, user_profile_path(:login => @user.login),
				        :class => params[:action] == "profile" ? "arrow_button active" : "arrow_button" %></li>
			
			<% if @user.can_view(:my_tracked_items, current_user) %>
			<li class="" style="" id="ItemsTracked">
				<%= link_to "<span>Tracked Items</span>".html_safe, 
				     {:controller => 'profile', 
					  :action => 'items_tracked', 
					  :login => @user.login}, 
					  :class => ["items_tracked", "bills", "person", "committees", "issues"].include?(controller.action_name) ? "arrow_button active" : "arrow_button" %>

			</li>
			<% end %>

			<% if @user.can_view(:my_actions, current_user) %>
			<li class="" id="Actions">
			  <%= link_to "<span>Actions</span>".html_safe, 
			          {:controller => 'profile', 
				       :action => 'actions', 
				       :login => @user.login}, 
				       :class => params[:action] == "actions" ? "arrow_button active" : "arrow_button" %></li> 
			<% end %>

			<% if @user.can_view(:my_friends, current_user) %>
			<li class="" id="Friends">
			   <%= link_to "<span>Friends</span>".html_safe, friends_path(@user.login), 
			          :class => params[:controller] == "friends" ? "arrow_button active" : "arrow_button" %></li>
			<% end %>
      
			<% if @user.can_view(:my_political_notebook, current_user) %>
			<li class="" id="Notebook">
				<%= link_to "<span>My Political Notebook</span>".html_safe, political_notebook_path(@user.login), 
				        :class => controller.controller_name == 'political_notebooks' ? "arrow_button active" : "arrow_button" %>
			 </li>
			<% end %>
			
			<% if @user.can_view(:watchdog, current_user) %>
			<li class="" id="Watchdog">
				<%= link_to "<span>Watchdog</span>".html_safe, user_watchdog_path(@user.login), :class => controller.action_name == "watchdog" ? "arrow_button active" : "arrow_button" %>
			</li>       
			<% end %>
		</ul>

<% if @show_email_alerts %>
  <div id="alerts">
	<h3>Your Active Email Alerts</h3>
	<% if @user.user_mailing_list.mailing_list_items.count == 0 %>
	   <p style="margin-bottom:10px;">You have not yet set up any email alerts. In order to receive email updates, 
		  go to a bill page and select "get email alerts" from the right-hand sidebar.</p>
	   <p>Questions? <%= mail_to "writeus@opencongress.org", "Email us", :encode => :javascript %>.</p>
	<% end %>
	<% if @user.user_mailing_list.mailing_list_items.bills.count > 0 %>
	
	Bill Alerts
	  <% @user.user_mailing_list.mailing_list_items.bills.each do |b| %>
	    <p style="font-size:10px;"><span style="float:right;"><%= link_to "stop", b, :method => :delete %></span>
	        <%= link_to truncate(b.mailable.title_full_common, :length => 40), 
	             bill_path(b.mailable.ident) %></p>
	  <% end %>
    <% end %>
	<% if @user.user_mailing_list.mailing_list_items.people.count > 0 %>
	Legislator Alerts
	  <% @user.user_mailing_list.mailing_list_items.people.each do |p| %>
	    <p style="font-size:10px;"><span style="float:right;"><%= link_to "stop", p, :method => :delete %></span>
	        <%= link_to truncate(p.mailable.title_full_name, :length => 40), 
	             bill_path(p.mailable.ident) %></p>
	  <% end %>	
	<% end %>
   </div>	

<% end %>

<% if controller.action_name == "watchdog" %>
	<% if @user.can_view(:watchdog, current_user) %>
  <div id="alerts">

        <h3 class="dark">My Friends</h3>
            My OpenCongress Friends: <%= link_to "#{@user.friends.count}", friends_path(@user.login) %><br/>
            Friends in my State: <%= link_to "#{@user.friends_in_state.length}", friends_path(@user.login) %></br>

        <h3 class="dark">MyPN</h3>

          My Political Notebook items -- my shared links, videos, and micro-blog for watchdogging:
             <%= link_to @user.notebook_items.count, political_notebook_path(@user.login) %><br/>

          All users' Political Notebook items tagged with my district (<%= @user.my_district.first %>): 
                <%= NotebookItem.tagged_with("#{@user.my_district.first}", :on => :tags).length %><br/>

        <h3 class="dark">About Me</h3>
         <ul>
          <li><%= link_to "My contact info", user_profile_path(@user.login) %></li>
          <li>My RSS feeds:
            <ul>
              <li><%= link_to "Tracked Items", :controller=>"user_feeds", :action=>"tracked_items", :login => @user.login, :key => (logged_in? ? current_user.feed_key : nil) %></li>
              <li><%= link_to "Actions", :controller=>"user_feeds", :action=>"actions", :login => @user.login, :key => (logged_in? ? current_user.feed_key : nil) %></li>
              <li><%= link_to "My Political Notebook", political_notebook_path(@user.login) + "/feed" %></li>
            </ul>
          </li>
         </ul>
  </div>
	<% end %>
<% end %>

	
</div>
