<%= render :partial => "profile_nav" %>

<div class="profile_content">
	
<div id="linkcontent" style="clear:both;padding-top:10px;width:100%;">
<% unless @bookmarks.empty? %>
	<h3>Bills I'm Tracking <%= link_to image_tag('/images/feed.jpg', {:alt => "Subscribe", :style => "border:0;vertical-align:middle;"}), :controller => 'user_feeds', :login => @user.login, :action => 'bills', :key => logged_in? ? current_user.feed_key : nil %></h3>
	    <table class="simple-table2" cellspacing="0">
	      <tr>
	        <th scope="col">Bill</th>
	        <th scope="col">Status</th>
	        <th scope="col">Last Action</th>
	        <th scope="col">Users Tracking</th>
	        <th scope="col">My Vote</th>
	        <th></th>
	      </tr>

	<% @bookmarks.each do |b| %>
	<% bill = b.bookmarkable %>
	<tr><td><%= link_to bill.title_typenumber_only, bill_path(bill) %> <%= bill.title_common %> <span class='date'>(<%= number_to_ordinal(bill.session) %> congress)</span><br/>
	    News: <%= link_to image_tag('/images/feed.jpg', {:alt => "Subscribe", :style => "border:0;vertical-align:middle;"}),
	              :controller => 'bill', :action => 'atom_news', :id => bill.ident %>
	    Blogs: <%= link_to image_tag('/images/feed.jpg', {:alt => "Subscribe", :style => "border:0;vertical-align:middle;"}),
	              :controller => 'bill', :action => 'atom_blogs', :id => bill.ident %>	    
	    </td>
	            <td><%= temp_url_strip(bill.status) %></td>
	            <td><%= bill.last_action.formatted_date %></td>
	            <td style="text-align:center;"><%= link_to bill.bookmarks.length, :controller => 'friends', :action => 'tracking_bill', :id => bill.ident %></td>
              <%= user_bill_vote_string(bill) %>
	            <td><%= button_to("Remove", :action => 'remove_bookmark', :id => b.id) if current_user == @user %></td>
	</tr>
	   <tr>
	    <td style="border-bottom:none;" colspan="4"><p id="vote_message_<%= bill.id.to_s %>" style="display:none;"></p>
	                    <span id="support_<%= bill.id.to_s %>" style="display:none;"></span>
	                    <span id="oppose_<%= bill.id.to_s %>" style="display:none;"></span>
	                    <span id="vote_results_<%= bill.id.to_s %>" style="display:none;"></span>
	    </td>
	   </tr>

	<% end %>
	</table>
	<p>Just click on the button under "Track This" at the top of any bill page. You'll have assembled an up-to-date overview of all the bills you're following in Congress and their latest actions.</p>
<p>To get started, you can track any bill on our page of <a href="http://www.opencongress.org/bill/hot">Hot Bills</a>, or the <a href="http://www.opencongress.org/bill/most/viewed">most-viewed bills</a> on OpenCongress, or browse for bills associated with an <a href="http://www.opencongress.org/issue">issue area</a> that interests you.</p>
<% else %>
<h3>No Bills Tracked Yet. Here's How To Get Started!</h3>
<p>Just click on "track this" at the top of any bill page. You'll have assembled an up-to-date overview of all the bills you're following in Congress and their latest actions.</p>
<p>To get started, you can track any bill on our page of <a href="/bill/hot">Hot Bills</a>, or the <a href="/bill/most/viewed">most-viewed bills</a> on OpenCongress, or browse for bills associated with an <a href="/issue">issue area</a> that interests you.</p>
<% end %>
</div>

</div>