<%= render :partial => "profile_nav" %>

<div class="profile_content">

<div id="linkcontent" style="clear:both;padding-top:10px;width:100%;">
<% unless @bookmarks.empty? %>
<h3 class="line">Committees I'm Tracking</h3>
<br />
<ul class="list end">
        <% @bookmarks.each do |b| %>
        <li>
                <div style="float:right;"><%= button_to("Remove", :action => 'remove_bookmark', :id => b.id) if current_user == @user %></div>
                <p><span style="font-size:16px;font-weight:bold;"><%= link_to(b.bookmarkable.name, :controller => 'committee', :action => 'show', :id => b.bookmarkable.to_param) %></span></p>

                <% latest_bills = b.bookmarkable.bills_sponsored(5) %>
              <h3>Reports</h3>
               <ul class="list-links">
                <% b.bookmarkable.latest_reports.each do |r| -%>
                 <li><%=     link_to (r.reported_at ? "[#{r.reported_at.to_date}] #{r.title.capitalize}" : r.title.capitalize), :controller => 'committee', :action => :report, :id => r %></li>
                <% end -%>
               </ul>
               <br/>
               <h3>Bills</h3>
                <%= render :partial => "bill/related_bills_list", :locals => {:related_bills_list => latest_bills} -%>
        </li>
        <% end %>
</ul>
<p>Just click on the button under "Track This" at the top of any issue area page. You'll have assembled an up-to-date overview of all the issues you're following in Congress and their latest actions.</p>
<p>To get started, you can track any issue you care about by browsing this list of over 4,000 issue areas <a href="/issue/alphabetical/A">alphabetically by name</a>, or on this list of the <a href="/issue/by_most_viewed">most-viewed</a> issues on OpenCongress, or by doing a <a href="/search">search</a> and checking only the box for "issues".</p>
<% else %>
<h3>No Committees Tracked Yet. Here's How To Get Started!</h3>
<p>Just click on the button under "Track This" at the top of any issue area page. You'll have assembled an up-to-date overview of all the issues you're following in Congress and their latest actions.</p>
<% end %>
</div>

</div>
