<div class="pretty-text">

<p>Below are some suggested instructions for using the new "My OpenCongress" features, including tracking items, social networking, commenting, voting, and more. You can start your walk-through by following the first link below, or skip ahead to a later section.</p>

<!--
<a href="#register">Register a Free Account</a><br />
<a href="#track">Track Your Members of Congress and Hot Bills</a><br />
-->
<a href="#tracked_items">Your Tracked Items Page</a><br />
<a href="#track_more">Track More: Bills, Members, and Issues</a><br />
<a href="#vote">Vote on Bills, Give Approval Ratings to Members</a><br />
<a href="#rate_comments">Comment and Rate Other Comments</a><br />
<a href="#rate_news">Rate News and Blog Coverage, Too</a><br />
<a href="#my_actions">"My Actions" - Participate in Building Public Knowledge</a><br />
<a href="#about_me">"About Me" - Find Your District</a><br />
<a href="#my_friends">"My Friends" - Social Networking on OpenCongress</a><br />
<a href="#bloggers_groups">Uses for Bloggers and Issue-Based Groups</a><br />
<a href="#feedback">Send Us Questions and Feedback</a><br /><br />

<!--
<a name="register"></a>
<h3>Register a Free Account</h3>
<p>Sign up for a <a href="/register">free account</a> with OpenCongress using a valid e-mail address, it only takes a minute. You should receive your confirmation e-mail from sender "OpenCongress Login" right away, and if you don't by then, check your spam filter or junk mail just to be sure it wasn't accidentally diverted. Click on the confirmation link in the e-mail to login to your profile.</p>

<a name="track"></a>
<h3>Track Your Members of Congress and Hot Bills</h3>
<p>You'll be taken to a Welcome screen that displays your Senators and Represenative based on your five-digit zip code. Follow the instructions on the page and click on the "Add to MyOpenCongress" buttons next to a few items, which will then be added automatically to your profile. (This is not necessary for login, it's just an introduction to the process of tracking items on OpenCongress.) Then follow the link at the bottom to proceed to your personal profile.</p>
-->

<a name="tracked_items"></a>
<h3>Your Tracked Items Page</h3>
<p>First, <%= link_to 'create an account', signup_path %> with OpenCongress, it's free and only takes a minute. After clicking the confirmation link in your e-mail and proceeding through the Welcome page, you're taken to your profile's page of Tracked Items. There, you have a "bird's eye" view of all your tracked items and the updates associated with each since you last logged-in. Click on any button displayed there, for example, "Status Updates", to view a drop-down of the five latest updates for that tracked item and a link to view all. Click on a category name there, such as "Bills", to view more detailed updates for each tracked bill and suggestions on how to find other interesting bills to track throughout the site. At the top of your "Tracked Items" page is an RSS feed that delivers updates for all the things you're tracking. So if you wish to keep your friends or family up-to-date on everything you care about in Congress, they can easily follow along by subscribing to your profile's RSS feed of tracked items. It's a perfect way to spread useful knowledge about Congress with your blog readers or issue-based groups. There are three other tabs that form your profile: Actions, Friends, and About Me, about which more later.</p>

<a name="track_more"></a>
<h3>Track More: Bills, Members, and Issues</h3>
<p><%= image_tag 'track1.png', :class => 'noborder', :style => 'float: right' %>
  To track more items, just click the + button at the top of any page for bills, Senators, Representatives, or issues. It will automatically be added to your profile page as a tracked item. The other options listed next to "track" offer other ways to "subscribe" to updates for that bill (via RSS and more) and to "share" info about that bill (via a variety of social sharing services, or by using the built-in form to e-mail a friend).</p>

<a name="vote"></a>
<h3>Vote on Bills, Give Approval Ratings to Members</h3>
<p><%= image_tag 'vote1.png', :class => 'noborder', :style => 'float: right' %>On any bill page, you can state your support for or opposition to that bill by clicking thumbs-up or thumbs-down at the top of the page. You can also see the counts of all votes from OpenCongress users for that bill, which will soon be aggregated into a unique, sortable sitewide forum. (Users may change their votes at a later date, but each user has only one vote.) After voting, you can follow the link down to the comment boards for that bill and post a comment explaining your position. On pages for Senators and Representatives, you can similarly give a personal approval rating from 1-100 using the slider bar under that Member's portrait. To prevent unfair practices and inaccurate sample sizes, average sitewide approval ratings for Members of Congress appear only after five different users have issued an approval rating. These Member approval ratings will similarly be aggregated in a dynamic sitewide forum, coming soon.</p>

<a name="rate_comments"></a>
<h3>Comment and Rate Other Comments</h3>
<p><%= image_tag 'profile2.png', :class => 'noborder', :style => 'float: right; width: 50%' %>You have the ability to rate the helpfulness of any user's comment using the slider bar next to each comment, with 1 being least helpful and 10 being most helpful to you personally. Of course, other users can rate your comments as well, so the comment boards are designed to "filter up" the comments rated most helpful by users. Helpful user comments may be informed by news & blog coverage of that bill, or may shed some light on the substance of a bill, or some overlooked details, or its chances of passing. Issue-based membership groups can select a Congress-savvy point-person to contribute frequently-helpful comments about bills and thereby earn a high comment rating, boosting their influence on the comment boards. Visitors may post comments anonymously -- this is to encourage Congressional insiders (staffers, lobbyists, watchdog groups, even Members) to make public candid information about a bill, who supports or opposes it, and more. Users must login to rate comments and earn a comment rating themselves, though they are free to do so under a pseudonymous username. In addition, each user has the ability to set a personal Ratings Filter -- towards 10 in order to see only the comments rated most helpful, or towards 1 to see all comments on a page. For example, a user with a Rating Filter set to 7 will see only comments with an average user rating of 7 or higher, which will be a relatively small but likely informative sample of the overall comments. The more comments you rate, the better the comment boards work for everyone, so make frequent use of the slider bars!</p>

<a name="rate_news"></a>
<h3>Rate News and Blog Coverage, Too</h3>
<p><%= image_tag 'newsrate1.png', :class => 'noborder', :width => '230', :style => 'float: right;' %>Our flagship feature just became even more useful. Just as with rating user comments, users have the ability to rate the helpfulness of any news article or blog post on the site. Simply use the slider bar next to any link, with 10 being most helpful and 1 being least helpful. This feature will allow OpenCongress to collect, for any given bill, the news and blog coverage rated "most helpful" by our user community, and export this data via RSS, widgets, and on the site itself. So for any important bill, OpenCongress will soon publish user-generated lists of the best news and blog coverage of that bill available anywhere on the web, giving everyone the ability to get straight to the heart of the issues at hand. More on this useful new feature coming soon.</p>

<a name="my_actions"></a>
<h3>"My Actions" - Participate in Building Public Knowledge</h3>
<p>After trying the above-mentioned features, head back to your "My OpenCongress" profile by clicking the "My Actions" tab in the left-hand navigation bar. This tab keeps track of your latest comments and votes on the site, along with a few statistics that put your activity in perspective. Besides encouraging greater site participation and engagement with Congress, this tab serves as a one-stop survey of your recent thoughts on bills and votes "aye" or "nay". If you wish to share your comments and votes with other people, for example with your blog readers or your issue-based group, they can easily follow along by subscribing to your personal RSS feed of actions (located at the top of your "Actions" page).</p>

<a name="about_me"></a>
<h3>"About Me" - Find Your District</h3>
<p><%= image_tag 'aboutme1.png', :class => 'noborder', :width => '200', :style => 'float: right;' %>Next, click on the "About Me" tab. This is your personal page for sharing some basic info about yourself, your affiliations, and if you choose, different ways for others to contact you. Spend a minute filling in some of the fields. OpenCongress users are encouraged to share their preferred contact info on their "About Me" page: your website or IM address (coming soon, your email too). This allows other users to get in touch -- for example, users located in the same state or district, or users tracking similar bills and issues, or users with shared opinions on Congress. Don't forget to input your zip +4, located on this page under your regular five-digit zip code. This four-digit number allows OpenCongress to identify your specific Congressional district, and therefore your Representative. It also enables you to find other users of "My OpenCongress" in your very same district, people who share an interest in tracking Congress and encouraging transparency. Next up: invite them to be OpenCongress friends.</p>

<a name="my_friends"></a>
<h3>"My Friends" - Social Networking on OpenCongress</h3>
<p><%= image_tag 'profile1.png', :class => 'noborder', :style => 'float: right;width: 50%' %>Click on your "Friends" tab and you'll see a list of ways to find existing users of OpenCongress, as well as to invite new users to join. Follow the first link to view other OpenCongress users in your state, and if you've specified your zip +4, your Congressional district. To send a friend invitation to any of them, click on their username and then click the link on the right-hand side to "Add [username] to Friends". The user must first accept or decline your invitation over e-mail before they are added to your friends list. Once they do, however, you will see their latest activity in your stream of "Recent Actions" on your Friends tab, and you'll be able to view their full profile with all the info they've chosen to make public. Of course, you're not restricted to your state or district -- follow the links on the Friends tab to "Find users by email, username, or real name", "Import Friends from G-Mail, Yahoo!, or Hotmail," or "Invite more friends to join OpenCongress". With the first option, you can find friends who already have registered accounts by e-mail address, real name, or OpenCongress username. With the second, you can easily invite contacts from your email address book to join you on the site. With the third, you can open a smooth, integrated e-mail form to send an invitation to more of your friends and family to create a "My OpenCongress" account. We hope you'll invite new people to join you by creating accounts with this open, peer-to-peer resource for building public knowledge about Congress. As a way to get rolling, feel free to send a Friend invitation to <a href="/users/donnyshaw/profile">Donny Shaw</a>, who writes the OpenCongress Blog, and subscribe to his <a href="/users/donnyshaw/profile/bills/rss">RSS feed</a> of bills he's tracking, or simply his feed of <a href="/users/donnyshaw/profile/user_actions_rss">site actions</a>.</p>

<a name="bloggers_groups"></a>
<h3>Uses for Bloggers and Issue-Based Groups</h3>

<p>These new features are designed to be of use to a wide user community, but they're especially useful for bloggers and issue-based groups. Bloggers are encouraged to create a "My OpenCongress" profile and track the bills they're following -- whether their interests tends towards politics, technology, culture, or other issues. Their readers, by becoming friends with bloggers and viewing their tracked items on the site or over RSS, have a one-of-a-kind window on to the bills that most directly affect the issues they're reading about elsewhere. Issue-based groups are encouraged to appoint a "point person" on OpenCongress that tracks the issues they care about, be it a volunteer or a staffer who follows the legislative process professionally. Other group members can then become friends with that point person and follow recent activities, easily sharing amongst the group key updates about bills and votes that affect their issues. If you have a use case to share with us, let us know -- for example, if you used OpenCongress to share info about your Members' votes with your family, or if your issue-based group uses it to track the latest bills, send us a note (<script type="text/javascript">m("writeus","opencongress","org","1");</script>) and we may highlight your story on our blog. </p>

<a name="feedback"></a>
<h3>Send Us Questions and Feedback</h3>
<p>We're contiually soliciting feedback from our user community, revising the site to make it more accessible, and adding new features to encourage greater civic engagement. If this "My OpenCongress" tutorial was helpful, or if you have questions or suggestions for how it could be better, let us know by sending a note: writeus at opencongress dot org. We have a lot more useful new features planned to add over 2008, but feel free to send us feature requests, bug reports, user interface suggestions, and any other thoughts to that same e-mail,  and we'll get back to you as soon as we can. For more general information about this site's features, please visit <a href="/howtouse">How To Use OpenCongress</a>. Thanks for using OpenCongress!</p>

</div>
