<%= render :partial => "profile_nav" %>

<div class="profile_content">
		
<div id="linkcontent" style="clear:both;padding-top:10px;width:100%;">
<% unless @bookmarks.nil? || @bookmarks.empty? %>
<h3><%= @ptype %> I'm Tracking <%= link_to image_tag('/images/feed.jpg', {:alt => "Subscribe", :style => "border:0;vertical-align:middle;"}), :controller => 'user_feeds', :login => @user.login, :action =>  params[:person_type], :key => logged_in? ? current_user.feed_key : nil %></h3>
<br />
<ul>
	<% @bookmarks.each do |b| %>
	  <li class="people">
			<div style="float:right;"><%= button_to("Remove", :action => 'remove_bookmark', :id => b.id) if current_user == @user %></div> 
			<p><span style="font-size:16px;font-weight:bold;"><%= link_to(b.person.name, :controller => 'people', :action => 'show', :id => b.person.to_param) %></span> 
                        </p>
<p>
Tracked by <%= link_to b.person.bookmarks.count, :controller => 'friends', :action => 'tracking_person', :id => b.person.ident %> users</p>
	   <% items = Array.new 
	       items << b.person.last_x_bills(3).to_a
	       items.concat(b.person.votes(3).to_a)
	       items.flatten!
	       items.sort! { |x,y| y.sort_date <=> x.sort_date }
	   %>
	   <ul>
	   <%  items[0..2].each do |i| %>
	     <% if i.class.name == "Bill" %>
	       <li style="display:list-item;margin-top:5px;"><%= i.sort_date.to_s(:short) + ' - Introduced Bill: ' + link_to(i.typenumber, bill_path(i.ident)) + " : " + i.title_official %>
	       </li>
	     <% elsif i.class.name == "RollCallVote" %> 
	       <li style="display:list-item;margin-top:5px;"><%= i.sort_date.to_s(:short) + ' - ' + "Voted '" + i.to_s + "' on the question: " +
	              (link_to i.roll_call.question, :only_path => false, :controller => 'roll_call', :action => 'show', :id => i.roll_call) +
	                      " regarding #{link_to(i.roll_call.bill.typenumber, bill_path(i.roll_call.bill))}: #{i.roll_call.bill.title_common}" if i.roll_call.bill  %>
	       </li>
	     <% else %>
	       <li><%= "Vote: '" + i.to_s + "' on the question " + i.roll_call.question %>
	       </li>
	     <% end %>
	   <% end %>
	   </ul>
	</li>
	<% end %>
	</ul>
<p>Just click on the button under "Track This" at the top of any page for any Member of Congress. You'll have assembled an up-to-date overview of all the Senators and Representatives you're following in Congress and their latest actions.</p>
<p>To get started, you can track your <a href="/people/senators">Senators</a> and <a href="/people/representatives">Representative</a>, and then find others that interest you by browsing different lists such as the Senators <a href="/people/senators/most/news">most in the news</a>, Representatives <a href="/people/representatives/most/blogs">most written about</a> on blogs, or anyone mentioned recently on the <a href="/blog">OpenCongress blog</a>.</p>
<% else %>
<h3>No <%= @ptype %> Tracked Yet. Here's How To Get Started!</h3>
<p>Just click on the button under "Track This" at the top of any page for any Member of Congress. You'll have assembled an up-to-date overview of all the Senators and Representatives you're following in Congress and their latest actions.</p>
<p>To get started, you can track your state's <a href="/people/senators">Senators</a> and your district's <a href="/people/representatives">Representative</a>. Then you can find others by browsing different lists such as the Senators <a href="/people/senators/most/news">most in the news</a>, Representatives <a href="/people/representatives/most/blogs">most written about</a> on blogs, or anyone covered recently on the <a href="/blog">OpenCongress blog</a>.</p>
<% end %>

</div>

</div>
