<table class="combox" cellspacing="0" cellpadding="0">
	<tr>
		<td class="left"></td>
		<td class="mypnz_img">
			<%= image_tag 'mypn-small.png', :alt => "Add to My Political Notebook" %>
		</td>
		<td class="mypnz_txt">
			<% if logged_in? %>
							<% if PoliticalNotebook.find_or_create_from_user(current_user).already_contains? @commentary %>
								<span>Saved</span>
							<% else %>
							<script type='text/javascript'>
							$j().ready(function() {
							  $j('#faceform_<%= @commentary.id.to_s %>').jqm({ajax: '/users/<%= current_user.login %>/profile/political_notebook/notebook_links/faceform?id=<%= @commentary.id %>&type=<%= @commentary.class %>', trigger: 'a.trigger_<%= @commentary.id.to_s %>'});
							});
							</script>     
							<span id="addmypn_<%= @object.class %>_<%= @object.id %>"><a href="#" class="trigger_<%= @commentary.id.to_s %>" >Save</a></span>
							<div class="jqmWindow" id="faceform_<%= @commentary.id.to_s %>">
							 <img src="/images/indicator.gif" class="noborder" /> 
							</div>
							<% end %>
			 <% else %>
				<span><%= link_to("Save to Notebook", :controller => "account", :action => "login") %></span>
			 <% end %>     
      
			        
		 </td>
	<td class="center"></td>
	<td class="ratez">
		<span id="comm_rate_<%= @commentary.id.to_s%>">
		  <% if logged_in? %>
			Rate
			<% else %>
		 <%= link_to("Rate", :controller => "account", :action => "login") %>
		<% end %>
	      <span id="comm_rate_ind_<%= @commentary.id.to_s%>" style="display: none;">
	        <img src="/images/indicator.gif" class="noborder" />
	      </span>
	    </span>
	</td>
	<td class="ratez_form">
		<script type="text/javascript" language="javascript">
		$j(function(){ 
		 $j('.rate_<%= @commentary.id.to_s %>').rating({
			callback: function(value, link){
				new Ajax.Updater('comm_rate_<%= @commentary.id.to_s%>','/commentary/rate/<%= @commentary.id %>?value=' + value, {asynchronous:true, evalScripts:true}); return false;
				}
		}); 
		});
		</script>
		<form id="rating_<%= @commentary.id.to_s %>">  
			<% (1..10).each do |v| %>
		<input class="rate_<%= @commentary.id.to_s %> {split:2}" type="radio" name="rate_<%= @commentary.id.to_s %>" value="<%= v %>" <%= "disabled='disabled'" unless logged_in? %><%= @commentary.score == v ? "checked='checked'" : "" %> />
	  <% end %>
			</form>           
		 </td>
	</tr>
</table>