<div id="heading">
  <h2><%= @user.login %>'s Profile</h2>
</div>

<%= render :partial => "profile_nav" %>


	<div class="profile_content">
		<% if logged_in? && params[:login] == current_user.login %>
		<p><em>This page shows only the personal information that you have chosen to make
		 public. OpenCongress users are encouraged to share their preferred contact
		 info above: website or IM address (and coming soon, e-mail). This allows
		 other users to get in touch -- for example, users located in the same
		 state or district, or users tracking similar bills and issues, or users
		 with shared opinions on Congress.</em></p>
		<% else %>
		<p><em>This page shows only the personal information that this user has chosen to make public. OpenCongress users are encouraged to share their preferred contact info above: website or IM address (and coming soon, email). This allows other users to get in touch -- for example, users located in the same state or district, or users tracking similar bills and issues, or users with shared opinions on Congress.</em></p>
	    <% end %>	
	
		<div id="picture_detail" style="padding-top:30px;padding-bottom:30px;">
		<% if @user.main_picture %>
		<%= image_tag "#{BASE_URL}/images/users/" + @user.login + "_m.jpg", :alt => @user.login %>
		<% if @user == current_user %>
		<br /><%= link_to "Delete Current Image", {:action => "delete_images"} %>
		<% end %>
		<% else %>
		<%= image_tag "/images/anonymous.gif", :alt => "No Picture" %>
		<% end %>
		<% if @user == current_user %>
		<br /><%= toggler('ul_pic', 'Upload New Picture', 'close') %>
		<div id="ul_pic" style="display:none;">
			<% form_for :user, :url => { :action => "upload_pic" }, :html=>{:multipart=>true, :style=> "display:inline;"} do |form| %>
			<%= file_field "picture", "tmp_file", :size=> 20 %>  
			<%= submit_tag "Upload" %>
		</div>

		<% end %>
		<% else %>
	        <br/><br/>
	          <div id="fdiv">
	              <%= add_friend_link_ajax(@user) %>
	          </div>
		<% end %>
		</div>



	    
	<h3 class="dark personal">Personal Info</h3>
	
	<div id="linkcontent" class="pfile">
	  <% if @user == current_user %>
	  <span id="pshow" class="set">Change Privacy Settings
	    <%= link_to_function(image_tag("/images/private.png", :alt => "private", :title => "Private", :id => 'Privacy') + image_tag("/images/triangle-right.png", :alt => 'show', :title => 'Expand', :style => 'padding-left:4px;'), "Element.hide('pshow');['phide','plogin','pname','psite','pemail','pdist','pim','plocale','pzip','p1','p2'].each(Element.show);") %>
	  </span>
	  <span id="phide" class="set" style="display:none;">
	    <%= link_to_function(image_tag("/images/private.png", :alt => "private", :title => "Private", :id => 'Privacy') + image_tag("/images/triangle-down.png", :alt => 'close', :title => 'Close', :style => 'padding-left:4px;'), "['phide','plogin','pname','psite','pemail','pdist','pim','plocale','pzip','p1','p2'].each(Element.hide);Element.show('pshow');") %>
	  </span>
  
	  <% end %>
  

		<div id="about_me">
		<% if @user.can_view(:about_me, current_user) %>
		<p><label>About <%=h @user == current_user ? "me" : @user.login %></label> <%= draw_edit_in_place("about", 3) %></p>
		<% end %>
		</div>

   
	<table class="profile_table" cellspacing="0" cellpadding="0">
	
	
		<% if @user.can_view(:my_last_login_date, current_user) %>  
	    <tr class="<%= cycle('odd','even') %>">
	    	<td><label>Last Login</label></td>
	    	<td><% unless @user.last_login.blank? %><%= time_ago_in_words(@user.last_login) %> ago<% end %></td>
	      <td class="pset" id="plogin" style="display:none;">
	        <% form_for :privacy_option, @user.privacy_option, :url => {:controller => "/profile", :action => "update_privacy" } do |f| %>
	          <%= f.select PrivacyOption.column_names[3].to_sym, [["Public",2],["Friends", 1], ["Private",0]], {}, {:onchange => "this.form.submit();"} %>
	        <% end %>
	      </td>
	    </tr>
	    <% end %>
			<% if @user.can_view(:my_full_name, current_user) %>  
			<tr class="<%= cycle('odd','even') %>">
				<td><label>Name</label></td>
				<td><%= draw_edit_in_place("full_name") %></td>
				<td class="pset" id="pname" style="display:none;">
				  <% form_for :privacy_option, @user.privacy_option, :url => {:controller => "/profile", :action => "update_privacy" } do |f| %>
	          <%= f.select PrivacyOption.column_names[1].to_sym, [["Public",2],["Friends", 1], ["Private",0]], {}, {:onchange => "this.form.submit();"} %>
	        <% end %>
				</td>
			</tr>
			<% end %>
			<% if @user.can_view(:my_website, current_user) %>
			<tr class="<%= cycle('odd','even') %>">
				<td><label>Website</label></td>
				<td><%= draw_edit_in_place("homepage") %></td>
				<td class="pset" id="psite" style="display:none;">
				  <% form_for :privacy_option, @user.privacy_option, :url => {:controller => "/profile", :action => "update_privacy" } do |f| %>
	          <%= f.select PrivacyOption.column_names[6].to_sym, [["Public",2],["Friends", 1], ["Private",0]], {}, {:onchange => "this.form.submit();"} %>
	        <% end %>
				</td>
			</tr>
			<% end %>
			<% if @user.can_view(:my_email, current_user) %>
			<tr class="<%= cycle('odd','even') %>">
				<td><label>Email</label></td>
				<td><%= draw_edit_in_place("email") %></td>
				<td class="pset" id="pemail" style="display:none;">
				  <% form_for :privacy_option, @user.privacy_option, :url => {:controller => "/profile", :action => "update_privacy" } do |f| %>
	          <%= f.select PrivacyOption.column_names[2].to_sym, [["Public",2],["Friends", 1], ["Private",0]], {}, {:onchange => "this.form.submit();"} %>
	        <% end %>
				</td>
			</tr>
			<% end %>
			<tr class="<%= cycle('odd','even') %>">
				<td><label>Registered</label></td>
				<td><span><%=h @user.created_at ? time_ago_in_words(@user.created_at) + " ago." : Date.today()  %></span></td>
				<td id="p1" class="pset" style="display:none;">&nbsp;</td>
			</tr>
			<% unless @user.location.blank? %>
			<tr class="<%= cycle('odd','even') %>">
				<td><label>Location</label></td>
				<td><%= draw_edit_in_place("location") %></td>
				<td class="pset" id="plocale" style="display:none;">
				  <% form_for :privacy_option, @user.privacy_option, :url => {:controller => "/profile", :action => "update_privacy" } do |f| %>
	          <%= f.select PrivacyOption.column_names[7].to_sym, [["Public",2],["Friends", 1], ["Private",0]], {}, {:onchange => "this.form.submit();"} %>
	        <% end %>
				</td>
			</tr>
			<% end %>
	    <% if @user.can_view(:my_zip_code, current_user) %>
			<tr class="<%= cycle('odd','even') %>">
				<td><label>Zipcode</label></td>
				<td><%= draw_edit_in_place("zipcode") %></td>
				<td class="pset" id="pzip" style="display:none;">
				  <% form_for :privacy_option, @user.privacy_option, :url => {:controller => "/profile", :action => "update_privacy" } do |f| %>
	          <%= f.select PrivacyOption.column_names[4].to_sym, [["Public",2],["Friends", 1], ["Private",0]], {}, {:onchange => "this.form.submit();"} %>
	        <% end %>
				</td>
			</tr>
			<tr class="<%= cycle('odd','even') %>">
				<td><label>Zip +4:&nbsp;</label></td>
				<td><%= draw_edit_in_place("zip_four") %><%= link_to_function(image_tag("/images/question.png", :mouseover => '/images/question_hover.png', :alt => "What's This?", :title => "What's This?"), "Element.show('zip4help');", :class => 'question') if @user == current_user %></td>
				<td id="p2" class="pset" style="display:none;">&nbsp;</td>
			</tr>
			<tr>
			  <td style="padding:0;height:0;">
			    <%= dbox_start("zip4help", 160, -40, 350) %>
			    Knowing your zip code's 4-digit extension allows OpenCongress to find your Representative and allows you to find other users in your Congressional district. Don't worry if you don't know it offhand -- you can look it up easily on the <a href="http://zip4.usps.com/zip4/welcome.jsp" target="_blank">U.S. Postal Service site</a>.
	        <%= dbox_end %>
			  </td>
	    </tr>
	    <% end %>
	    <% if @user.can_view(:my_congressional_district, current_user) && ( @cd_text != "(Add Zip +4)" || @user == current_user ) %>
	    <tr class="<%= cycle('odd','even') %>">
	      <td><label>Cong. District</label></td>
	      <td><%= @cd_text %></td>
	      <td class="pset" id="pdist" style="display:none;">
				  <% form_for :privacy_option, @user.privacy_option, :url => {:controller => "/profile", :action => "update_privacy" } do |f| %>
	          <%= f.select PrivacyOption.column_names[12].to_sym, [["Public",2],["Friends", 1], ["Private",0]], {}, {:onchange => "this.form.submit();"} %>
	        <% end %>
				</td>
	    </tr>
	    <% end %>
	    <% if @user.can_view(:my_instant_messanger_names, current_user) %>
	      <% for i in ["chat_aim","chat_msn","chat_yahoo","chat_gtalk","chat_icq"] do %>
				<% unless @user[i].blank? && @user != current_user %>
				  <% # logger.info i %>
	  			<tr class="<%= cycle('odd','even') %>">
	  				<td><label><%= i.gsub(/chat_/, '').upcase %></label></td>
	  				<td><%= draw_edit_in_place(i) %></td>
	  				<td class="pset" id="pim" style="display:none;">
	    			  IM Names<br /><% form_for :privacy_option, @user.privacy_option, :url => {:controller => "/profile", :action => "update_privacy" } do |f| %>
	              <%= f.select PrivacyOption.column_names[5].to_sym, [["Public",2],["Friends", 1], ["Private",0]], {}, {:onchange => "this.form.submit();"} %>
	            <% end %>
	    			</td>
	  			</tr>
				<% end %>
				<% end %>
			<% end %>
			</table>
			<% if logged_in? && params[:login] == current_user.login %>
				<%= render :partial => "settings" %>
				<% else %>

				<% end %>


    </div>

		<% if @senators%>

		<h3 class="darkline">Senators Representing Your State</h3>
		<p>
		<div>
		<%= render :partial => 'people/people_list', :locals => { :people => @senators, :show_contact => true }%></p>
		<% end %>

		<% if @reps %>
		<br />
		<h3 class="darkline">Representatives Representing Your Zipcode</h3>
			<% if @reps.size > 1 %>
			<p>
				We found multiple Representatives serving your zipcode. You can narrow the representatives down by adding your zipcode's 4 digit extension to your profile. Don't worry if you don't know it offhand -- you can look it up easily on the <a href="http://zip4.usps.com/zip4/welcome.jsp" target="_blank">U.S. Postal Service site</a>.
			</p>
			<% end %>

		<p><div><%= render :partial => 'people/people_list', :locals => { :people => @reps, :show_contact => true }%></p>
		<% end %>

     </div>
</div>
<br />

