<div style="margin: 20px;">
  <% form_for @site_text_page, :url => { :action => "update", :id => @site_text_page } do |f| %>
    <%= f.error_messages %>

    <%= f.label :title_tags, 'Title Tags' %>:<br />
    <%= f.text_field :title_tags %><br />
    <%= f.label :meta_description, 'Meta Description' %>:<br />
    <%= f.text_area :meta_description, :rows => 3 %><br />
    <%= f.label :meta_keywords, 'Meta Keywords' %>:<br />
    <%= f.text_field :meta_keywords %><br />
    <%= f.label :title_desc, 'Title Description' %>:<br />
    <%= f.text_area :title_desc, :rows => 3 %><br />
    <p>
      <%= f.submit 'Update' %>
    </p>
  <% end %>
</div>