<h3>News/Blog Scraping</h3>
<table border=1 cellpadding=8>
  <tr>
    <td>Newest news for person</td>
    <td><%= link_to @newest_person_news.commentariable.name, news_person_url(@newest_person_news.commentariable) %></td>
    <td bgcolor="<%= bgcolor_for_commentary_date(@newest_person_news.date) %>"><%= @newest_person_news.date %></td>
  </tr>
  <tr>
    <td>Newest blog for person</td>
    <td><%= link_to @newest_person_blog.commentariable.name, blogs_person_url(@newest_person_blog.commentariable) %></td>
    <td bgcolor="<%= bgcolor_for_commentary_date(@newest_person_blog.date) %>"><%= @newest_person_blog.date %></td>
  </tr>
  <tr>
    <td>Newest news for bill</td>
    <td><%= link_to @newest_bill_news.commentariable.title_typenumber_only, news_bill_path(@newest_bill_news.commentariable) %></td>
    <td bgcolor="<%= bgcolor_for_commentary_date(@newest_bill_news.date) %>"><%= @newest_bill_news.date %></td>
  </tr>
  <tr>
    <td>Newest blog for bill</td>
    <td><%= link_to @newest_bill_blog.commentariable.title_typenumber_only, blogs_bill_path(@newest_bill_blog.commentariable) %></td>
    <td bgcolor="<%= bgcolor_for_commentary_date(@newest_bill_blog.date) %>"><%= @newest_bill_blog.date %></td>
  </tr>
</table>
<br /><br />
<h3>Govtrack Data</h3>

<table border=1 cellpadding=8>
  <tr>
    <td>Latest bill action:</td>
    <td><%= link_to((@newest_action.amendment.nil? ? @newest_action.bill.title_typenumber_only : @newest_action.amendment.bill.title_typenumber_only), bill_url(@newest_action.bill.ident)) %>: <%= @newest_action.text %></td>
    <td bgcolor="<%= bgcolor_for_govtrack_date(@newest_action.datetime) %>"><%= @newest_action.datetime %></td>
  </tr>
  <tr>
    <td>Latest Roll Call Date Comparison: </td>
    <td>Govtrack: <%= @latest_roll_call_date_govtrack %></td>
    <td bgcolor="<%= bgcolor_for_roll_call_date(@latest_roll_call_date_govtrack, @latest_roll_call_oc.date) %>">OpenCongress: <%= @latest_roll_call_oc.date %></td>
  </tr>

</table>
