<h2>Overall Stats</h2>
<p style="font-size:14px;font-weight:bold;">
  Total Users: <%= @total_users%><br/>
  Total Items Tracked: <%= @total_bookmarks %><br/>
  Total Bill Votes: <%= @total_billvotes %><br/>
  Total Approval Ratings: <%= @total_papproval %><br/>
  Total Comments: <%= @total_comments %><br/>
  Total Friendships: <%= @total_friendships %><br/>

</p>
<h2>Recent Stats</h2>
<%= @users %>
<br/>
<br/>
<%= @bill_bookmarks %>
<br/>
<br/>
<%= @sen_bookmarks %>
<br/>
<br/>
<%= @rep_bookmarks %>
<br/>
<br/>
<%= @issue_bookmarks %>
<br/>
<br/>
<%= @teh_comments %>
<br/>
<br/>
<%= @bill_votes_aye %>
<br/>
<br/>
<%= @bill_votes_nay %>
<br/>
<br/>
<%= @confirmed_friendships %>
<br/>
<br/>
<%= @unconfirmed_friendships %>
<br/>
<br/>
<%= @news_ratings_data %>
<br/>
<br/>
<%= @blog_ratings_data %>
<br/>
<br/>
<%= @comment_ratings_data %>
