<% from_bookmarklet ||= 'false' %>
<% remote_form_for :notebook_video, 
				   :url => political_notebook_notebook_videos_path({:login =>current_user.login}),
				   :html => {:id => "add-video-form", :class => "notebook-form"} do |f| %>
				

				<h3>Add a Video</h3>			
				<input type="hidden" name="item_type" value="NotebookVideo" />				
				<p><label for="url">URL</label><%= f.hidden_field :url %></p>				
				<p><label class="require" for="url">Embed</label><%= f.text_area :embed ,:rows => 4, :onblur=>"NotebookForm.setTitleFromEmbed(this);" %></p>
				<p><label for="title">Title</label><span id="finding-title-status" style="display:none">finding title....</span><%= f.text_field :title %></p>				
				<p><label for="description">Description</label><%= f.text_area :description,:rows => 4 %></p>
				<p><label for="tags">Tags<em>[separate, with, a comma, to add multiple, tags]</em></label><%= f.text_field :tag_list %></p>
        <%= hidden_field_tag 'from_bookmarklet', from_bookmarklet %>
				<input type="submit" value="Add" /><!-- or <a href="javascript:void(0);" onclick="NotebookForm.hideAllForms();">Cancel</a>-->
<% end %>