<ul>
  <li id="notebook_item_<%= listitem.id %>">
    <%= image_tag 'mypn-video.png', :alt => 'Video', :title => 'Video', :class => 'mypn-icon' %>
    <%= link_to h(listitem.title), listitem.url %>
    <br />
    <% unless listitem.description.blank? %>
    <%= h listitem.description %><br />
    <% end %>
    <% unless listitem.embed.blank? %>
    <div style="height:<%= div_height(listitem.height) %>px;">

      <%= listitem.embed %><br />
    </div>
    <% end %>

    <%= render :partial => 'political_notebooks/item_meta', :object => listitem %>
  </li>
</ul>