<h1>Editing notebook_video</h1>

<%= error_messages_for :notebook_video %>

<% form_for(@notebook_video) do |f| %>
  <p>
    <b>Political notebook</b><br />
    <%= f.text_field :political_notebook_id %>
  </p>

  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Url</b><br />
    <%= f.text_field :url %>
  </p>

  <p>
    <b>Embed</b><br />
    <%= f.text_area :embed %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @notebook_video %> |
<%= link_to 'Back', notebook_videos_path %>
