<% if request.env['HTTP_USER_AGENT'] && request.env['HTTP_USER_AGENT'].downcase.include?("msie 6") %>
  <div class="ie6">
  Hi there! We have some good news and some OK news. The good news is that OpenCongress has launched a comprehensive redesign and a major site upgrade! 
  The OK news is that the site will not display correctly in the web browser you're using, which is Internet Explorer version 6. 
  Sorry about this -- the site appears correctly in Internet Explorer version 7 and other browsers, just not version 6 at this time. 
  It will be fixed shortly over August 2009, but in the meantime, we hope you'll still use OpenCongress -- 
  the easiest way is to <a href="http://www.mozilla.com/en-US/firefox/personal.html?from=getfirefox">Get Firefox</a>, the awesome free and open-source 
  web browser built by the public benefit organization Mozilla. Again, OpenCongress will soon look fine in IE version 6, just not at the moment. Thanks for your patience!
  </div>
<% end %>

<div id="header" class="clearfix">

	<h1><a class="logo" href="/" title="link to the home page">
	<img src="/stylesheets/img/open-congress.png" alt="OpenCongress -" /><br/><br/>
	<%= "#{@page_title_prefix} - " if @page_title_prefix %><%= truncate(@page_title, :length => 100) %> <%= truncate(@head_title, :length => 90) if @head_title %></a></h1>

	<div class="right">

			<div id="user_account">
				<p>				
					<% if logged_in? %>
  					Welcome <b><%= link_to h(current_user.login), :controller => "profile", :login => current_user.login, :action => "profile" %></b> | 
  					<%= link_to "Logout", :controller => "/account", :action => "logout" %>
  				  <% if can_blog? %>
  				    <% if @user_object %>
  				    <% else %>
              <% end %>
            <% end %>   
					<% else %>
										
						<%= link_to_function "Search", "['login','login-link','search-toggle'].each(Element.toggle);", :id => "search-toggle", :style => "display:none;" %>
						<%= link_to_function "Login", "['login','login-link','search-toggle'].each(Element.toggle);", {:controller => "/account", :action => "login"}, :id => "login-link" %> | <%= link_to "Register", :controller => "account", :action => "signup" %>
					<% end %>
					 
				</p>
			</div>

   	  <span id="autocomplete-spin" style="display: none;">
        <img src="/stylesheets/img/spin.gif" alt="Working..." />
      </span>
      
			<div id="login" style="display:none;">
				<form action='/login' method='post'>
					<input id="login_field" name="user[login]" size="10" type="text" value="username" onfocus="if (this.value==this.defaultValue) this.value='';" />
					<input id="password_field" name="user[password]" size="10" type="password" value="Password" onfocus="if (this.value==this.defaultValue) this.value='';" />
					<input name="commit" type="image" src="/stylesheets/img/login.png" value="Login" />
				</form>
				
			
										
				<a href="/login">OpenID Login</a>


				
			</div>
 

 	<div id="search">

		
  <form action="/search/result" id="form-search" method="get">
  	<div class="search">
  		<label for="search-field">Search</label>
  		<input name="q" id="search-field" type="text" value="<%= @query.blank? ? '' : @query %>" />
  		<input type="image" src="/stylesheets/img/search_submit.gif" name="submit" id="search_submit" value="Search" />
  		<input id="search_congress_111" name="search_congress[111]" type="hidden" value="111" /> 
  		<input id="search_bills" name="search_bills" type="hidden" value="1" />
  		<input id="search_people" name="search_people" type="hidden" value="1" />
  		<input id="search_committees" name="search_committees" type="hidden" value="1" />
  		<input id="search_issues" name="search_issues" type="hidden" value="1" />
  		<input id="search_comments" name="search_comments" type="hidden" value="1" />
  		<input id="search_gossip_blog" name="search_gossip_blog" type="hidden" value="0" />
  	
  					  	  	<a class="ad_search" href="/search">Advanced Search</a>


  	
  		<% if logged_in? %>
  			<% if can_blog? %>
  			  	<div class="seo">
  					<% if @user_object %>
		                <p><%= link_to 'Manage SEO/Site Text for this Page', {:controller => 'admin/site_text_pages', :action => 'edit', :pageparams => params, :page_text_editable_type => @user_object.class.name.capitalize, :page_text_editable_id => @user_object.id }  %></p>
  				 	<% else %>
                		<p><%= link_to 'Manage SEO/Site Text for this Page', {:controller => 'admin/site_text_pages', :action => 'edit', :pageparams => params }  %></p>
              		<% end %>
            	</div>
            		<% end %>   
				
			<% else %>
			<% end %>
				

  	
  	</div>
  </form>
	
	<div id="search-autocomplete-choices" class="autocomplete"></div>
</div>
<script type="text/javascript">
new Ajax.Autocompleter("search-field", "search-autocomplete-choices", "/search/autocomplete", {
  paramName: "value", 
  minChars: 3, 
  indicator: 'autocomplete-spin'
});
</script>
	</div> 
	
<div class="center">
  <% unless params[:controller] == 'index' %><p><span>Everyone can be an insider</span></p><% end %>   <p> <a class="learn_it" href="/#pitch">Learn how to track, comment, and share</a>  </p>
 




<p class="project">
A project of <a href="http://participatorypolitics.org/" target="_blank">PPF</a> and <a href="http://sunlightfoundation.com/" target="_blank">Sunlight</a>
</p>
</div>

</div> <!-- // header -->

<div id="nav" class="un">
	<div class="left">
		<div class="right">
			<ul>
				<li id="bill_nav"><%= link_to '<span>Bills</span>', :controller => 'bill', :action => :all  %></li>
				<li id="sens_nav"><%= link_to '<span>Senators</span>', :controller => 'people', :action => :senators  %></li>
				<li id="reps_nav"><%= link_to '<span>Representatives</span>', :controller => 'people', :action => :representatives  %></li>
				<li id="vote_nav"><%= link_to '<span>Votes</span>', :controller => 'roll_call' %></li>		
				<li id="ishu_nav"><%= link_to '<span>Issues</span>', :controller => 'issue' %></li>
				<li id="comm_nav"><%= link_to '<span>Committees</span>', :controller => 'committee' %></li>
				<li id="muny_nav"><%= link_to '<span>The Money Trail</span>', :controller => 'money_trail' %></li>
				<li id="wiki_nav" class="sub"><%= link_to '<span>Wiki</span>', WIKI_URL  %></li>		
				<li id="blog_nav" class="sub"><%= link_to '<span>Blog</span>', :controller => 'blog' %></li>
				<li id="tool_nav" class="sub">		
				<%= link_to '<span>Resources <img src="/stylesheets/img/tool_arrow-trans.png" alt="&gt;" /></span>', :controller => 'resources' %>
				<ul class="sub">
					<li id="compare_nav"><%= link_to '<span>Vote Comparison</span>', :controller => 'people', :action => 'compare' %></li> 
					<li id="widget_nav"><a href="/resources#widgets"><span>Site Widgets</span></a></li>
					<li id="states_nav"><%= link_to '<span>States</span>', :controller => 'states' %></li>
					<li id="howitworks_nav"><a href="/about/howtouse"><span>How-to Use OpenCongress</span></a></li>
					<li id="twitter_nav"><a href="http://twitter.com/opencongress"><span>Follow Our Twitter</span></a></li>
					<!--<li id="howitworks_nav"><a href="#"><span>How Congress Works</span></a></li>-->
					<li id="allresources_nav"><%= link_to '<span><strong>All Resources</strong></span>', :controller => 'resources', :anchor => 'all' %></li>
				</ul>
				</li>
				<!-- <li id="disc_nav" class="sub"><%= link_to '<span>Discussion</span>', '/forum/categories.php' %></li> -->
				<li id="battle_nav" class="sub"><%= link_to '<span>Battle Royale</span>', :controller => 'battle_royale' %></li> 

			</ul>
		</div>
	</div>
</div>
