<div id="header" class="clearfix">

	<div class="bar">
		<p class="project">
			A project of the <a href="http://participatorypolitics.org/" target="_blank">Participatory Politics Foundation</a> and the <a href="http://sunlightfoundation.com/" target="_blank">Sunlight Foundation</a>
		</p>
		
		<div id="user_account">
		  <%= fb_connect_async_js %>
			<% if logged_in? %>

				Welcome <b><%= link_to h(current_user.login), user_profile_url(current_user.login) %></b> |
				
		  	<% if can_blog? %>
		    	<% if @user_object %>
		    		<%= link_to 'Manage SEO/Site Text for this Page', {:controller => 'admin/site_text_pages', :action => 'edit', :pageparams => params, :page_text_editable_type => @user_object.class.name.capitalize, :page_text_editable_id => @user_object.id }  %> |

		    	<% else %>
            <%= link_to 'Manage SEO/Site Text for this Page', {:controller => 'admin/site_text_pages', :action => 'edit', :pageparams => params }  %>  |
  				<% end %>
			  <% end %>   
		
    <% if @facebook_user %>
		      <%= fb_logout_link("Logout", url_for(:controller => 'logout', :only_path => false)) %>
		    <% else %>
		  	  <%= link_to "Logout", logout_path %>
		  	  <%= fb_login_and_redirect(request.url, {:text => 'Connect with Facebook', :perms => 'email'}) %>
		    <% end %>
		<% else %>	

				<%= link_to_function "Search", "['login','login-link','search', 'search-toggle'].each(Element.toggle);", :id => "search-toggle", :style => "display:none;" %>
				<%= link_to_function "Login with OC", "['login','login-link','search','search-toggle'].each(Element.toggle);", login_url, :id => "login-link" %> &nbsp;&nbsp;&nbsp; 
				<%= link_to "Register", :controller => 'account', :action => 'signup' %>  
				<%= fb_login_and_redirect(request.url, {:text => 'Login with Facebook', :perms => 'email'}) %>
			<% end %>
		</div>	
	</div>

  
  <div style="position:absolute;z-index:5555;top:50px;height:25px;background-color:black;padding-top:5px;width:260px;text-align:center"><a href="http://americancensorship.org"><img src="http://americancensorship.org/images/stop-censorship-small.png"/></a></div>
  
	<h1><a class="logo" href="/" title="link to the home page"><%= image_tag 'open-congress.png', :alt => 'OpenCongress -' %><%= "#{@page_title_prefix} - " if @page_title_prefix %><%= truncate(@page_title, :length => 100) %> <%= truncate(@head_title, :length => 90) if @head_title %></a></h1>

	<div class="right">

		<span id="autocomplete-spin" style="display: none;">
			<%= image_tag 'spin.gif', :alt => 'Working...' %>
		</span>
      
		<div id="login" style="display:none;">
			<form action="/login" method="post">
				<input id="login_field" name="user[login]" size="10" type="text" value="Your Username" onfocus="if (this.value==this.defaultValue) this.value='';" />
				<input id="password_field" name="user[password]" size="10" type="password" value="Password" onfocus="if (this.value==this.defaultValue) this.value='';" />
				<input name="commit" type="image" src="<%= image_path 'login.png' %>" value="Login" />
			</form>
												
			<div class="login_options">
			  <a href="/login">or Login with your OpenID</a> - 
			  <a href="/account/forgot_password">Forgot Password?</a>
			</div>
		</div>
		
		<form action="/search/result" id="form-search" method="get">
   	 	<div id="search">

         <%= toggler("advanced", "Click to Show", "Click to Hide", "ad_search_down", "ad_search_up").html_safe %>

   				<div class="search">
   					<label for="search-field">Search</label>
   					<input name="q" id="search-field" type="text" value="<%= @query.blank? ? '' : @query %>" />
   					<input class="search_button" type="image" src="<%= image_path 'search_submit.gif' %>" name="submit" id="search_submit" value="Search" />
   				</div>

   			<div id="search-autocomplete-choices" class="autocomplete"></div>
   		</div>

   		<script type="text/javascript">
   		new Ajax.Autocompleter("search-field", "search-autocomplete-choices", "/search/autocomplete", {
   		  paramName: "value", 
   		  minChars: 3, 
   		  indicator: 'autocomplete-spin'
   		});
   		</script>
		
   	</div> 
		
   	<div class="tagline">
		
   		<p>A non-profit, non-partisan public resource</p>
   		Everyone can be an insider. <a class="learn_it" href="/#pitch">Learn how</a>.	
   	</div>

      <div id="advanced" style="display: none;">
      		  <%= render :partial => 'search/big_search_form' %>
      </div>

</form>

</div> <!-- // header -->




<div id="nav" class="un">
	<div class="left">
		<div class="right">
			<ul>
				<li id="bill_nav"><%= link_to '<span>Bills</span>'.html_safe, :controller => 'bill', :action => :all  %></li>
				<li id="sens_nav"><%= link_to '<span>Senators</span>'.html_safe, :controller => 'people', :action => :senators  %></li>
				<li id="reps_nav"><%= link_to '<span>Representatives</span>'.html_safe, :controller => 'people', :action => :representatives  %></li>
				<li id="vote_nav"><%= link_to '<span>Votes</span>'.html_safe, :controller => 'roll_call' %></li>		
				<li id="ishu_nav"><%= link_to '<span>Issues</span>'.html_safe, :controller => 'issue' %></li>
				<li id="comm_nav"><%= link_to '<span>Committees</span>'.html_safe, :controller => 'committee' %></li>
				<li id="muny_nav"><%= link_to '<span>The Money Trail</span>'.html_safe, :controller => 'money_trail' %></li>
				<li id="blog_nav" class="sub"><%= link_to '<span>Blog</span>'.html_safe, blogs_url %></li>
        <li id="groups_nav" class="sub">
          <%= link_to ('<span>Groups ' + image_tag('tool_arrow-trans.png', :alt => '&gt;') + '</span>').html_safe, groups_url %>
          <ul class="sub">
            <% if logged_in? %>
              <% unless current_user.active_groups.empty? %>
                <% current_user.active_groups.each do |g| %>
                  <% group_link = "<span class='groupname'>#{g.name}</span>" %>
                  <% group_link += "<span class='inline-count'>#{g.unviewed_posts(current_user)}</span>" if g.unviewed_posts(current_user) > 0 %>
                  <li><%= link_to group_link.html_safe, group_path(g) %></li>
                <% end %>
                <li><%= link_to "<span>View all my groups</span>".html_safe, user_groups_path(current_user.login) %></li>
              <% end %>
            <% end %>
            <li><%= link_to "<span>Start a New Group</span>".html_safe, new_group_path %></li>
          </ul>
        </li>
				<li id="tool_nav" class="sub">		
				<%= link_to ('<span>Resources ' + image_tag('tool_arrow-trans.png', :alt => '&gt;') + '</span>').html_safe, tools_path %>
				<ul class="sub">
  				<li id="wiki_nav"><%= link_to '<span>Wiki</span>'.html_safe, Settings.wiki_base_url  %></li>		
					<li id="compare_nav"><%= link_to '<span>Vote Comparison</span>'.html_safe, :controller => 'people', :action => 'compare' %></li> 
					<li id="widget_nav"><a href="/widgets"><span>Site Widgets</span></a></li>
					<li id="states_nav"><%= link_to '<span>States</span>'.html_safe, states_path %></li>
					<li id="howitworks_nav"><a href="/about/howtouse"><span>How-to Use OpenCongress</span></a></li>
					<li id="twitter_nav"><a href="http://twitter.com/opencongress"><span>Follow Our Twitter</span></a></li>
					<li id="allresources_nav"><%= link_to '<span><strong>All Resources</strong></span>'.html_safe, tools_path(:anchor => 'all') %></li>
				</ul>
				</li>

				<!--<li id="battle_nav" class="sub"><%= link_to '<span>Battle Royale</span>', :controller => 'battle_royale' %></li> -->

			</ul>
		</div>
	</div>
</div>
