<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= render :partial => 'shared/analytics_head' %>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <%= meta_description_tag %>
  <%= meta_keywords_tag %>
  <%= csrf_meta_tag %>

  <title><%= page_title %></title>

  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="icon" type="image/png" href="/favicon.png" /> 

  <%= bookmarking_image.html_safe %>
    
  <% unless content_for?(:javascripts) %>
    <%= include_javascripts :defaults, :common  %>
    <script>
      var $j = jQuery.noConflict();
    </script>
    <%= javascript_include_tag 'jquery.jcarousel' if @carousel %>
    <%= javascript_include_tag 'swfobject' if (@roll_call || @roll_calls) %>
    <%= javascript_include_tag 'http://metavid.org/w/js2/mwEmbed/jsScriptLoader.php?class=mv_embed' if @include_vids_styles %>
    <!--[if lt IE 7]>
    <%= javascript_include_tag 'ie8/IE8' %>
    <![endif]-->
  <% else %>
    <%= content_for(:javascripts) %>
  <% end %>

  <% unless content_for?(:stylesheets) %>
    <%= include_stylesheets :application, :media => 'all' %>

    <%= stylesheet_link_tag('admin') if @admin_styles %>

    <% unless @admin_styles %>
        <%= stylesheet_link_tag(controller.controller_name) if FileTest.exist?(Rails.root.join("public", "stylesheets", controller.controller_name + ".css")) %>
    <% end %>

    <%= stylesheet_link_tag 'vids' if @include_vids_styles %>
    <%= stylesheet_link_tag 'jquery.jcarousel' if @carousel %>
    <%= stylesheet_link_tag 'oc-wiki' if @include_wiki_styles %>

    <!--[if lt IE 7]><style type="text/css">@import url("/stylesheets/ie6.css");</style><![endif]-->
    <!--[if IE 7]><style type="text/css">@import url("/stylesheets/ie7.css");</style><![endif]-->
  <% else %>
    <%= content_for(:stylesheets) %>
  <% end %>
  
  <%= remote_forgery_protection %>

  <%= yield(:header) %>

  <% if @atom %>
    <link rel="alternate" type="application/atom+xml" title="<%= @atom['title'] %> actions" href="<%= @atom['link'] %>" />
  <% end %>
</head>

<body <%= id_class.html_safe %>>

  <div style="display:none;" id="loading">
    <div><%= image_tag 'throbber.gif', :border=> '0', :alt => 'Loading' %></div>
  </div>

<div class="top_bar">

  <div id="wrapper">
    <%= render :partial => 'layouts/header' %>

	 
    <div id="content" class="clearfix">
      <%= render :partial => 'shared/notices' %>

      <div class="banner">


        <!-- <p>The easiest way to email your members of Congress</p> -->
        <p>Help keep OpenCongress up and running</p>

        <span class="big_arrow"></span><a class="donate_now" rel="#donate" href="/donate" id="donate_button">Donate Now</a>
        <span class="left_cap"></span>
        <span class="right_cap"></span>
      </div>

      <%= render :partial => 'layouts/user_nav' %>
      <%= info_box %>
      <div class="inner">

      <% if @user_object || @related_bills || @related_people || @related_issues || 
            @related_committees || @related_industries || @related_gossip || @custom_sidebar %>
        <div id="content-main">
      <% end %>               
		
			<% if @topic %>
				<div id="topic">        
			    <%= render :partial => "#{@topic.class.to_s.underscore}/topic", :object => @topic %>
				</div>
			<% end %>
		  
			<% if @profile_nav %>
				<%= render :partial => "profile/logged_in_profile_nav", :locals => {:user => @profile_nav} %>
			<% end %>

			<% if @content_for_sortby || @content_for_timeframe %>

        <%= @content_for_sortby %>
        <%= @content_for_timeframe %>

     	<% end %>
      
	 
			<%= yield %>
	 
   
      <% if @user_object || @related_bills || @related_people || @related_issues || @related_committees || @related_industries || @related_gossip || @custom_sidebar %>
	  
	  </div> <!-- // content-main --> 
      <% end %>

    
    <% if @user_object %>       
      <%= render :partial => 'shared/user_content', :locals => {:object => @user_object} %>
    <% elsif @related_bills %>
      <%= render :partial => 'bill/related_bills_panel', :locals => { :related_bills => @related_bills }%>

    <% elsif @related_issues %>
	    <%= render :partial => 'issue/related_issues_panel', :locals => { :related_issues => @related_issues }%>
 
  	<% elsif @related_industries %>
  	  <%= render :partial => 'industry/related_industries_panel', :locals => { :related_industries => @related_industries }%> 
  	<% elsif @related_gossip %>
  	  <%= render :partial => 'gossip/related_gossip_panel', :locals => { :related_gossip => @related_gossip }%>
    <% elsif @custom_sidebar %>
      <%= render :partial => 'shared/custom_sidebar_panel', :locals => { :sidebar => @custom_sidebar }%>
	  <% end %>
	
	<div class="clearfix"></div>
	
	</div> <!-- // inner -->

    </div> <!-- // content -->


	  <%# cache("layout_footer", :expires_in => 3.hours) do %>
	    <%= render :partial => 'layouts/footer' %>
    <%# end %>
   
  </div> <!-- // wrapper -->



  <div class="clear">&nbsp;</div>
  </div> <!-- // top bar -->
    
  <%= render :partial => 'shared/analytics_foot' %>
  
</body>
</html>