<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="OpenCongress brings together official government data with news and blog coverage to give you the real story behind each bill." />
  <% if @meta_keywords %>
    <meta name="keywords" content="<%= @meta_keywords %>" />
  <% end %>
  <title>OpenCongress - Track bills, votes, senators, and representatives in the U.S. Congress</title>
	<link rel="shortcut icon" href="/favicon.ico" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <%= bookmarking_image %>

  <%= include_stylesheets :frontpage, :media => 'all' %>

  <!--[if lt IE 7]><style type="text/css">@import url("/stylesheets/ie6.css");</style><![endif]-->

  <!--[if IE 7]><style type="text/css">@import url("/stylesheets/ie7.css");</style><![endif]-->
  
 	<!--[if lt IE 7]>
	<%= javascript_include_tag 'ie8/IE8' %>
	<![endif]-->
  
  <%= include_javascripts :defaults, :frontpage %>
 
<script type="text/javascript">
 // Disable and pause carousel autoscrolling
 function mycarousel_initCallback(a){a.buttonNext.bind("click",function(){a.startAuto(0)});a.buttonPrev.bind("click",
 function(){a.startAuto(0)});a.clip.hover(function(){a.stopAuto()},function(){a.startAuto()})}$j(document).ready(function(){$j("#why_carousel").jcarousel({auto:5,wrap:"last",initCallback:mycarousel_initCallback})});
</script>
</head>

<body id="home">
  <div style="display:none;" id="loading">
    <div><%= image_tag 'throbber.gif', :border=> '0', :alt => 'Loading' %></div>
  </div>

<div class="top_bar">
  <div id="wrapper">

	  <%= render :partial => 'layouts/header' %>

    <%= yield %>

  </div>
  <!-- // wrapper -->
  <div class="clear">&nbsp;</div>
  </div> <!-- // top bar -->
  
    <% cache("layout_footer", :expires_in => 3.hours) do %>
      <%= render :partial => 'layouts/footer' %>
    <% end %>

    <% if ENV['RAILS_ENV'] == 'production' %>
        <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script><script type="text/javascript">_uacct = "UA-1208819-1";urchinTracker();</script>
   <% end %>
</body>
</html>
