- content_for(:javascripts) do
  -# jQuery & jQuery UI via http://code.google.com/apis/libraries/devguide.html
  = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"
  = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"
  = include_javascripts :widget_config
  <!--[if lt IE 9]>
  %script(src='//html5shim.googlecode.com/svn/trunk/html5.js')
  <![endif]-->

- content_for(:stylesheets) do 
  = include_stylesheets :widgets

= render :file => 'layouts/application'